﻿@{
    Layout = null;
}

@model IEnumerable<Common.Models.Admin.ViewModel.viewNewsletterModel>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Alle nieuwsbrieven</div>
                </div>
                <div class="panel-body">
                      <div class="pull-right">
                        @Html.TextBox("datatableText", null, new { @class = "form-control", @placeholder="Zoeken.." })     
                    </div>
                   
                    <table id="datatable" class="table table-striped" data-filter="#datatableText" data-filter-minimum="1">
                        <thead>
                            <tr>
                                <th>Onderwerp</th>
                                <th data-hide="phone">Geplande datum</th>
                                <th data-hide="phone">Aantal bijgevoegde bestanden</th>
                                <th data-hide="phone">Status</th>
                                <th data-hide="phone, tablet">Wijzigen</th>
                                <th data-hide="phone, tablet">Verwijderen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var newsletter in Model)
                            {
                                <tr>
                                    <td>@newsletter.Subject</td>
                                    <td>@(newsletter.DateLaunch != DateTime.MinValue ? Html.Raw(string.Format("{0:dd-MM-yyyy HHH:mm}", newsletter.DateLaunch)) : Html.Raw("Geen"))</td>
                                    <td>@newsletter.AmountAttachments</td>
                                    <td>@Html.Raw(newsletter.Status ? "<span class='label label-success'>Klaar</span>" : "<span class='label label-info'>Bezig</span>")</td>
                                    <td>@Html.ActionLink("Wijzigen", "Wijzig", new {@id = newsletter.NewsletterId}, new {@class = "btn btn-xs btn-warning btn-gradient"})</td>
                                    <td>@Html.ActionLink("Verwijder", "Verwijder", new {@id = newsletter.NewsletterId}, new {@class = "btn btn-xs btn-danger btn-gradient"})</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>