﻿@model IEnumerable<Common.Models.Admin.Data.RolePermissionModel>

@{
    Layout = null;
}
<div class="col-md-12" id="easyWeergave">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Rollen en rechten weergave</div>
                </div>
                <div class="panel-body">
                    <div class="tree">
                        <ul role="tree">
                            <li class="parent_li" role="treeitem">
                                <span title="Collapse this branch" class="badge badge-red"><i class="glyphicons glyphicons-group"></i>Rollen</span>
                                <ul role="group" id="bundleGroup">
                                    @foreach (var role in Model)
                                    {
                                        <li class="parent_li" role="treeitem">
                                            <span class="badge badge-info"><i class="glyphicons @(role.Rights.Count > 0 ? Html.Raw("glyphicons-circle_plus") : Html.Raw("glyphicons-circle_minus"))"></i> @role.RoleName</span>
                                            <ul role="group" id="permissions">
                                                @foreach (string recht in role.Rights)
                                                {
                                                    <li><span class="badge badge-success">@recht</span></li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel-footer"></div>

            </div>
        </div>
    </div>
</div>