﻿@model IEnumerable<Common.Models.Admin.Data.ViewRolePermissionsModel>

@{
    Layout = null;
}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Groepsrechten wijzigen</div>
                </div>
                <div class="panel-body">

                    <p>Klik op de button hieronder om de rechten te weergeven van deze groep.</p>
                    <!-- Groepen Tabs -->
                    @using (Html.BeginForm())
                    {
                        <ul class="nav well-tabs well-tabs-inverse margin-bottom">
                            @for (var counter = 0; Model.Count() > counter; counter++)
                            {
                                <li @if (counter == 0)
                                    {
                                        @Html.Raw("class='active'")
                                    }><a href="@Html.Raw("#tab" + counter)" data-toggle="tab">@Model.ElementAt(counter).Permissions.RoleName</a></li>
                            }
                        </ul>
                        <!-- Rechten Content -->
                        <div class="tab-content border-none padding-none">

                            @for (var counter = 0; Model.Count() > counter; counter++)
                            {
                                <div @Html.Raw(string.Format("id=tab{0}", counter)) class="tab-pane @if (counter == 0)
                                                                                                    {
                                                                                                        @Html.Raw("active")
                                                                                                    }">
                                    <table class="table table-widget table-striped" id="datatable">
                                        <thead>
                                            <tr>
                                                <th>Recht</th>
                                                <th>Machtiging</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Get all the updated permissions -->
                                            @for (var counter2 = 0; Model.ElementAt(counter).Permissions.Rights.Count() > counter2; counter2++)
                                            {
                                                <tr>
                                                    <td>@Model.ElementAt(counter).Permissions.Rights[counter2].RightName</td>
                                                    <td>
                                                        @Html.CheckBoxFor(m => m.ElementAt(counter).Children[counter2].Selected)
                                                        @Html.HiddenFor(m => m.ElementAt(counter).Children[counter2].RoleName)
                                                        @Html.HiddenFor(m => m.ElementAt(counter).Children[counter2].RightId)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            <input type="submit" value="Gegevens opslaan" class="btn btn-info btn-gradient" />
                        </div>
                    }
                </div>
                <div class="panel-footer"></div>
            </div>


            
        </div>

    </div>
</div>