﻿@model string

<div id="CallBackContainer" class="container">
    
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">@Html.ActionLink("Registratie", "Index", "Registreer")</li>
        <li>Registratie</li>
    </ul>



    <div class="nextBlock" id="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Social Registratie</div>
            <div class="panel-body">
                @Model
            </div>
        </div>
    </div>
</div>