﻿@model Common.Models.Home.Register.RegisterModel

<div id="RegisterContainer" class="container">


    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Registeren</li>
    </ul>



    <div class="nextBlock" id="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Registreren</div>
            <div class="panel-body">
                
               
                @using (Html.BeginForm("Social", "Registreer"))
                {
                    <input type="submit" class="twitter-login" value="twitter" name="provider"/>
                    <input type="submit" class="facebook-login" value="facebook" name="provider" />
                }
              

                @using (Html.BeginForm("Index", "Registreer", FormMethod.Post, new {enctype = "multipart/form-data"}))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group nextBlock">
                        @Html.LabelFor(m => m.Voornaam)
                        @Html.TextBoxFor(m => m.Voornaam, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Voornaam)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Achternaam)
                        @Html.TextBoxFor(m => m.Achternaam, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Achternaam)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Woonplaats)
                        @Html.TextBoxFor(m => m.Woonplaats, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Woonplaats)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Postcode)
                        @Html.TextBoxFor(m => m.Postcode, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Postcode)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Straat)
                        @Html.TextBoxFor(m => m.Straat, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Straat)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Huisnummer)
                        @Html.TextBoxFor(m => m.Huisnummer, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Huisnummer)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AdresToevoeging)
                        @Html.TextBoxFor(m => m.AdresToevoeging, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.AdresToevoeging)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SubscriptionNewsletter)
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.SubscriptionNewsletter) Wilt u zich abboneren op onze nieuwsbrief?
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ProfilePhoto)
                        <small>Het is niet verplicht om een profielfoto te kiezen.</small>
                        @Html.TextBoxFor(m => m.ProfilePhoto, new {@type = "file"})
                        <input type="button" value="Profielfoto kiezen" class="btn btn-default" id="choseProfileImage" />
                        @Html.ValidationMessageFor(m => m.ProfilePhoto)
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading">Login</div>
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Gebruikersnaam)
                                @Html.TextBoxFor(m => m.Gebruikersnaam, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Gebruikersnaam)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Wachtwoord)
                                @Html.PasswordFor(m => m.Wachtwoord, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Wachtwoord)
                            </div>
                        </div>
                    </div>
                    <div class="panel-warning">
                        <div class="panel-heading">Beveiliging</div>
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.BeveilingsVraagId)
                                @Html.DropDownListFor(m => m.BeveilingsVraagId, Model.BeveilingsVragenList, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.BeveilingsVraagId)
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.BeveilingsAntwoord, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.BeveilingsAntwoord)
                            </div>
                        </div>
                    </div>

                    <input type="submit" class="btn btn-info btn-gradient" value="Gebruiker toevoegen!" />
                }
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>

<script>
    $('#choseProfileImage').click(function() {
        // simulate click event
        $('#ProfilePhoto').click();
    });
</script>