﻿@using Common.Providers.Files
@model Common.Models.Admin.ViewModel.BundleGebruikersPasswordModel

<div class="col-md-12" id="editUser">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Gebruiker wijzigen</div>
                    <ul class="nav panel-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Account gegevens</a></li>
                        <li><a href="#tab2" data-toggle="tab">Wachtwoord wijzigen</a></li>
                        <li><a href="#tab3" data-toggle="tab">Profielfoto</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-9">
                                <div class="tab-content padding-none border-none">
                                    <div id="tab1" class="tab-pane active">
                                        @using (Html.BeginForm())
                                        {
                                            @Html.HiddenFor(m => m.WijzigGebruikersModel.GebruikersNaam)

                                            <div class="form-group">
                                                @Html.LabelFor(m => m.WijzigGebruikersModel.Voornaam)
                                                @Html.TextBoxFor(m => m.WijzigGebruikersModel.Voornaam, new {@class = "form-control"})
                                                @Html.ValidationMessageFor(m => m.WijzigGebruikersModel.Voornaam)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.WijzigGebruikersModel.Achternaam)
                                                @Html.TextBoxFor(m => m.WijzigGebruikersModel.Achternaam, new {@class = "form-control"})
                                                @Html.ValidationMessageFor(m => m.WijzigGebruikersModel.Achternaam)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.WijzigGebruikersModel.Email)
                                                @Html.TextBoxFor(m => m.WijzigGebruikersModel.Email, new {@class = "form-control"})
                                                @Html.ValidationMessageFor(m => m.WijzigGebruikersModel.Email)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.WijzigGebruikersModel.LandId)
                                                @Html.DropDownListFor(m => m.WijzigGebruikersModel.LandId, Model.WijzigGebruikersModel.LandenList, new {@class = "form-control"})
                                                @Html.ValidationMessageFor(m => m.WijzigGebruikersModel.LandId)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.WijzigGebruikersModel.Woonplaats)
                                                @Html.TextBoxFor(m => m.WijzigGebruikersModel.Woonplaats, new {@class = "form-control"})
                                                @Html.ValidationMessageFor(m => m.WijzigGebruikersModel.Woonplaats)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.WijzigGebruikersModel.Postcode)
                                                @Html.TextBoxFor(m => m.WijzigGebruikersModel.Postcode, new {@class = "form-control"})
                                                @Html.ValidationMessageFor(m => m.WijzigGebruikersModel.Postcode)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.WijzigGebruikersModel.Straat)
                                                @Html.TextBoxFor(m => m.WijzigGebruikersModel.Straat, new {@class = "form-control"})
                                                @Html.ValidationMessageFor(m => m.WijzigGebruikersModel.Straat)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.WijzigGebruikersModel.Huisnummer)
                                                @Html.TextBoxFor(m => m.WijzigGebruikersModel.Huisnummer, new {@class = "form-control"})
                                                @Html.ValidationMessageFor(m => m.WijzigGebruikersModel.Huisnummer)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.WijzigGebruikersModel.AdresToevoeging)
                                                @Html.TextBoxFor(m => m.WijzigGebruikersModel.AdresToevoeging, new {@class = "form-control"})
                                                @Html.ValidationMessageFor(m => m.WijzigGebruikersModel.AdresToevoeging)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.WijzigGebruikersModel.SubscriptionNewsletter)
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(m => m.WijzigGebruikersModel.SubscriptionNewsletter) Wilt u zich abboneren op onze nieuwsbrief?
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.WijzigGebruikersModel.GroepenNaam)
                                                @Html.DropDownListFor(m => m.WijzigGebruikersModel.GroepenNaam, Model.WijzigGebruikersModel.GroepenList, new {@class = "form-control"})
                                                @Html.ValidationMessageFor(m => m.WijzigGebruikersModel.GroepenNaam)
                                            </div>

                                            <input type="submit" class="btn btn-info btn-gradient" value="Gebruiker wijzigen!" />
                                        }
                                    </div>

                                    <div id="tab2" class="tab-pane">
                                        @using (Html.BeginForm("Wachtwoord", "Gebruikers"))
                                        {
                                            @Html.HiddenFor(m => m.PasswordModel.Gebruikersnaam)
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.PasswordModel.Wachtwoord)
                                                @Html.TextBoxFor(m => m.PasswordModel.Wachtwoord, new {@class = "form-control"})
                                                @Html.ValidationMessageFor(m => m.PasswordModel.Wachtwoord)
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(m => m.PasswordModel.HerhaalWachtwoord)
                                                @Html.TextBoxFor(m => m.PasswordModel.HerhaalWachtwoord, new {@class = "form-control"})
                                                @Html.ValidationMessageFor(m => m.PasswordModel.HerhaalWachtwoord)
                                            </div>

                                            <input type="submit" class="btn btn-info btn-gradient" value="Wachtwoord wijzigen!" />
                                        }
                                    </div>

                                    <div id="tab3" class="tab-pane">
                                        @using (Html.BeginForm("ProfielFoto", "Gebruikers", FormMethod.Post, new {enctype = "multipart/form-data"}))
                                        {
                                            @Html.HiddenFor(m => m.ProfilePhotoModel.Username)
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.ProfilePhotoModel.Photo)
                                                @Html.TextBoxFor(m => m.ProfilePhotoModel.Photo, new {@type = "file"})
                                                @Html.ValidationMessageFor(m => m.ProfilePhotoModel.Photo)
                                            </div>

                                            if (Model.WijzigGebruikersModel.HasAvatar)
                                            {
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.ProfilePhotoModel.Delete)
                                                    @Html.CheckBoxFor(m => m.ProfilePhotoModel.Delete) Wilt u uw huidige foto verwijderen?
                                                    @Html.ValidationMessageFor(m => m.ProfilePhotoModel.Delete)
                                                </div>
                                            }

                                            <input type="submit" class="btn btn-info btn-gradient" value="Foto opslaan" />
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="well">
                                    @if (Model.WijzigGebruikersModel.HasAvatar)
                                    {
                                        <img src="@Url.Content(FileProvider.GetImagePath(Common.Providers.Files.FilePaths.ProfilePhotos) + Model.WijzigGebruikersModel.GebruikersNaam + FileProvider.GetPrefferedImageExtension())" width="150" height="150" alt="Profielfoto @Model.WijzigGebruikersModel.Voornaam @Model.WijzigGebruikersModel.Achternaam" title="Profielfoto @Model.WijzigGebruikersModel.Voornaam @Model.WijzigGebruikersModel.Achternaam" />
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/Areas/Admin/Content/img/avatars/no-avatar.jpg")" width="150" height="150" alt="Profielfoto @Model.WijzigGebruikersModel.Voornaam @Model.WijzigGebruikersModel.Achternaam" title="Profielfoto @Model.WijzigGebruikersModel.Voornaam @Model.WijzigGebruikersModel.Achternaam" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Areas/Admin/Content/js/fileButtonReplacer.js")
}