﻿@model Common.Models.Admin.ViewModel.FolderBundleModel

@{
    var errorMessage = (IEnumerable<String>) TempData["ErrorMessage"];
    Layout = null;
}
<div class="col-md-12" id="filesWeergave">

    <!-- Hidden information - FolderID , FileId & Url -->
    @Html.Hidden("folderID", 3, new {@id = "folderId"})
    @Html.Hidden("fileId", null, new {@id = "fileId"})
    @Html.Hidden("url", Request.Url.Authority)

    <div class="row">
        <div class="col-md-12">
            
            @if (errorMessage != null)
            {
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <h1>Error..</h1>
                        @foreach (var error in errorMessage)
                        {
                            <ul>@error</ul>
                        }
                        <p class="note">De bestanden die hier niet bij staan zijn wel upgeload.</p>
                    </div>
                </div>
            }

            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Bestandsbeheer</div>
                    <ul class="nav panel-tabs">
                        <li><a href="#AddFolder" data-toggle="modal" data-target="#AddFolder">Map toevoegen</a></li>
                        <li><a href="#EditFolder" data-toggle="modal">Map wijzigen</a></li>
                        <li><a href="#DeleteFolder" data-toggle="modal">Map verwijderen</a></li>
                        <li><a href="#AddFile" data-toggle="modal">Bestanden toevoegen</a></li>
                    </ul>

                </div>
                <div class="panel-body">
                    <div class="well">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-3 col-sm-3 col-xs-12" id="folders">
                                <div class="tree">
                                    <ul role="tree">
                                        <li class="parent_li" role="treeitem">
                                            <span title="Collapse this branch"  class="badge badge-info head"><i class="glyphicons glyphicons-group"></i>File manager</span>
                                            <ul role="group" id="bundleGroup">


                                                @foreach (var folder in Model.FolderModel.SubFolderModels)
                                                {
                                                    <li class="parent_li" role="treeitem">
                                                        <span class="badge badge-success @if (folder.FolderId == 3)
                                                                                         {
                                                                                             @Html.Raw("selectedItem")
                                                                                         }" title="Collapse this branch"><i class="glyphicons @(folder.SubFolderModels.Count > 0 ? Html.Raw("glyphicons-circle_plus") : Html.Raw("glyphicons-circle_minus"))"></i> @folder.FolderName</span>
                                                        @Html.Hidden("treeFolderId", folder.FolderId)
                                                        <ul role="group">
                                                            @Html.Partial("~/Areas/Admin/Views/Shared/Folders/PartialFolder.cshtml", folder.SubFolderModels)
                                                        </ul>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9" id="filesContainer">
                                <div id="files">
                                    @{ Html.RenderAction("LoadFiles", new {@folderId = 3}); }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer"></div>

            </div>
        </div>
    </div>
</div>

<!-- Modal Add folder -->
<div class="modal fade" id="AddFolder" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("MapToevoegen", "Files"))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Map toevoegen</h4>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(m => m.FolderActionModel.ValueFolderId)
                    <div class="form-group">
                        @Html.LabelFor(m => m.FolderActionModel.FolderName)
                        @Html.TextBoxFor(m => m.FolderActionModel.FolderName, new {@class = "form-control"})
                    </div>

                    <div class="form-group" id="choseRoles">
                        @Html.LabelFor(m => m.FolderActionModel.ValueRole)
                        @Html.DropDownListFor(m => m.FolderActionModel.ValueRole, Model.FolderActionModel.RolesList, new {@class = "search", @multiple = "True"})
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.FolderActionModel.PublicMap)
                        @Html.CheckBoxFor(m => m.FolderActionModel.PublicMap, new {@id = "publicMap"}) Is dit een map die voor iedereen zichbaar mag zijn?
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-gradient" data-dismiss="modal">Annuleren</button>
                    <button type="submit" class="btn btn-primary btn-gradient">Folder toevoegen</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal Edit folder -->
<div class="modal fade" id="EditFolder" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("MapWijzigen", "Files"))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Map wijzigen</h4>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(m => m.FolderActionModel.ValueFolderId)
                    <div class="form-group">
                        @Html.LabelFor(m => m.FolderActionModel.FolderName)
                        @Html.TextBoxFor(m => m.FolderActionModel.FolderName, new {@class = "form-control"})
                    </div>

                    <div class="form-group" id="choseRoles">
                        @Html.LabelFor(m => m.FolderActionModel.ValueRole)
                        @Html.DropDownListFor(m => m.FolderActionModel.ValueRole, Model.FolderActionModel.RolesList, new {@class = "search", @multiple = "True"})
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.FolderActionModel.PublicMap)
                        @Html.CheckBoxFor(m => m.FolderActionModel.PublicMap, new {@id = "publicMap"}) Is dit een map die voor iedereen zichbaar mag zijn?
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-gradient" data-dismiss="modal">Annuleren</button>
                    <button type="submit" class="btn btn-primary btn-gradient">Folder wijzigen</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal Delete folder -->
<div class="modal fade" id="DeleteFolder" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("VerwijderFolder", "Files"))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Map verwijderen</h4>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(m => m.DeleteFolderModel.FolderId)
                    <p class="error">Let op! Alle mappen en bestanden onder deze map worden ook verwijderd, deze handeling kan niet ongedaan worden gemaakt!</p>
                    <p>Weet u zeker dat u de map: <span id="deleteFolderName"></span> wilt verwijderen?</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-gradient" data-dismiss="modal">Annuleren</button>
                    <input type="submit" value="Folder verwijderen" class="btn btn-primary btn-gradient" />
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal Add File -->
<div class="modal fade" id="AddFile" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("BestandToevoegen", "Files", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Bestanden toevoegen</h4>
                </div>
                <div class="modal-body">
                    
                    @Html.HiddenFor(m => m.FileModel.ValueFolderId)
                    <div class="fullWidth">
                        <span class="info-icon tool-tip" data-toggle="tooltip" data-placement="right" title="U kunt meerdere bestanden selecteren, maximaal 50mb per bestand."></span>
                        @Html.LabelFor(m => m.FileModel.PostedFile, new {@class = "tooltip-label"})
                    </div>
                    @Html.TextBoxFor(m => m.FileModel.PostedFile, new {type = "file", @multiple = "True"})
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-gradient" data-dismiss="modal">Annuleren</button>
                    <input type="submit" value="Toevoegen" class="btn btn-primary btn-gradient">
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal Delete File -->
<div class="modal fade" id="DeleteFile" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("VerwijderBestand", "Files"))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Bestand verwijderen</h4>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(m => m.DeleteFileModel.FileId)
                    <p>Weet u zeker dat u het bestand: <span id="deleteFileName"></span> in de map: <span id="deleteFolderName"></span> wilt verwijderen?</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-gradient" data-dismiss="modal">Annuleren</button>
                    <input type="submit" value="Verwijder bestand" class="btn btn-info btn-gradient" />
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal Edit File -->
<div class="modal fade" id="EditFile" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("WijzigBestand", "Files"))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Bestand wijzigen</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        @Html.HiddenFor(m => m.EditFileModel.FileId, new {@class = "form-control"})
                        @Html.LabelFor(m => m.EditFileModel.FileName)
                        @Html.TextBoxFor(m => m.EditFileModel.FileName, new {@class = "form-control"})
                    </div>
                    
                    <div class="form-group" id="fileContent">
                        @Html.LabelFor(m => m.EditFileModel.Content)
                        @Html.TextAreaFor(m => m.EditFileModel.Content, new {@class = "form-control"})
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-gradient" data-dismiss="modal">Annuleren</button>
                    <input type="submit" value="Wijzig bestand" class="btn btn-info btn-gradient" />
                </div>
            }
        </div>
    </div>
</div>