﻿@model int

<div id="viewContent" data-url="@Url.Action("_Sub-Menus-Weergeven", "Navigatie", new {@id=Model})"></div>

@section Scripts{
    @Scripts.Render("~/Areas/Admin/Content/js/datatables")

    <script>
        $(function () {
            $('#datatable').footable();
        });
    </script>
}

@section Styles{
    @Styles.Render("~/Areas/Admin/Content/css/datatables")
}