﻿@using Common.Models.Admin.Navigation
@model Common.Models.Admin.ViewModel.NavigatieModel

<div class="col-md-12" id="navigationContainer">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Navigatie menu toevoegen</div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Naam)
                            @Html.TextBoxFor(m => m.Naam, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Naam)
                        </div>

                        <div class="form-group">
                            <div class="fullWidth">
                                <span class="info-icon tool-tip" data-toggle="tooltip" data-placement="right" title="Waar in de navigatie moet hij staan? Bijvoorbeeld: 1 (als eerste)"></span>
                                @Html.LabelFor(m => m.OrderNumber, new { @class = "tooltip-label" })
                            </div>
                            @Html.TextBoxFor(m => m.OrderNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.OrderNumber)

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Visibility)
                            @Html.DropDownListFor(m => m.Visibility, Model.VisibilityOptions, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Visibility)
                        </div>

                        <div class="form-group">
                            <div class="panel" id="navigationContent">
                                <div class="panel-heading">
                                    <div class="panel-title">Navigatie</div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            @Html.LabelFor(m => m.NavigationType)
                                            <ul>
                                                @foreach (var navigationType in Model.NavigationTypes)
                                                {
                                                    <li>
                                                        @Html.RadioButtonFor(m => m.NavigationType, navigationType.Key) @navigationType.Value
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="col-md-10">
                                            <div id="buildInPages" @if (Model.NavigationType != NavigationType.BuildIn)
                                                                   {
                                                                       @Html.Raw("style='display:none'")
                                                                   }>
                                                @Html.LabelFor(m => m.BuildInPageId)
                                                @Html.DropDownListFor(m => m.BuildInPageId, Model.BuildInPages, new { @class = "form-control search" })
                                                @Html.ValidationMessageFor(m => m.BuildInPageId)
                                            </div>

                                            <div id="DynamicPages" @if (Model.NavigationType != NavigationType.Dynamic)
                                                                   {
                                                                       @Html.Raw("style='display:none'")
                                                                   }>
                                                @Html.LabelFor(m => m.DynamicPageId)
                                                @Html.DropDownListFor(m => m.DynamicPageId, Model.DynamicPages, new { @class = "form-control search" })
                                                @Html.ValidationMessageFor(m => m.DynamicPageId)
                                            </div>

                                            <div id="NewsArticles" @if (Model.NavigationType != NavigationType.News)
                                                                   {
                                                                       @Html.Raw("style='display:none'")
                                                                   }>
                                                @Html.LabelFor(m => m.NewsArticleId)
                                                @Html.DropDownListFor(m => m.NewsArticleId, Model.NewsArticles, new { @class = "form-control search" })
                                                @Html.ValidationMessageFor(m => m.NewsArticleId)
                                            </div>

                                            <div id="BlogArticles" @if (Model.NavigationType != NavigationType.Blog)
                                                                   {
                                                   @Html.LabelFor(m => m.BlogArticleId)
                                                                    @Html.Raw("style='display:none'")
                                                                   }>
                                                @Html.DropDownListFor(m => m.BlogArticleId, Model.BlogArticles, new { @class = "form-control search" })
                                                @Html.ValidationMessageFor(m => m.BlogArticleId)
                                            </div>

                                            <div id="PhotoAlbums" @if (Model.NavigationType != NavigationType.Photo)
                                                                  { @Html.Raw("style='display:none'")  }>
                                                @Html.LabelFor(m => m.PhotoAlbumId)
                                                @Html.DropDownListFor(m => m.PhotoAlbumId, Model.PhotoAlbums, new { @class = "form-control search" })
                                                @Html.ValidationMessageFor(m => m.PhotoAlbumId)
                                            </div>

                                            <div id="ExternalLink" @if (Model.NavigationType != NavigationType.External)
                                                                   {
                                                                       @Html.Raw("style='display:none'")
                                                                   }>
                                                @Html.LabelFor(m => m.ExternalLink)
                                                @Html.TextBoxFor(m => m.ExternalLink, new { @class = "form-control search" })
                                                @Html.ValidationMessageFor(m => m.ExternalLink)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer"></div>
                            </div>

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Status)
                            @Html.CheckBoxFor(m => m.Status, new { @class = "make-switch", @checked = "checked", @data_on_text = "Ja", @data_off_text = "Nee" })
                            @Html.ValidationMessageFor(m => m.Status)
                        </div>

                        <input type="submit" value="Menu toevoegen!" class="btn btn-info btn-gradient" />
                    }
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Content/css/bootstrap-switch-min.css")" />
    @Styles.Render("~/Areas/Admin/Content/css/select2.css")
}

@section Scripts{
    @Scripts.Render("~/Areas/Admin/Content/select2")
    <script src="@Url.Content("~/Areas/Admin/Content/js/bootstrap-switch-min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/Navigation.js")"></script>
}