﻿@{
    Layout = null;
}

@model Common.Models.Admin.Widgets.BundleViewWidgetsModel

<div class="col-md-12" id="Widgets">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Alle Widgets</div>
                </div>
                <div class="panel-body">
                    
                    <p>Sleep de widget naar de thema sectie waar u de widget wilt hebben. U kunt verschillende widgets op één pagina zetten.
                        Als u de instellingen van een inviduele widget wilt wijzigen klik dan op de de wijzig van de actieve widget rechts.
                        Als u een actieve widget wilt verwijderen sleep hem dan naar het verwijder blok.</p>

                    <div class="row">
                        <div class="col-md-6">

                            <div>
                                <h5>Beschikbare pagina's</h5>
                                @Html.DropDownListFor(m => m.SeoPageId, Model.SeoPages, null, new { @class = "search space" })
                            </div>

                            <div class="space">
                                <h5>Widgets</h5>
                                <div id="availableWidgets" class="row">
                                    <ul>
                                        @foreach (var availableWidget in Model.Widgets)
                                        {
                                            <li>
                                                <div class="col-md-6">
                                                    <div class="well well-sm well-widget">
                                                        @Html.Hidden("widgetId", availableWidget.WidgetId)

                                                        <b>@availableWidget.Name</b>
                                                    </div>
                                                    <p>@availableWidget.Description</p>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div id="activeWidgetsContent">
                            @{Html.RenderPartial("Shared/ActiveWidgets", Model.InstalledWidgets);}
                        </div>

                    </div>
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

