﻿@using Common.Models.Admin.Widgets
@model IEnumerable<Common.Models.Admin.Widgets.InstalledWidgetsModel>


<div id="installedWidgets" class="col-md-6">
    <ul>
        @foreach (var sectionTheme in Model)
        {
            <li class="installedWidgetsList">
                @Html.Hidden("sectionId", sectionTheme.SectionId)

                <h5>@sectionTheme.SectionName</h5>
                <small>@sectionTheme.SectionDescription</small>
                @Html.Hidden("themeSectionId", sectionTheme.SectionId)


                @foreach (var installedWidget in sectionTheme.ActiveWidgets)
                {
                    <div class="installedWidget">
                        <div class="well well-sm well-widget">
                            @Html.Hidden("activeWidgetId", installedWidget.ActiveWidgetId)
                            @Html.Hidden("kindWidgetId", installedWidget.KindWidget)
                            <div class="pull-right clearfix">
                                <span class="editIcon"></span>
                            </div>

                            <b>@installedWidget.FriendlyName</b>
                        </div>

                        <!-- Modal Settings-->
                        <div class="modal fade settingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="myModalLabel">@installedWidget.FriendlyName - Instellingen</h4>
                                    </div>
                                    <div class="modal-body">
                                        @using (Html.BeginForm())
                                        {
                                            <input type="hidden" name="ActiveWidgetId" value="@installedWidget.ActiveWidgetId" />

                                            switch (installedWidget.KindWidget)
                                            {
                                                case (int)KindWidget.News:
                                                {
                                                    @Html.Action("NewsSettings", "Widgets", new { @activeWidgetId = installedWidget.ActiveWidgetId });
                                                    break;
                                                }
                                                case (int)KindWidget.Blog:
                                                {
                                                    @Html.Action("BlogSettings", "Widgets", new { @activeWidgetId = installedWidget.ActiveWidgetId });
                                                    break;
                                                }
                                                case (int)KindWidget.Html:
                                                {
                                                    @Html.Action("HtmlSettings", "Widgets", new { @activeWidgetId = installedWidget.ActiveWidgetId });
                                                    break;
                                                }
                                                case (int)KindWidget.Social:
                                                {
                                                    @Html.Action("SocialSettings", "Widgets", new { @activeWidgetId = installedWidget.ActiveWidgetId });
                                                    break;
                                                }
                                                case (int)KindWidget.Twitter:
                                                {
                                                    @Html.Action("TwitterSettings", "Widgets", new { @activeWidgetId = installedWidget.ActiveWidgetId });
                                                    break;
                                                }
                                                default:
                                                {
                                                    @Html.Action("PhotoSettings", "Widgets", new { @activeWidgetId = installedWidget.ActiveWidgetId });
                                                    break;
                                                }
                                            }

                                        }


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default btn-gradient" data-dismiss="modal">Annuleren</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </li>
        }

        <!-- Delete section -->
        <li id="deleteList" class="installedWidgetsList">
            <h5>Verwijderde items</h5>
            <small>Sleep hier uw actieve widgets naar toe als u deze wilt verwijderen. Let op, widgets kunnen niet meer hersteld worden zodra u hem hierna toe sleept.</small>
        </li>
    </ul>
</div>

<script>
    $(document).ready(function() {
        // Trigger event
        $.event.trigger({
            type: "InstalledWidgets",
        });
    });
</script>