﻿@{
    Layout = null;
}
@using Common.Providers.Files
@model Common.Models.Admin.Widgets.PhotoModel

<div class="form-group">
    @Html.Label("Foto's")
    @Html.DropDownListFor(m => m.PhotoId, Model.Photos.Select(x=>x.Photo),  new { @id = "select2Photos"})
</div>

<div class="form-group">
    <button class="btn btn-default" id="addPhoto" type="button">Foto toevoegen</button>
</div>

<hr/>

<div class="form-group">
    @Html.Label("Geselecteerde foto's")

    <div id="selectedPhotosContainer" class="well well-lg clearfix">
        <ul>
            @foreach (var photo in Model.SelectedPhotos)
            {
                <li>
                    @Html.Hidden("selectedPhotoId", photo.Photo.Value)
                    <span class="removeIcon"></span>
                    <img width="122" height="105" alt="@photo.Photo.Value" src="@string.Format("{0}{1}/{2}", FileProvider.GetImagePath(Common.Providers.Files.FilePaths.PhotoAlbums, false), photo.AlbumId, photo.Photo.Text)" />
                </li>
            }
        </ul>
    </div>
</div>