﻿@model Common.Models.Home.Page.PageModel

<div id="PageContainer" class="container">


    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">@Model.Titel</li>
    </ul>



    <div class="nextBlock" id="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">@Model.Titel</div>
            <div class="panel-body">
                @Html.Raw(Model.Information)
                
                <hr/>
                <div class="about">
                    <div id="articleInfoContainer">
                        @if (Model.AuthorHasAvatar)
                        {
                            <img alt="about" src="@Url.Content("~/Shared/ProfilePhotos/" + Model.AuthorUsername + ".png")" />
                        }

                        <div class="articleInfo">
                            <h4 class="name">@Model.Author</h4>
                            <br />
                            <p>@string.Format("{0:d MMMM yyyy}", Model.CreatedDate)</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>