﻿
<div class="col-md-12" id="errorLogs">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Foutmeldingen</div>
                </div>
                <div class="panel-body">
                      <iframe src="/Admin/Elmah"></iframe>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
