﻿<ul class="nav panel-tabs">
    <li class="@if(Common.Providers.Routes.RouteProvider.GetAction().Equals("_Alle-Tickets-Weergeven")){@("active")}"><a href="@Url.Action("Alle-tickets-weergeven")">Alles</a></li>
    <li class="@if(Common.Providers.Routes.RouteProvider.GetAction().Equals("_Open-Tickets-Weergeven")){@("active");})"><a href="@Url.Action("Open-tickets-weergeven")">Open</a></li>
    <li class="@if(Common.Providers.Routes.RouteProvider.GetAction().Equals("_Behandelde-Tickets-Weergeven")){@("active");})"><a href="@Url.Action("Behandelde-tickets-weergeven")">Behandeling</a></li>
    <li class="@if(Common.Providers.Routes.RouteProvider.GetAction().Equals("_Gesloten-Tickets-Weergeven")){@("active");})"><a href="@Url.Action("Gesloten-tickets-weergeven")">Gesloten</a></li>
</ul>