﻿@model IEnumerable<Common.Models.Admin.ViewModel.TicketModel>

<div class="pull-right">
    @Html.TextBox("datatableText", null, new { @class = "form-control", @placeholder = "Zoeken.." })
</div>

<table id="datatable" class="table table-striped" data-filter="#datatableText" data-filter-minimum="1">
    <thead>
        <tr>
            <th>Onderwerp</th>
            <th>Naam</th>
            <th data-hide="phone">Status</th>
            <th data-hide="phone">Datum aangemaakt</th>
            <th data-hide="phone, tablet">Openen</th>
            <th data-hide="phone, tablet">Verwijderen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {
            <tr>
                <td>@ticket.Onderwerp</td>
                <td>@ticket.Voornaam @ticket.Achternaam</td>
                <td>@if (ticket.Status == 0)
                    {
                    <span class='label label-danger'>Open</span>
                    }
                    else if (ticket.Status == 1)
                    {
                    <span class='label label-warning'>Behandeling</span>
                    }
                    else
                    {
                    <span class='label label-success'>Gesloten</span>
                    }</td>
                <td>@string.Format("{0:dd-MM-yyyy HH:mm}", ticket.Datum)</td>
                <td>@Html.ActionLink("Weergeven", "Info", new { @id = ticket.TicketID }, new { @class = "btn btn-xs btn-info btn-gradient" })</td>
                <td>@Html.ActionLink("Verwijder", "Verwijder", new { @id = ticket.TicketID }, new { @class = "btn btn-xs btn-danger btn-gradient" })</td>
            </tr>
        }
    </tbody>
</table>