﻿@model Common.Models.Admin.ViewModel.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8" />
        <title>Login - EasyCMS</title>
        <meta name="robots" content="noindex" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Font CSS  -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" />

        <!-- Core CSS  -->
        <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Content/css/glyphicons-min.css")" />

        <!-- Theme CSS -->
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Content/css/theme.css")" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin/Content/css/pages.css")" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin//Content/css/plugins.css")" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin//Content/css/responsive.css")" />

        <!-- Demonstration CSS -->
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin//Content/css/demo.css")" />

        <!-- Your Custom CSS -->
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Areas/Admin//Content/css/custom.css")" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="@Url.Content("~/Areas/Admin/Content/img/favico.ico")" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>

    <body class="login-page">
        <!-- Start: Main -->
        <div id="main">
            <div class="container">
                <div class="row">
                    <div id="page-logo"> <img src="@Url.Content("~/Areas/Admin/Content/img/logos/logo-red.png")" class="img-responsive" alt="logo" /> </div>
                </div>
                <div class="row">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title"> <i class="fa fa-lock"></i> Login </div>
                        </div>
                        @using (Html.BeginForm("Index", "Home", new {ReturnUrl = Request.QueryString["ReturnUrl"]}))
                        {
                            <div class="panel-body">
                                @Html.ValidationMessage("membershipError")
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i> </span>
                                        @Html.TextBoxFor(m => m.Username, new {@class = "form-control phone", @autocomplete = "on", @placeholder = "Gebruikersnaam"})
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Username)
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key"></i> </span>
                                        @Html.PasswordFor(m => m.Password, new {@class = "form-control product", @autocomplete = "off", @placeholder = "Wachtwoord"})
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                            </div>
                            <div class="panel-footer">
                                <span class="panel-title-sm pull-left" style="padding-top: 7px;"><a> Wachtwoord vergeten?</a></span>
                                <div class="form-group margin-bottom-none">
                                    <input class="btn btn-primary pull-right" type="submit" value="Login" />
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- End: Main -->
        <!-- Core Javascript - via CDN -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

        <!-- Theme Javascript -->
        <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/js/uniform-min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/js/custom.js")"></script>
  
    </body>
</html>