﻿@using Common.Providers.Files
@model Common.Models.Home.Blog.BundleBlogModel

@{
    ViewBag.Title = Model.BlogModel.Title;
}

<div id="blogArticleContainer" class="container">


    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
        <li class="active">@Model.BlogModel.Title</li>
    </ul>


    <div class="nextBlock" id="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Artikel</div>
            <div class="panel-body">
                <div class="media">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="title">@Html.Raw(Model.BlogModel.Title)</p>
                            <div class="information">
                                <ul>
                                    <li>
                                        <span class="fa fa-user"></span> @Model.BlogModel.AuthorName
                                    </li>
                                    <li>
                                        <span class="fa fa-comment"></span> @Model.BlogModel.AmountComments Reacties
                                    </li>
                                    <li>
                                        <span class="fa fa-tags"></span> @Model.BlogModel.Keywords
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-md-12">
                            @if (!string.IsNullOrEmpty(Model.BlogModel.Image))
                            {
                                <div class="image">
                                    <img src="@Url.Content(FileProvider.GetImagePath(FilePaths.Blogs, false) + Model.BlogModel.BlogId + "/" + Model.BlogModel.Image)" alt="@Model.BlogModel.Title" title="@Model.BlogModel.Title" />
                                </div>
                            }
                            <div class="nextBlock">
                                <blockquote>
                                    @Html.Raw(Model.BlogModel.Intro)
                                </blockquote>
                                <p>@Html.Raw(Model.BlogModel.Information)</p>

                            </div>
                        </div>
                    </div>
                </div>
                <hr />


                <div class="row">
                    <div class="col-md-12">
                        <div class="about">
                            <div id="articleInfoContainer">
                                @if (Model.BlogModel.UserHasAvatar)
                                {
                                    <img alt="about" src="@Url.Content(FileProvider.GetImagePath(FilePaths.ProfilePhotos, false) + Model.BlogModel.Username + FileProvider.GetPrefferedImageExtension())" />
                                }

                                <div class="articleInfo">
                                    <h4 class="name">@Model.BlogModel.AuthorName</h4>
                                    <br />
                                    <p>@string.Format("{0:d MMMM yyyy}", Model.BlogModel.Date)</p>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>

                @if (Model.BlogModel.CommentsEnabled)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                @if (Model.BlogReactionModels.Any())
                                {
                                    <div class="col-md-12">
                                        <h3>@Model.BlogModel.AmountComments @(Model.BlogModel.AmountComments == 1 ? " Reactie" : " Reacties")</h3>

                                        <ul class="media-list">

                                            @foreach (var blogReaction in Model.BlogReactionModels)
                                            {
                                                <li class="media">
                                                    @Html.Hidden("commentId", blogReaction.CommentId)
                                                    @if (!string.IsNullOrEmpty(blogReaction.Username))
                                                    {
                                                        <a class="thumbnail pull-left" href="#">
                                                            <img class="media-object" alt="@blogReaction.Name" title="@blogReaction.Name" width="50" height="50" src="@string.Format("{0}{1}{2}", FileProvider.GetImagePath(FilePaths.ProfilePhotos, false), blogReaction.Username, FileProvider.GetPrefferedImageExtension())">
                                                        </a>
                                                    }
                                                    <div class="media-body">
                                                        <div class="media-heading">
                                                            <h4>@blogReaction.Name - @string.Format("{0:d MMMM yyyy}", blogReaction.Date)</h4>
                                                        </div>
                                                        <p class="blogComment">@blogReaction.Message</p>

                                                        @if (User.Identity.IsAuthenticated && blogReaction.Username == User.Identity.Name)
                                                        {
                                                            <div class="actions clearfix nextBlock">
                                                                <div class="nextBlock pull-right">
                                                                    <span class="edit-Icon"></span>
                                                                    <span class="delete-Icon"></span>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                        <hr />
                                    </div>
                                }

                                <div class="col-md-6">
                                    <h3>Laat een reactie achter!</h3>

                                    @using (Html.BeginForm("Reactie-Toevoegen", "Blog"))
                                    {
                                        @Html.HiddenFor(m => m.AddBlogReactionModel.BlogId)
                                        @Html.AntiForgeryToken()
                                        
                                        if (!User.Identity.IsAuthenticated)
                                        {
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.AddBlogReactionModel.Name)
                                                @Html.TextBoxFor(m => m.AddBlogReactionModel.Name, new {@class = "form-control"})
                                                @Html.ValidationMessageFor(m => m.AddBlogReactionModel.Name)
                                            </div>
                                        }

                                        <div class="form-group">
                                            @Html.LabelFor(m => m.AddBlogReactionModel.Message)
                                            @Html.TextAreaFor(m => m.AddBlogReactionModel.Message, new {@class = "form-control", @cols = "15", @rows = "3"})
                                            @Html.ValidationMessageFor(m => m.AddBlogReactionModel.Message)
                                        </div>

                                        <button class="btn btn-default" type="submit">Verstuur bericht!</button>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="panel-footer"></div>
        </div>
    </div>
</div>

    <!-- Delete comment Modal -->
<div class="modal fade" id="removeCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("Verwijder-Reactie", "Blog"))
            {
                @Html.HiddenFor(m => m.RemoveCommentId, new { @id = "RemoveCommentId" })
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Reactie verwijderen</h4>
                </div>
                <div class="modal-body">

                    Weet u zeker dat u uw reactie wilt verwijderen? <br />
                    Zodra uw reactie verwijderd wordt kan dit niet meer ongedaan worden gemaakt.

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                    <button type="submit" class="btn btn-primary">Opslaan</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- Edit comment Modal -->
<div class="modal fade @if (!ViewData.ModelState.IsValidField("EditCommentModel.Message")) {@("invalid")}" id="editCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("Wijzig-Reactie", "Blog"))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Reactie wijzigen</h4>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(m => m.EditCommentModel.ArticleId)
                    @Html.HiddenFor(m => m.EditCommentModel.CommentId, new { @id = "editCommentId" })

                    @Html.LabelFor(m => m.EditCommentModel.Message)
                    @Html.TextAreaFor(m => m.EditCommentModel.Message, new { @id = "editCommentMessage", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.EditCommentModel.Message)

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                    <button type="submit" class="btn btn-primary">Opslaan</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.actions .delete-Icon').click(function () {
            var commentId = $(this).closest('li').find('#commentId').val();
            $('#RemoveCommentId').val(commentId);
            $('#removeCommentModal').modal('show');
        });

        $('.actions .edit-Icon').click(function () {
            var commentId = $(this).closest('li').find('#commentId').val();
            var message = $(this).closest('li').find('.blogComment').text();
            $('#editCommentId').val(commentId);
            $('#editCommentMessage').val(message);
            $('#editCommentModal').modal('show');
        });

        if ($('#editCommentModal').hasClass('invalid')) {
            $("#editCommentModal").modal('show');
        }
    });
</script>