﻿@model Common.Models.Home.Error.ErrorModel
@{
    Layout = null;
}

@{
    Response.StatusCode = Model.ErrorCode;
}

<!DOCTYPE html>
<html>
<head>
    <title>Er heeft zich een fout plaatsgevonden!</title>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,500,600,700,400italic" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/img/favicon.ico")" />

    @Styles.Render("~/Content/stylesheets")
    @Scripts.Render("~/Content/js/jquery.js")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="/Content/js/responsive/html5Shiv.js"></script>
        <script src="/Content/js/responsive/respond.js"></script>
    <![endif]-->
</head>

<body>
    <div class="oc-wrapper">

        <div id="errorContainer" class="container">

            <ul class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">Error</li>
            </ul>

            <div class="nextBlock">
                <div class="panel panel-primary">
                    <div class="panel-heading">Error @Model.ErrorCode!</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <h2>Er is iets niet goed gegaan!</h2>

                                    <hr />

                                    <p>@Model.Message</p>

                                     <a href="@Html.Raw("http://" + Request.Url.Authority)" class="btn btn-default">Probeer om naar de homepagina te gaan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
