﻿@model Common.Models.Admin.ViewModel.FotoAlbumModel

<div class="col-md-12" id="fotoAlbum">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Fotoalbum toevoegen</div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Toevoegen", "Fotoalbum", FormMethod.Post, new {enctype = "multipart/form-data", id = "form"}))
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Titel)
                            @Html.TextBoxFor(m => m.Titel, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Titel)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Descriptie)
                            @Html.TextAreaFor(m => m.Descriptie, new {@class = "form-control", @rows = "5"})
                            @Html.ValidationMessageFor(m => m.Descriptie)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Keywoorden)
                            @Html.TextBoxFor(m => m.Keywoorden, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Keywoorden)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Linknaam)
                            @Html.TextBoxFor(m => m.Linknaam, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Linknaam)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Status)
                                @Html.CheckBoxFor(m => m.Status, new {@checked = "checked", @class="make-switch"})
                            @Html.ValidationMessageFor(m => m.Status)
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                Foto's - <small>Om meerdere foto's toe te voegen houdt u uw control knop ingedrukt en selecteert u het volgende plaatje</small>
                            </div>
                            <div class="panel-body">
                                @Html.TextBoxFor(m => m.Fotos, new {@type = "file", @multiple = "true"})


                                @Html.ValidationMessageFor(m => m.Fotos)
                            </div>
                            <div class="panel-footer"></div>
                        </div>

                        <input type="submit" value="Album toevoegen!" class="btn btn-primary btn-gradient" />
                    }

                    <div class="progress progress-striped active space">
                        <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%"> <span class="sr-only" id="percent">0%</span> </div>
                    </div>
                </div>



                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Content/css/bootstrap-switch-min.css")" />
}

@section Scripts{

    <script src="@Url.Content("~/Areas/Admin/Content/js/fileButtonReplacer.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/bootstrap-switch-min.js")"></script>


        @*//$(document).ready(function() {*@
        @*//    var bar = $('.progress-bar');
        //    var percent = $('#percent');
        //    var status = $('#status');

        //    $('#form').ajaxForm({
        //        beforeSend: function() {
        //            status.empty();
        //            var percentVal = '0%';
        //            bar.width(percentVal);
        //            percent.html(percentVal);
        //        },
        //        uploadProgress: function(event, position, total, percentComplete) {
        //            var percentVal = percentComplete + '%';
        //            bar.width(percentVal);
        //            percent.html(percentVal);
        //        },
        //        complete: function() {
        //        }
        //    });
        //});*@
}