﻿@using Common.Providers.Files
@model Common.Models.Admin.ViewModel.EditFotoAlbum

@{
    ViewBag.Title = "Fotoalbum wijzigen";
}
<div class="col-md-12" id="fotoAlbum">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Fotoalbum wijzigen</div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Wijzig", "Fotoalbum", FormMethod.Post, new {enctype = "multipart/form-data", id = "form"}))
                    {
                        @Html.HiddenFor(m => m.AlbumId)

                        <div class="form-group">
                            @Html.LabelFor(m => m.Titel)
                            @Html.TextBoxFor(m => m.Titel, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Titel)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Descriptie)
                            @Html.TextAreaFor(m => m.Descriptie, new {@class = "form-control", @rows = "5"})
                            @Html.ValidationMessageFor(m => m.Descriptie)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Keywoorden)
                            @Html.TextBoxFor(m => m.Keywoorden, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Keywoorden)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Linknaam)
                            @Html.TextBoxFor(m => m.Linknaam, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Linknaam)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Status)
                          @Html.CheckBoxFor(m => m.Status, new { @class = "make-switch", @checked = "checked" })
                            @Html.ValidationMessageFor(m => m.Status)
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                Foto's - <small>Om meerdere foto's toe te voegen houdt u uw control knop ingedrukt en selecteert u het volgende plaatje</small>
                            </div>
                            <div class="panel-body">
                                @*@Html.TextBoxFor(m => m.NieuweFotos, new { @type = "file", @name="file", @onchange = "makeFileList();", @id = "filesToUpload", @)
                             
                                @*Html.TextBoxFor(m => m.NieuweFotos, new { type = "file"})*@
                                <input type="button" value="Plaatje(s) selecteren" class="btn btn-green btn-gradient" onclick=" document.getElementById('filesToUpload').click(); ">
                                <input type="file" multiple id="NieuweFotos" onchange=" makeFileList(); " style="display: none;" />
                                <ul id="fileList">
                                    <li>Geen bestanden geselecteerd</li>
                                </ul>
                                @Html.ValidationMessageFor(m => m.NieuweFotos)

                                <div class="progress progress-striped active space">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%"> <span class="sr-only" id="percent">0%</span> </div>
                                </div>

                            </div>
                            <div class="panel-footer"></div>
                        </div>


                        <div class="panel" id="fileCheckboxContainer">
                            <div class="panel-heading">
                                <div class="panel-title">  Oude foto's - vink de foto's aan die u wilt verwijderen</div>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        @for (var counter = 0; Model.OudeFotos.Count > counter; counter++)
                                        {
                                            <div class="col-md-2">
                                                <div class="itemContainer">
                                                    <img src="@string.Format("{0}/{1}/{2}", FileProvider.GetImagePath(Common.Providers.Files.FilePaths.PhotoAlbums, false),Model.AlbumId,Model.OudeFotos[counter].Name)" alt="@Model.OudeFotos[counter].Name" title="@Model.OudeFotos[counter].Name" class="img-responsive item" />
                                                    <span class="checkIcon"></span>
                                                    @Html.CheckBoxFor(m => m.OudeFotos[counter].Checked)
                                                    @Html.HiddenFor(m => m.OudeFotos[counter].FotoId)
                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="submit" value="Album wijzigen!" class="btn btn-primary btn-gradient" />
                    }

                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Content/css/bootstrap-switch-min.css")" />
}

@section Scripts{
<script src="@Url.Content("~/Areas/Admin/Content/js/bootstrap-switch-min.js")"></script>
    <script>

        function makeFileList() {
            var input = document.getElementById("filesToUpload");
            var ul = document.getElementById("fileList");
            while (ul.hasChildNodes()) {
                ul.removeChild(ul.firstChild);
            }
            for (var i = 0; i < input.files.length; i++) {
                var li = document.createElement("li");
                li.innerHTML = input.files[i].name;
                ul.appendChild(li);
            }
            if (!ul.hasChildNodes()) {
                var li = document.createElement("li");
                li.innerHTML = 'Geen bestanden geselecteerd.';
                ul.appendChild(li);
            }
        }

        </script>
        @*$(function() {

            var bar = $('.progress-bar');
            var percent = $('#percent');
            var status = $('#status');

            $('#form').ajaxForm({
                beforeSend: function() {
                    status.empty();
                    var percentVal = '0%';
                    bar.width(percentVal);
                    percent.html(percentVal);
                    $("fotoAlbum .progress").show();
                },
                uploadProgress: function(event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%';
                    bar.width(percentVal);
                    percent.html(percentVal);
                },
                complete: function() {
                    window.location.replace("/Fotoalbum/Weergeven");
                }
            });
        });
   
*@
    <script src="@Url.Content("~/Areas/Admin/Content/js/FileCheckboxSelector.js")"></script>
}