﻿@*@model Common.Models.Admin.Plugins.AddPluginModel

@{
    ViewBag.Title = "Plugin toevoegen";
}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Plugin toevoegen</div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Toevoegen", "Plugins", FormMethod.Post, new {enctype = "multipart/form-data"}))
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.PluginPostedFileBase)
                            @Html.TextBoxFor(m => m.PluginPostedFileBase, new {@type = "file"})
                        </div>

                        <input type="submit" value="Plugin installeren!" class="btn btn-info btn-gradient"/>
                    }
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Areas/Admin/Content/js/fileButtonReplacer.js")
}*@