﻿@*@model IEnumerable<Common.Models.Admin.Plugins.ViewPluginsModel>
@{
    ViewBag.Title = "Plugins";
}
<div class="col-md-12" id="plugins">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Alle plugins</div>
                    <ul class="nav panel-tabs">
                        <li class="@if (Request.RequestContext.RouteData.Values["action"].ToString().Equals("weergeven", StringComparison.CurrentCultureIgnoreCase))
                                   {  @Html.Raw("active")}">
                            @Html.ActionLink("Alles", "Weergeven", "Plugins")
                        </li>
                        <li class="@if (Request.RequestContext.RouteData.Values["action"].ToString().Equals("actieve-plugins-weergeven", StringComparison.CurrentCultureIgnoreCase))
                                   {  @Html.Raw("active")}">
                            @Html.ActionLink("Actief", "Actieve-Plugins-Weergeven", "Plugins")
                        </li>
                        <li class="@if (Request.RequestContext.RouteData.Values["action"].ToString().Equals("in-actieve-plugins-weergeven", StringComparison.CurrentCultureIgnoreCase))
                                   {  @Html.Raw("active")}">
                            @Html.ActionLink("In-actief", "In-Actieve-Plugins-Weergeven", "Plugins")
                        </li>
                    </ul>
                </div>
                <div class="panel-body">

                    <table id="datatable" class="table table-responsive table-striped">
                        <thead>
                            <tr>
                                <th class="firstRow">Naam</th>
                                <th class="secondRow">Descriptie</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var plugin in Model)
                            {
                                <tr>

                                    <td class="firstRow">

                                        <p class="pluginName">@plugin.PluginFriendlyName</p>

                                        <div class="actionLinks">

                                            <span class="settings" data-controller="@plugin.SettingsController">Instellingen</span>|

                                            @if (plugin.Enabled)
                                            {
                                                @Html.ActionLink("Deactiveren", "DeActivate", new { id = plugin.PluginId })
                                            }
                                            else
                                            {
                                                @Html.ActionLink("Activeren", "Activate", new { id = plugin.PluginId })
                                            }

                                        </div>

                                        <!-- Modal Settings-->
                                        <div class="modal fade settingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">@plugin.PluginFriendlyName - Instellingen</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                  <!-- { Html.RenderAction("Settings", plugin.SettingsController); } -->
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default btn-gradient" data-dismiss="modal">Sluiten</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>

                                    <td class="secondRow">

                                        <p>@plugin.Description</p>

                                        <div class="pluginInfo">
                                            Versie: @plugin.Version

                                            @if (string.IsNullOrEmpty(plugin.Author) == false && string.IsNullOrEmpty(plugin.AuthorWebsite))
                                            {
                                                <span class="border">|</span>
                                                @Html.Raw("Door: ")
                                                <a href="@plugin.AuthorWebsite">@plugin.Author</a>
                                            }

                                            @if (!string.IsNullOrEmpty(plugin.PluginWebsite))
                                            {
                                                <span class="border">|</span> <a href="@plugin.PluginWebsite" target="_blank">Bezoek plugin website</a>    
                                            }

                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {

            function doRequest() {
                $.ajax({
                    url: 'GetStatus',
                    timeout: 500
                }).error(function () {
                        setTimeout(function () {
                            doRequest();
                        }, 500);
                });
            }

            // Restart domain app
            if (window.location.search.indexOf('restart=true') > -1) {

                alert('De website wordt opnieuw opgestart, dit kan een aantal seconden duren..');

                $.get('Restart').error(function() {
                    alert('Kon de website niet opnieuw opstarten');
                }).always(function() {
                    doRequest();
                });
            }

            $('#datatable .settings').click(function() {

                var pluginModal = $(this).parent().parent().find('.settingsModal');

                $(pluginModal).modal('show');
            });

            $('.settingsModal').submit(function(e) {

                var submitData = $(this).find('form').serialize();

                var controllerName = $(this).parent().find('.settings').data('controller');

                $.post(controllerName + "/" + "Settings", submitData);

                e.preventDefault();
            });
        });
    </script>
}*@
