﻿@{
    Layout = null;
}

@using Common.Providers.Date
@model IEnumerable<Common.Models.Admin.Guestbook.ViewGuestbookModel>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Alle gastenboek reacties</div>
                </div>
                <div class="panel-body">
                      <div class="pull-right">
                        @Html.TextBox("datatableText", null, new { @class = "form-control", @placeholder="Zoeken.." })     
                    </div>
                   
                    <table id="datatable" class="table table-striped" data-filter="#datatableText" data-filter-minimum="1">
                        <thead>
                            <tr>
                                <th>Auteur</th>
                                <th data-hide="phone">Datum</th>
                                <th>Status</th>
                                <th data-hide="phone, tablet">Wijzigen</th>
                                <th data-hide="phone, tablet">Verwijderen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var comment in Model)
                            {
                                <tr>
                                    <td>@comment.Fullname</td>
                                    <td>@DateProvider.GetLongDate(comment.Date)</td>
                                    <td>@(comment.Enabled ? Html.Raw("<span class='label label-success'>Zichtbaar</span>") : Html.Raw("<span class='label label-danger'>Onzichtbaar</span>"))</td>
                                    <td>@Html.ActionLink("Wijzigen", "Wijzig", new {@id = comment.Id}, new {@class = "btn btn-xs btn-warning btn-gradient"})</td>
                                    <td>@Html.ActionLink("Verwijder", "Verwijder", new { @id = comment.Id }, new { @class = "btn btn-xs btn-danger btn-gradient" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>