﻿@model Common.Models.Home.Login.LoginModel

<div id="loginContainer" class="container">


    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Inloggen</li>
    </ul>



    <div class="nextBlock" id="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        @Html.ValidationMessage("membershipError")
                    </div>
                    <div class="col-md-3">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                @Html.LabelFor(m => m.Username)
                                @Html.TextBoxFor(m => m.Username, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Username)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <div class="label">
                                        @Html.LabelFor(m => m.Remember)
                                        @Html.CheckBoxFor(m => m.Remember)
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Remember)
                                </div>


                            </div>

                            <input type="submit" value="Inloggen" class="btn btn-primary" />
                        }
                        
                        @Html.ActionLink("Wachtwoord vergeten?", "ResetWachtwoord", "Inloggen", null, new {@class = "nextBlock"})
                        @Html.ActionLink("Gebruikersnaam vergeten?", "LoginNaam", "Inloggen", null, new {@class = "nextBlock"})
                    </div>
                </div>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>