﻿@model Common.Models.Home.Login.ResetPasswordStep2Model

<div id="BlogContainer" class="container">


    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Wachtwoord resetten", "ResetWachtwoord", "Inloggen")</li>
        <li class="active">Stap 2</li>
    </ul>



    <div class="nextBlock" id="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Wachtwoord resetten</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        @using (Html.BeginForm("ResetWachtwoordStap2", "Inloggen"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Username)

                            <div class="form-group">
                                @Html.LabelFor(m => m.Question, Model.Question)
                                @Html.TextBoxFor(m => m.Answer, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Answer)
                            </div>

                            <input type="submit" value="Wachtwoord resetten" class="btn btn-primary" />
                        }
                    </div>
                </div>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>