﻿@model Common.Models.Home.Login.ResetPasswordModel

<div id="BlogContainer" class="container">


    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Wachtwoord resetten</li>
    </ul>



    <div class="nextBlock" id="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Wachtwoord resetten</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                @Html.LabelFor(m => m.Username)
                                @Html.TextBoxFor(m => m.Username, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Username)
                            </div>

                            <input type="submit" value="Volgende stap" class="btn btn-primary" />
                        }
                    </div>
                </div>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>