﻿@using Common.Models.Admin.ViewModel
@using Common.Providers.Date
@model BundleDashboardModel
@{
    Layout = null;
}


    <div class="col-md-8">
        <div class="row">

            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title"> <i class="fa fa-comments-o"></i> Kwesties in afwachting</div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            @if (Model.HasBlogPermission)
                            {
                                <div class="col-md-2-4 col-xs-6">
                                    <a href="/Admin/Blog/Weergeven">
                                        <div class="console-btn console-alt console-block">
                                            <div class="console-icon"> <span class="glyphicons glyphicons glyphicons-vcard"></span> </div>
                                            <div class="console-text">
                                                <div class="console-title">Blog</div>
                                            </div>
                                            <div class="console-badge">
                                                <span class="badge @if (Model.BlogReactions == 0)
                                                                                          {
                                                                                              @Html.Raw("badge-green")
                                                                                          }
                                                                                          else if (Model.BlogReactions > 0 && Model.BlogReactions <= 10)
                                                                                          {
                                                                                              @Html.Raw("badge-orange")
                                                                                          }
                                                                                          else
                                                                                          {
                                                                                              @Html.Raw("badge-red")
                                                                                          }">@Model.BlogReactions</span>
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                            }
                            @if (Model.HasNewsPermission)
                            {
                                <div class="col-md-2-4 col-xs-6">
                                    <a href="/Admin/Nieuws/Weergeven">
                                        <div class="console-btn console-alt console-block">
                                            <div class="console-icon"> <span class="glyphicons glyphicons-global"></span> </div>
                                            <div class="console-text">
                                                <div class="console-title">Nieuws</div>
                                            </div>
                                            <div class="console-badge"><span class="badge @if (Model.NewsReactions == 0)
                                                                                          {
                                                                                              @Html.Raw("badge-green")
                                                                                          }
                                                                                          else if (Model.NewsReactions >= 1 && Model.NewsReactions < 10)
                                                                                          {
                                                                                              @Html.Raw("badge-orange")
                                                                                          }
                                                                                          else
                                                                                          {
                                                                                              @Html.Raw("badge-red")
                                                                                          }">@Model.NewsReactions</span></div>
                                        </div>
                                    </a>
                                </div>
                            }
                            @if (Model.HasGuestbookPermission)
                            {
                                <div class="col-md-2-4 col-xs-6">
                                    <a href="/Admin/Gastenboek/Weergeven">
                                        <div class="console-btn console-alt console-block">
                                            <div class="console-icon"> <span class="glyphicons glyphicons-comments"></span> </div>
                                            <div class="console-text">
                                                <div class="console-title">Gastenboek</div>
                                            </div>
                                            <div class="console-badge">
                                                <span class="badge @if (Model.GuestbookReactions == 0)
                                                                                          {
                                                                                              @Html.Raw("badge-green")
                                                                                          }
                                                                                          else if (Model.GuestbookReactions >= 1 && Model.GuestbookReactions < 10)
                                                                                          {
                                                                                              @Html.Raw("badge-orange")
                                                                                          }
                                                                                          else
                                                                                          {
                                                                                              @Html.Raw("badge-red")
                                                                                          }">@Model.GuestbookReactions</span>
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                            }
                            @if (Model.HasTicketPermission)
                            {
                                <div class="col-md-2-4 col-xs-6">
                                    <a href="/Admin/Tickets/Open-tickets-weergeven">
                                        <div class="console-btn console-alt console-block">
                                            <div class="console-icon"> <span class="glyphicons glyphicons-tags"></span> </div>
                                            <div class="console-text">
                                                <div class="console-title">Tickets</div>
                                            </div>
                                            <div class="console-badge">
                                                <span class="badge @if (Model.TicketsReactions == 0 && Model.TicketsReactions < 5)
                                                                                          {
                                                                                              @Html.Raw("badge-green")
                                                                                          }
                                                                                          else if (Model.TicketsReactions >= 1 && Model.TicketsReactions < 10)
                                                                                          {
                                                                                              @Html.Raw("badge-orange")
                                                                                          }
                                                                                          else
                                                                                          {
                                                                                              @Html.Raw("badge-red")
                                                                                          }">@Model.TicketsReactions</span>
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                            }
                            @if (Model.HasUsersPermission)
                            {
                                <div class="col-md-2-4 col-xs-6">
                                    <a href="/Admin/Gebruikers/Weergeven">
                                        <div class="console-btn console-alt console-block">
                                            <div class="console-icon"> <span class="glyphicons glyphicons-user"></span> </div>
                                            <div class="console-text">
                                                <div class="console-title">Gebruikers</div>
                                            </div>
                                            <div class="console-badge">
                                                <span class="badge @if (Model.UsersAwaiting == 0)
                                                                                          {
                                                                                              @Html.Raw("badge-green")
                                                                                          }
                                                                                          else if (Model.UsersAwaiting >= 1 && Model.UsersAwaiting < 10)
                                                                                          {
                                                                                              @Html.Raw("badge-orange")
                                                                                          }
                                                                                          else
                                                                                          {
                                                                                              @Html.Raw("badge-red")
                                                                                          }">@Model.UsersAwaiting</span>
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title"> <i class="fa fa-bar-chart-o"></i> Statistieken</div>
                    </div>
                    <div class="panel-body">
                        <div id="loadingStatistics">
                            <img src="/Areas/Admin/Content/img/ajax-loader.gif" alt="Bezig met het laden van de statistieken.." title="Bezig met het laden van de statistieken.." />
                            <p>Bezig met het laden van de statistieken..</p>
                        </div>
                        <div id="chart_div"></div>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
            
            @if (Model.HasNewsPermission)
            {
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title"> <i class="fa fa-archive"></i> Nieuwsartikelen </div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-widget table-striped">
                                <thead>
                                    <tr>
                                        <th>Onderwerp</th>
                                        <th>Schrijver</th>
                                        <th>Reacties</th>
                                        <th>Datum</th>
                                        <th>Actie</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var newsArticle in Model.NewsModels)
                                    {
                                        <tr>
                                            <td>@newsArticle.Titel</td>
                                            <td>@newsArticle.AuteurNaam</td>
                                            <td>@newsArticle.AantalReacties</td>
                                            <td>@DateProvider.GetLongDate(newsArticle.Datum)</td>
                                            <td>@Html.ActionLink("Wijzigen", "Wijzig", "Nieuws", new {@id = newsArticle.ArtikelId}, new {@class = "btn btn-info btn-gradient"})</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
            
            @if (Model.HasAgendaPermission)
            {
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title"> <i class="fa fa-calendar"></i> Agenda</div>
                        </div>
                        <div class="panel-body">
                            <div id='calendar'></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    

    <!-- Laatste nieuws Jamie Knoef -->
    <div class="col-md-4">
        <div id="laatsteNieuwsJamieKnoef">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title"> <i class="fa fa-comments-o"></i> Laatste nieuws</div>
                </div>
                <div class="panel-body">
                    <div id="LoadExternalNews">
                        Nieuws wordt geladen..
                    </div>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
    <!-- Einde laatste nieuws Jamie Knoef-->
    
    @if (Model.HasUsersPermission)
    {
        <!-- Nieuwste gebruikers -->
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title"> <i class="fa fa-user"></i> Nieuwste gebruikers</div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr class="role">
                            <th>Naam</th>
                            <th>Datum</th>
                            <th>Actie</th>
                        </tr>
                        @foreach (var user in Model.UsersModels)
                        {
                            <tr>
                                <td>@user.Firstname @user.Lastname</td>
                                <td>@DateProvider.GetLongDate(user.CreatedDate)</td>
                                <td>@Html.ActionLink("Wijzigen", "Wijzig", "Gebruikers", new {@username = user.Username}, new {@class = "btn btn-warning btn-gradient"})</td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    }
    <!-- Einde nieuwste gebruikers-->
    <!-- Laatste Nieuws -->
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title"> <i class="fa fa-envelope-o"></i> Snel contact</div>
            </div>
            <div class="panel-body">
                @{ Html.RenderPartial("~/Areas/Admin/Views/Shared/Dashboard/Contact.cshtml", new ContactDashboardModel()); }
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>

<!-- Einde nieuwsartikelen -->

