﻿<div id="viewContent" data-url="@Url.Action("_Behandelde-tickets-weergeven")"></div>


@section Scripts{
    @Scripts.Render("~/Areas/Admin/Content/js/datatables")

    <script>
        $(function () {
            $('#datatable').footable();
        });
    </script>
}

@section Styles{
    @Styles.Render("~/Areas/Admin/Content/css/datatables")
}