﻿@model int

<div id="viewContent" data-url="@Url.Action("_Info", "Tickets", new {@id = Model})"></div>


@section Styles{
    @Styles.Render("~/Areas/Admin/Content/css/select2.css")
}

@section Scripts{
    @Scripts.Render("~/Areas/Admin/Content/select2")
    @Scripts.Render("~/Areas/Admin/Content/tinymce")
    <script>
        tinyMCE.baseURL = "/Areas/Admin/Content/js/tinymce/";
        tinymce.init({
            selector: "textarea",
            language: 'nl',
            plugins: 'advlist autolink link image lists charmap print preview fullscreen table textcolor code paste template visualchars visualblocks'
        });
        $(".search").select2({ width: '100%' });
    </script>
}