﻿@model Common.Models.Admin.ViewModel.CreateTicketModel

@{
    ViewBag.Title = "Ticket toevoegen";
}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Ticket toevoegen</div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Subject)
                            @Html.TextBoxFor(m => m.Subject, new {@class = "form-control"})
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Message)
                            @Html.TextAreaFor(m => m.Message, new {@class = "form-control"})
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Username)
                            @Html.DropDownListFor(x => x.Username, Model.Users, new {@class = "search"})
                        </div>

                        <input type="submit" value="Ticket toevoegen!" class="btn btn-info btn-gradient" />
                    }
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Areas/Admin/Content/css/select2.css")
}

@section Scripts{
    @Scripts.Render("~/Areas/Admin/Content/select2")
    @Scripts.Render("~/Areas/Admin/Content/tinymce")
    <script>
        tinyMCE.baseURL = "/Areas/Admin/Content/js/tinymce/";
        tinymce.init({
            selector: "textarea",
            language: 'nl',
            plugins: 'advlist autolink link image lists charmap print preview fullscreen table textcolor code paste template visualchars visualblocks'
        });
        $(".search").select2({ width: '100%' });
    </script>
}