﻿@model Common.Models.Home.Blog.BundleBlogModel

@{
    ViewBag.Title = Model.BlogModel.Title;
}

<div id="blogArticleContainer" class="container">


    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
        <li class="active">@Model.BlogModel.Title</li>
    </ul>



    <div class="nextBlock" id="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Artikel</div>
            <div class="panel-body">
                <div class="media">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="title">@Html.Raw(Model.BlogModel.Title)</p>
                            <div class="information">
                                <ul>
                                    <li>
                                        <span class="fa fa-user"></span> @Model.BlogModel.AuthorName
                                    </li>
                                    <li>
                                        <span class="fa fa-comment"></span> @Model.BlogModel.AmountComments Reacties
                                    </li>
                                    <li>
                                        <span class="fa fa-tags"></span> @Model.BlogModel.Keywords
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-md-12">
                            @if (!string.IsNullOrEmpty(Model.BlogModel.Image))
                            {
                                <div class="image">
                                    <img src="@Url.Content("~/Shared/Blog/" + Model.BlogModel.BlogId + "/" + Model.BlogModel.Image)" alt="@Model.BlogModel.Title" title="@Model.BlogModel.Title" />
                                </div>
                            }
                            <div class="nextBlock">
                                <blockquote>
                                    @Html.Raw(Model.BlogModel.Intro)
                                </blockquote>
                                <p>@Html.Raw(Model.BlogModel.Information)</p>

                            </div>
                        </div>
                    </div>
                </div>
                <hr />


                <div class="row">
                    <div class="col-md-12">
                        <div class="about">
                            <div id="articleInfoContainer">
                                @if (Model.BlogModel.UserHasAvatar)
                                {
                                    <img alt="about" src="@Url.Content("~/Shared/ProfilePhotos/" + Model.BlogModel.Username + ".png")" />
                                }

                                <div class="articleInfo">
                                    <h4 class="name">@Model.BlogModel.AuthorName</h4>
                                    <br />
                                    <p>@string.Format("{0:d MMMM yyyy}", Model.BlogModel.Date)</p>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>

                @if (Model.BlogModel.CommentsEnabled)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                @if (Model.BlogReactionModels.Any())
                                {
                                    <div class="col-md-12">
                                        <h3>@Model.BlogModel.AmountComments Reacties</h3>

                                        <ul class="media-list">

                                            @foreach (var blogReaction in Model.BlogReactionModels)
                                            {
                                                <li class="media">
                                                    @if (!string.IsNullOrEmpty(blogReaction.Username))
                                                    {
                                                        <a class="thumbnail pull-left" href="#">
                                                            <img class="media-object" alt="@blogReaction.Name" title="@blogReaction.Name" width="50" height="50" src="@Url.Content("~/Shared/ProfilePhotos/" + blogReaction.Username + ".png")">
                                                        </a>
                                                    }
                                                    <div class="media-body">
                                                        <div class="media-heading">
                                                            <h4>@blogReaction.Name - @string.Format("{0:d MMMM yyyy}", blogReaction.Date)</h4>
                                                        </div>
                                                        <p>@blogReaction.Message</p>
                                                    </div>
                                                </li>
                                            }


                                        </ul>
                                        <hr />
                                    </div>
                                }



                                <div class="col-md-6">
                                    <h3>Laat een reactie achter!</h3>

                                    @using (Html.BeginForm("ReactieToevoegen", "Blog"))
                                    {
                                        @Html.HiddenFor(m => m.AddBlogReactionModel.BlogId)
                                        @Html.AntiForgeryToken()
                                        if (!User.Identity.IsAuthenticated)
                                        {
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.AddBlogReactionModel.Name)
                                                @Html.TextBoxFor(m => m.AddBlogReactionModel.Name, new {@class = "form-control"})
                                                @Html.ValidationMessageFor(m => m.AddBlogReactionModel.Name)
                                            </div>
                                        }

                                        <div class="form-group">
                                            @Html.LabelFor(m => m.AddBlogReactionModel.Message)
                                            @Html.TextAreaFor(m => m.AddBlogReactionModel.Message, new {@class = "form-control", @cols = "15", @rows = "3"})
                                            @Html.ValidationMessageFor(m => m.AddBlogReactionModel.Message)
                                        </div>

                                        <button class="btn btn-default" type="submit">Verstuur bericht!</button>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="panel-footer"></div>
        </div>
    </div>
</div>