﻿@using PagedList.Mvc
@model Common.Models.Home.Blog.ViewBundleModel

<div id="BlogContainer" class="container">


    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
        <li class="active">Artikelen</li>
    </ul>



    <div class="nextBlock" id="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">


                <div class="row clearfix">
                    
                    <div class="col-md-6">
                        <span id="blogsArticleName" class="pull-left">Artikelen</span>
                    </div>

                    <div class="col-md-6" id="searchContainer">
                        <div class="pull-right">
                          @using (Html.BeginForm("Zoek", "Blog", FormMethod.Post))
                          {
                              @Html.HiddenFor(m=> m.SearchNewsModel.CurrentPage, Model.BlogModels.PageNumber)
                              <div class="input-group">
                                  @Html.TextBoxFor(m=> m.SearchNewsModel.SearchTerm, new {@class="form-control pull-right", placeholder="Artikel zoeken.."})
                                  <span class="input-group-btn">
                                      <button type="submit" class="btn btn-default"><em class="fa fa-search"></em></button>
                                  </span>
                              </div>
                          }
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel-body">
                
                @if (Model.BlogModels.PageCount == 0)
                {
                    <p>Er zijn geen blogartikelen gevonden.</p>
                }

                @foreach (var blogArticle in Model.BlogModels)
                {
                    <div class="media">
                        <div class="row">
                            <div class="col-md-12 col-md-push-1">
                                <p class="title">@blogArticle.Title</p>
                                <div class="information">
                                    <ul>
                                        <li>
                                            <span class="fa fa-user"></span> <span class="spaceIcon">@blogArticle.AuthorName</span> 
                                        </li>
                                        <li>
                                            <span class="fa fa-comment"></span> <span class="spaceIcon">@blogArticle.AmountComments Reacties</span> 
                                        </li>
                                        <li>
                                            <span class="fa fa-tags"></span> <span class="spaceIcon">@blogArticle.Keywords</span> 
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-1">
                                        <div class="date">
                                            <strong>@string.Format("{0:dd}", blogArticle.Date)</strong>
                                            @string.Format("{0:MMM}", blogArticle.Date)
                                        </div>
                                    </div>
                                    <div class="col-md-11">
                                        <div class="image">
                                            <img src="@Common.Providers.Files.FileProvider.GetImagePath(Common.Providers.Files.FilePaths.PhotoAlbums) + blogArticle.BlogId + "/" + blogArticle.Image)" alt="@blogArticle.Title" title="@blogArticle.Title" />
                                        </div>
                                        <div class="nextBlock">
                                            <p>@blogArticle.Intro</p>
                                            @Html.ActionLink("Lees meer..", "Artikel", new { @id = blogArticle.BlogId, @title = blogArticle.Url }, new { @class = "btn btn-default" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <hr />

                @if (Model.BlogModels.PageCount > 1)
                {
                    <div class="text-right">
                        @Html.PagedListPager(Model.BlogModels, page => Url.Action("Index", "Blog", new { page }))
                    </div>
                }

            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>
