﻿@model IEnumerable<Common.Link>

@{
    Layout = null;
}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Alle links</div>
                </div>
                <div class="panel-body">
                    <div class="pull-right">
                        @Html.TextBox("datatableText", null, new { @class = "form-control", @placeholder="Zoeken.." })     
                    </div>
                   
                    <table id="datatable" class="table table-striped" data-filter="#datatableText" data-filter-minimum="1">
                        <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Link</th>
                                <th data-hide="phone">Status</th>
                                <th data-hide="phone, tablet">Wijzigen</th>
                                <th data-hide="phone, tablet">Verwijderen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var link in Model)
                            {
                                <tr>
                                    <td>@link.Naam</td>
                                    <td>@link.LinkUrl</td>
                                    <td>
                                        @{
                                            @Html.Raw(link.Status ? "<span class='label label-success'>Ingeschakeld</span>" : "<span class='label label-danger'>Uitgeschakeld</span>")
                                        }
                                    </td>
                                    <td>@Html.ActionLink("Wijzigen", "Wijzig", new {@id = link.LinkID}, new {@class = "btn btn-xs btn-warning btn-gradient"})</td>
                                    <td>@Html.ActionLink("Verwijder", "Verwijder", new {@id = link.LinkID}, new {@class = "btn btn-xs btn-danger btn-gradient"})</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>