﻿@model IEnumerable<Common.Models.Admin.ViewModel.FolderModel>

@foreach (var subfolder in Model)
{
    <li>
        <span class="badge badge-success" title="Collapse this branch"><i class="glyphicons @(subfolder.SubFolderModels.Count > 0 ? Html.Raw("glyphicons-circle_plus") : Html.Raw("glyphicons-circle_minus"))"></i> @subfolder.FolderName</span>
        @Html.Hidden("treeFolderId", subfolder.FolderId)
        <ul role="group">
            @Html.Partial("~/Areas/Admin/Views/Shared/Folders/PartialFolder.cshtml", subfolder.SubFolderModels)
        </ul>
    </li>
}