﻿@model Common.Models.Admin.ViewModel.ContactDashboardModel
<div id="dashboardContact">
    <div class="alert alert-success" id="contactMessage">
        <p>Het contactformulier is verstuurd, ik zal proberen zo snel mogelijk te reageren.</p>
    </div>

    @using (Html.BeginForm("Contact", "Dashboard", FormMethod.Post, new {@id = "sendContact"}))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Subject)
            @Html.TextBoxFor(m => m.Subject, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Subject)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Message)
            @Html.TextAreaFor(m => m.Message, new {@class = "form-control", @rows = "4"})
            @Html.ValidationMessageFor(m => m.Message)
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-blue2 btn-gradient" value="Verzenden" data-loading-text="Wordt verzonden..." />
        </div>
    }
</div>