﻿@model Common.Models.Home.Fotoalbum.PhotoAlbumModel

<div id="PhotosinAlbumContainer" class="container">


    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Fotoalbums", "Index", "Fotoalbum")</li>
        <li class="active">@Model.Title</li>
    </ul>



    <div class="nextBlock" id="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">@Model.Title</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" id="images">
                            @foreach (var photo in Model.Photos)
                            {
                                <div class="col-md-3">
                                    <a href="@Url.Content("~/Content/img/Fotoalbum/" + Model.AlbumId + "/" + photo.Name)" rel="album" class="fancybox" title="@photo.Name"><img src="@Url.Content("~/Content/img/Fotoalbum/" + Model.AlbumId + "/" + photo.Name)" alt="@photo.Name" class="img-responsive" /></a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>

<link href="@Url.Content("~/Content/css/jquery-fancybox.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/jquery.fancybox-buttons.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/jquery.fancybox-thumbs.css")" rel="stylesheet" />

<script src="@Url.Content("~/Content/js/jquery-fancybox-pack.js")"></script>
<script src="~/Content/js/jquery.fancybox-buttons.js"></script>
><script>
     $(document).ready(function() {
         $(".fancybox").fancybox({
             prevEffect: 'none',
             nextEffect: 'none',
         });
     });
 </script>