﻿
@using PagedList.Mvc
@model Common.Models.Home.Fotoalbum.ViewBundlePhotoAlbums

<div id="photoAlbumContainer" class="container">


    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Fotoalbums</li>
    </ul>



    <div class="nextBlock" id="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">

                <div id="searchContainer" class="row">
                    <div class="col-md-12 clearfix">
                        <div class="col-md-6">
                            <span id="articleName" class="pull-left">Artikelen</span>
                        </div>

                        <div class="col-md-6">
                            @using (Html.BeginForm("Zoek", "Fotoalbum", FormMethod.Post))
                            {
                                @Html.HiddenFor(m => m.SearchModel.CurrentPage, Model.PhotoAlbums.PageNumber)
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.SearchModel.SearchTerm, new { @class = "form-control pull-right", placeholder = "Album zoeken.." })
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><em class="fa fa-search"></em></button>
                                    </span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12">
                        <div class="row">

                            @if (!ViewData.ModelState.IsValid)
                            {
                                <div class="col-md-12">
                                    <div class="alert alert-danger alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

                                        @Html.ValidationMessageFor(m => m.SearchModel.SearchTerm)
                                    </div>
                                </div>
                            }

                            @if (Model.PhotoAlbums.PageCount == 0)
                            {
                                <div class="col-md-12">
                                    <p>Geen fotoalbums gevonden.</p>
                                </div>
                            }

                            @foreach (var album in Model.PhotoAlbums.Where(x => x.Photos.Any()))
                            {
                                <div class="col-md-3 col-sm-6">
                                    <a href="@Url.Action("Album", "Fotoalbum", new { @id = album.AlbumId, @title = @album.Url })">
                                        <div class="albumContainer">
                                            <img src="@Url.Content(Common.Providers.Files.FileProvider.GetImagePath(Common.Providers.Files.FilePaths.PhotoAlbums, false) + album.AlbumId + "/" + album.Photos.First().Name)" alt="@album.Photos.First().Name" title="Ga naar dit album."/>
                                            <div class="captionPhoto">
                                                <span>@album.Title</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }

                            <hr />

                            @if (Model.PhotoAlbums.PageCount > 1)
                            {
                                <div class="col-md-12 space">
                                    <div class="text-right">
                                        @Html.PagedListPager(Model.PhotoAlbums, page => Url.Action("Index", "Fotoalbum", new { page }))
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>
