﻿@model IEnumerable<Common.Models.Home.Slider.SliderModel>
@{
    var counter = 0;
}
<div id="homeSlider" class="carousel slide">
    <ol class="carousel-indicators">
        
        @foreach (var slider in Model)
        {
            <li data-target="#homeSlider" data-slide-to="@counter" class="@if (counter == 0)
                                                                          {
                                                                              @Html.Raw("active")
                                                                          }"></li>
            {
                counter ++;
            }
        }
        @{ counter = 0; }
    </ol>
    <div class="carousel-inner">
        @foreach (var slider in Model)
        {
            <div class="item @if (counter == 0)
                             {
                                 @Html.Raw("active")
                             }" style="background: url(@slider.Image); background-position: center; background-size: cover;">
                <div class="carousel-caption caption-right">
                    <h4 class="carousel-caption-heading">@slider.Title</h4>
                    <p>@slider.Description</p>
                </div>
            </div>

            {
                counter++;
            }
        }
    </div>
    <a class="left carousel-control" href="#homeSlider" data-slide="prev">
        <span class="fa fa-prev"></span>
    </a>
    <a class="right carousel-control" href="#homeSlider" data-slide="next">
        <span class="fa fa-next"></span>
    </a>
</div>