﻿@{
    Layout = null;
}

@using Common.Providers.Date
@model IEnumerable<Common.Models.Admin.ViewModel.NewsReactionsModel>


<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Alle nieuwsartikel reacties</div>
                </div>
                <div class="panel-body">
                     <div class="pull-right">
                        @Html.TextBox("datatableText", null, new { @class = "form-control", @placeholder="Zoeken.." })     
                    </div>
                   
                    <table id="datatable" class="table table-striped" data-filter="#datatableText" data-filter-minimum="1">
                        <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Datum</th>
                                <th data-hide="tablet">Status</th>
                                <th data-hide="phone, tablet">Wijzigen</th>
                                <th data-hide="phone, tablet">Verwijderen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var reaction in Model)
                            {
                                <tr>
                                    <td>@reaction.Name</td>
                                    <td>@DateProvider.GetLongDate(reaction.Date)</td>
                                    <td>@(reaction.Status ? Html.Raw("<span class='label label-success'>Ge-accepteert</span>") : Html.Raw("<span class='label label-danger'>Niet geaccepteerd</span>"))</td>
                                    <td>@Html.ActionLink("Wijzigen", "Reactie-Wijzigen", new { @id = reaction.ReactionId }, new { @class = "btn btn-xs btn-warning btn-gradient" })</td>
                                    <td>@Html.ActionLink("Verwijder", "VerwijderReactie", new { @id = reaction.ReactionId }, new { @class = "btn btn-xs btn-danger btn-gradient" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>