﻿@model IEnumerable<Common.Models.Admin.Logs.ActivitiesModel>

@{
    Layout = null;
}
<div class="col-md-12" id="Logs">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Activiteiten</div>
                    <ul class="nav panel-tabs">
                        <li><a href="@Url.Action("VerwijderActiviteiten")" data-toggle="tab">Activiteiten legen</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="pull-right">
                        @Html.TextBox("datatableText", null, new { @class = "form-control", @placeholder = "Zoeken.." })
                    </div>

                    <table id="datatable" class="table table-striped" data-filter="#datatableText" data-filter-minimum="1">
                        <thead>
                            <tr>
                                <th>Controller</th>
                                <th>Actie</th>
                                <th data-hide="phone">Gebruiker</th>
                                <th data-hide="phone, tablet">Informatie</th>
                                <th data-hide="phone, tablet">Datum</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var action in Model)
                            {
                                <tr>
                                    <td>@action.Controller</td>
                                    <td>@action.Action</td>
                                    <td>@action.Fullname</td>
                                    <td>@action.Information</td>
                                    <td>@string.Format("{0:dd-MM-yyyy HHH:mm} ", action.Date)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
