﻿@{
    Layout = null;
}

@using Common.Providers.Date
@model IEnumerable<Common.Models.Admin.ViewModel.BlogReactionModel>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Alle blog artikel reacties</div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped" id="datatable">
                        <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Datum</th>
                                <th>Status</th>
                                <th>Wijzigen</th>
                                <th>Verwijderen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var reaction in Model)
                            {
                                <tr>
                                    <td>@reaction.Name</td>
                                    <td>@string.Format(DateProvider.GetLongDate(reaction.Date), reaction.Date)</td>
                                    <td>@(reaction.Status ? Html.Raw("<span class='label label-success'>Ge-accepteert</span>") : Html.Raw("<span class='label label-danger'>Niet geaccepteerd</span>"))</td>
                                    <td>@Html.ActionLink("Wijzigen", "Reactie-Wijzigen", new {@id = reaction.BlogReactionId}, new {@class = "btn btn-xs btn-warning btn-gradient"})</td>
                                    <td>@Html.ActionLink("Verwijder", "VerwijderReactie", new {@id = reaction.BlogReactionId}, new {@class = "btn btn-xs btn-danger btn-gradient"})</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Areas/Admin/Content/js/datatables")

    <script>
         $(function () {
        $('#datatable').footable();
    });
    </script>
}

@section Styles{
    @Styles.Render("~/Areas/Admin/Content/css/datatables")
}