﻿@using Common.Providers.Date
@model IEnumerable<Common.Models.Admin.ViewModel.BlogModel>

@{
    Layout = null;
}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Alle blog artikelen</div>
                </div>
                <div class="panel-body">
                   <div class="pull-right">
                        @Html.TextBox("datatableText", null, new { @class = "form-control", @placeholder="Zoeken.." })     
                    </div>
                   
                    <table id="datatable" class="table table-striped" data-filter="#datatableText" data-filter-minimum="1">
                        <thead>
                            <tr>
                                <th>Titel</th>
                                <th data-hide="phone">Auteur</th>
                                <th data-hide="phone">Datum</th>
                                <th data-hide="phone">Aantal reacties</th>
                                <th data-hide="phone">Status</th>
                                <th data-hide="phone">Reacties</th>
                                <th data-hide="phone, tablet">Wijzigen</th>
                                <th data-hide="phone, tablet">Verwijderen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var post in Model)
                            {
                                <tr>
                                    <td>@post.Titel</td>
                                    <td>@post.AuteurNaam</td>
                                    <td>@string.Format(DateProvider.GetLongDate(post.Datum), post.Datum)</td>
                                    <td>@post.AantalReacties</td>
                                    <td>
                                        @{
                                            @Html.Raw(post.Status ? "<span class='label label-success'>Ingeschakeld</span>" : "<span class='label label-danger'>Uitgeschakeld</span>")
                                        }
                                    </td>
                                    <td>@Html.ActionLink("Reacties", "Reacties-Weergeven", new { @id = post.BlogId }, new { @class = "btn btn-xs btn-info btn-gradient" })</td>
                                    <td>@Html.ActionLink("Wijzigen", "Wijzig", new { @id = post.BlogId }, new { @class = "btn btn-xs btn-warning btn-gradient" })</td>
                                    <td>@Html.ActionLink("Verwijder", "Verwijder", new { @id = post.BlogId }, new { @class = "btn btn-xs btn-danger btn-gradient" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>