﻿@model Common.Models.Admin.ViewModel.GuestbookModel

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Gastenboek reactie wijzigen</div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.HiddenFor(m => m.GuestbookId)

                        <div class="form-group">
                            @Html.LabelFor(m => m.Comment)
                            @Html.EditorFor(m => m.Comment, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Comment)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Enabled)
                          @Html.CheckBoxFor(m=> m.Enabled, new {@class="make-switch", @checked="checked"})
                            @Html.ValidationMessageFor(m => m.Enabled)
                        </div>

                        <input type="submit" value="Reactie wijzigen!" class="btn btn-info btn-gradient"/>
                    }
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Content/css/bootstrap-switch-min.css")" />
}

@section Scripts{
    <script src="@Url.Content("~/Areas/Admin/Content/js/bootstrap-switch-min.js")"></script>
}