﻿@model IEnumerable<Common.Models.Admin.ViewModel.TicketModel>

@{
    Layout = null;
}
<div class="col-md-12" id="tickets">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    @{Html.RenderPartial("Partials/_PanelNavigation");}
                    <div class="panel-title">Tickets in behandeling</div>
                </div>
                <div class="panel-body">
                    <div class="pull-left">
                        @Html.ActionLink("Ticket toevoegen", "Toevoegen", null, new {@class = "btn btn-default btn-gradient"})
                    </div>
                    @Html.Partial("~/Areas/Admin/Views/Tickets/Partials/PartialTicketsWeergeven.cshtml")
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>