﻿@{
    Layout = null;
}

@using Common.Models.Admin.Tickets
@using Common.Models.Admin.ViewModel
@using Kapsters.Areas.Admin.Controllers
@model Common.Models.Admin.ViewModel.BundleTicketModel

<div class="col-md-12">
    <div id="ticketInformatie">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">#@Model.TicketModel.TicketID @Model.TicketModel.Onderwerp <div class="pull-right">
                                                                                                               @switch ((TicketType) Model.TicketModel.Status)
                                                                                                               {
                                                                                                                   case TicketType.Open:
                                                                                                                   {
                                                                                                                       @Html.Raw("<span class='label label-success'>Open</span>")
                                                                                                                       break;
                                                                                                                   }
                                                                                                                   case TicketType.Review:
                                                                                                                   {
                                                                                                                       @Html.Raw("<span class='label label-warning'>In behandeling</span>")
                                                                                                                       break;
                                                                                                                   }
                                                                                                                   case TicketType.Closed:
                                                                                                                   {
                                                                                                                       @Html.Raw("<span class='label label-danger'>Gesloten</span>")
                                                                                                                       break;
                                                                                                                   }
                                                                                                               }
                            
                                                                                                           </div></div>
                    </div>
                    <div class="panel-body">
                        @{ var counter = 0; }
                        @foreach (TicketReactiesModel reactie in Model.TicketReactieModel)
                        {
                            <div class="well @if (reactie.isAdministratief)
                                             {
                                                 @Html.Raw("gebruiker")
                                             } @if (Model.TicketReactieModel.Count - counter == 1)
                                               {
                                                   @Html.Raw("noMargin")
                                               }">
                                <div class="media-content">
                                    <h4 class="media-heading">@reactie.Voornaam @reactie.Achternaam</h4>
                                    <p>@(reactie.isAdministratief ? @Html.Raw("<label class='label label-warning'> " + reactie.GebruikersGroepNaam + "</label> ") : @Html.Raw("<label class='label label-info'> " + reactie.GebruikersGroepNaam + "</label>"))</p>
                                    <p class="media-timestamp">@string.Format("{0:d-MM-yyyy HH:mm}", reactie.Datum)</p>
                                
                                    <hr/>
                                    @Html.Raw(reactie.Bericht)
                                </div>
                            </div>
                            counter++;
                        }
                        
                        @if (Model.TicketModel.Status != 2)
                        {
                            <div class="panel space" id="reactieToevoegen">
                                <div class="panel-heading">Reactie toevoegen</div>
                                <div class="panel-body">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.HiddenFor(m => m.TicketReplyModel.TicketId)
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.TicketReplyModel.Bericht)
                                            @Html.TextAreaFor(m => m.TicketReplyModel.Bericht, new {@class = "form-control", rows = "5"})
                                            @Html.ValidationMessageFor(m => m.TicketReplyModel.Bericht)
                                        </div>
                                        <input type="submit" value="Reactie toevoegen!" class="btn btn-primary btn-gradient"/>
                                    }
                                </div>
                            </div>
                        }
                      
                        <div id="action">
                            @if (Model.TicketModel.Status != 2)
                            {
                                @Html.ActionLink("Sluiten", "Actie", "Tickets", new {@ticketId = Model.TicketModel.TicketID, @actionId = "2"}, new {@class = "btn btn-danger btn-gradient pull-right"})
                            }
                            else if (Model.TicketModel.Status == 2)
                            {
                                @Html.ActionLink("Her-openen", "Actie", "Tickets", new {@ticketId = Model.TicketModel.TicketID, @actionId = "0"}, new {@class = "btn btn-info btn-gradient pull-right"})
                            }
                        </div>
                    </div>

                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>
    </div>
</div>