﻿@model Common.Models.Home.Contact.ContactModel

<div id="contactArticleContainer" class="container">


    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Contact</li>
    </ul>



    <div class="nextBlock">
        <div class="panel panel-primary">
            <div class="panel-heading">Contact</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Informatie</h4>
                                <p>
                                    Voor vragen kunt u contact opnemen via ons contactformulier of kom even langs!
                                </p>
                                <br>
                                <h4>Algemene vragen</h4>
                                <address>
                                    <p>
                                        Looierstraat 19
                                        <br>
                                        6921GP, Duiven
                                        <br/>
                                        Nederland
                                    </p>
                                </address>
                                <address>
                                    <p>
                                        <i class="fa fa-headphones"></i> (123) 456-7890
                                    </p>
                                    <p>
                                        <i class="fa fa-envelope"></i> mail@example.com
                                    </p>
                                    <p>
                                        <i class="fa fa-globe"></i> www.example.com
                                    </p>
                                </address>
                            </div>
                            <div class="col-md-8">
                                <h4>Onze locatie</h4>
                                <div style="border: 1px solid #CCC; padding: 5px;">
                                    <div class="gmap" data-zoom="14" data-markers="Little Lonsdale St, Melbourne, Victoria 8011 Australia; 2 Elizabeth St, Melbourne, Victoria 3000 Australia" style="-webkit-transform: translateZ(0px); background-color: rgb(229, 227, 223); height: 300px; overflow: hidden; position: relative;"><div class="gm-style" style="height: 100%; left: 0px; overflow: hidden; position: absolute; top: 0px; width: 100%; z-index: 0;"><div style="height: 100%; left: 0px; overflow: hidden; position: absolute; top: 0px; width: 100%; z-index: 0;"><div style="-webkit-transform: matrix(1, 0, 0, 1, 0, 0); -webkit-transform-origin: 0px 0px; cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default; left: 0px; position: absolute; top: 0px; width: 100%; z-index: 1;"><div style="-webkit-transform: translateZ(0px); left: 0px; position: absolute; top: 0px; width: 100%; z-index: 200;"><div style="-webkit-transform: translateZ(0px); left: 0px; position: absolute; top: 0px; width: 100%; z-index: 101;"></div></div><div style="-webkit-transform: translateZ(0px); left: 0px; position: absolute; top: 0px; width: 100%; z-index: 201;"><div style="-webkit-transform: translateZ(0px); left: 0px; position: absolute; top: 0px; width: 100%; z-index: 102;"></div><div style="-webkit-transform: translateZ(0px); left: 0px; position: absolute; top: 0px; width: 100%; z-index: 103;"><div style="left: 0px; position: absolute; top: 0px; z-index: -1;"><div style="left: 0px; position: absolute; top: 0px; z-index: 1;"><div style="-webkit-transform: translateZ(0px); height: 256px; left: 87px; overflow: hidden; position: absolute; top: 36px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: 343px; overflow: hidden; position: absolute; top: 36px; width: 256px;"><canvas draggable="false" height="256" width="256" style="-webkit-user-select: none; height: 256px; left: 0px; position: absolute; top: 0px; width: 256px;"></canvas></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: 343px; overflow: hidden; position: absolute; top: -220px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: 87px; overflow: hidden; position: absolute; top: -220px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: 87px; overflow: hidden; position: absolute; top: 292px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: 343px; overflow: hidden; position: absolute; top: 292px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: -169px; overflow: hidden; position: absolute; top: 36px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: 599px; overflow: hidden; position: absolute; top: 36px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: -169px; overflow: hidden; position: absolute; top: 292px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: 599px; overflow: hidden; position: absolute; top: -220px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: -169px; overflow: hidden; position: absolute; top: -220px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: 599px; overflow: hidden; position: absolute; top: 292px; width: 256px;"></div></div></div></div></div><div style="-webkit-transform: translateZ(0px); left: 0px; position: absolute; top: 0px; width: 100%; z-index: 202;"><div style="-webkit-transform: translateZ(0px); left: 0px; position: absolute; top: 0px; width: 100%; z-index: 104;"></div><div style="-webkit-transform: translateZ(0px); left: 0px; position: absolute; top: 0px; width: 100%; z-index: 105;"></div><div style="-webkit-transform: translateZ(0px); left: 0px; position: absolute; top: 0px; width: 100%; z-index: 106;"></div></div><div style="-webkit-transform: translateZ(0px); left: 0px; position: absolute; top: 0px; width: 100%; z-index: 100;"><div style="left: 0px; position: absolute; top: 0px; z-index: 0;"><div style="left: 0px; position: absolute; top: 0px; z-index: 1;"><div style="-webkit-transform: translateZ(0px); height: 256px; left: 87px; position: absolute; top: 36px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: 343px; position: absolute; top: 36px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: 343px; position: absolute; top: -220px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: 87px; position: absolute; top: -220px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: 87px; position: absolute; top: 292px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: 343px; position: absolute; top: 292px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: -169px; position: absolute; top: 36px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: 599px; position: absolute; top: 36px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: -169px; position: absolute; top: 292px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: 599px; position: absolute; top: -220px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: -169px; position: absolute; top: -220px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); height: 256px; left: 599px; position: absolute; top: 292px; width: 256px;"></div></div></div></div><div style="left: 0px; position: absolute; top: 0px; z-index: 0;"><div style="height: 300px; overflow: hidden; width: 738px;"><img src="http://maps.googleapis.com/maps/api/js/StaticMapService.GetMapImage?1m2&amp;1i3785641&amp;2i2573532&amp;2e1&amp;3u14&amp;4m2&amp;1u738&amp;2u300&amp;5m4&amp;1e0&amp;5snl-NL&amp;6sus&amp;10b1&amp;token=1471" style="height: 300px; width: 738px;"></div></div><div style="left: 0px; position: absolute; top: 0px; z-index: 0;"><div style="left: 0px; position: absolute; top: 0px; z-index: 1;"><div style="-webkit-transform: translateZ(0px); -webkit-transition: opacity 200ms ease-out; height: 256px; left: 87px; opacity: 1; position: absolute; top: 36px; transition: opacity 200ms ease-out; width: 256px;"><img src="http://mt0.googleapis.com/vt?lyrs=m@260081884&amp;src=apiv3&amp;hl=nl-NL&amp;x=14788&amp;y=10053&amp;z=14&amp;style=47,37%7Csmartmaps" draggable="false" style="-webkit-transform: translateZ(0px); -webkit-user-select: none; border: 0px; height: 256px; margin: 0px; padding: 0px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); -webkit-transition: opacity 200ms ease-out; height: 256px; left: 87px; opacity: 1; position: absolute; top: -220px; transition: opacity 200ms ease-out; width: 256px;"><img src="http://mt0.googleapis.com/vt?lyrs=m@260079842&amp;src=apiv3&amp;hl=nl-NL&amp;x=14788&amp;y=10052&amp;z=14&amp;style=47,37%7Csmartmaps" draggable="false" style="-webkit-transform: translateZ(0px); -webkit-user-select: none; border: 0px; height: 256px; margin: 0px; padding: 0px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); -webkit-transition: opacity 200ms ease-out; height: 256px; left: 343px; opacity: 1; position: absolute; top: -220px; transition: opacity 200ms ease-out; width: 256px;"><img src="http://mt1.googleapis.com/vt?lyrs=m@260061599&amp;src=apiv3&amp;hl=nl-NL&amp;x=14789&amp;y=10052&amp;z=14&amp;style=47,37%7Csmartmaps" draggable="false" style="-webkit-transform: translateZ(0px); -webkit-user-select: none; border: 0px; height: 256px; margin: 0px; padding: 0px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); -webkit-transition: opacity 200ms ease-out; height: 256px; left: -169px; opacity: 1; position: absolute; top: 36px; transition: opacity 200ms ease-out; width: 256px;"><img src="http://mt1.googleapis.com/vt?lyrs=m@260081884&amp;src=apiv3&amp;hl=nl-NL&amp;x=14787&amp;y=10053&amp;z=14&amp;style=47,37%7Csmartmaps" draggable="false" style="-webkit-transform: translateZ(0px); -webkit-user-select: none; border: 0px; height: 256px; margin: 0px; padding: 0px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); -webkit-transition: opacity 200ms ease-out; height: 256px; left: 343px; opacity: 1; position: absolute; top: 36px; transition: opacity 200ms ease-out; width: 256px;"><img src="http://mt1.googleapis.com/vt?lyrs=m@260081884&amp;src=apiv3&amp;hl=nl-NL&amp;x=14789&amp;y=10053&amp;z=14&amp;style=47,37%7Csmartmaps" draggable="false" style="-webkit-transform: translateZ(0px); -webkit-user-select: none; border: 0px; height: 256px; margin: 0px; padding: 0px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); -webkit-transition: opacity 200ms ease-out; height: 256px; left: 87px; opacity: 1; position: absolute; top: 292px; transition: opacity 200ms ease-out; width: 256px;"><img src="http://mt0.googleapis.com/vt?lyrs=m@260081884&amp;src=apiv3&amp;hl=nl-NL&amp;x=14788&amp;y=10054&amp;z=14&amp;style=47,37%7Csmartmaps" draggable="false" style="-webkit-transform: translateZ(0px); -webkit-user-select: none; border: 0px; height: 256px; margin: 0px; padding: 0px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); -webkit-transition: opacity 200ms ease-out; height: 256px; left: -169px; opacity: 1; position: absolute; top: 292px; transition: opacity 200ms ease-out; width: 256px;"><img src="http://mt1.googleapis.com/vt?lyrs=m@260081884&amp;src=apiv3&amp;hl=nl-NL&amp;x=14787&amp;y=10054&amp;z=14&amp;style=47,37%7Csmartmaps" draggable="false" style="-webkit-transform: translateZ(0px); -webkit-user-select: none; border: 0px; height: 256px; margin: 0px; padding: 0px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); -webkit-transition: opacity 200ms ease-out; height: 256px; left: -169px; opacity: 1; position: absolute; top: -220px; transition: opacity 200ms ease-out; width: 256px;"><img src="http://mt1.googleapis.com/vt?lyrs=m@260072381&amp;src=apiv3&amp;hl=nl-NL&amp;x=14787&amp;y=10052&amp;z=14&amp;style=47,37%7Csmartmaps" draggable="false" style="-webkit-transform: translateZ(0px); -webkit-user-select: none; border: 0px; height: 256px; margin: 0px; padding: 0px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); -webkit-transition: opacity 200ms ease-out; height: 256px; left: 599px; opacity: 1; position: absolute; top: 36px; transition: opacity 200ms ease-out; width: 256px;"><img src="http://mt0.googleapis.com/vt?lyrs=m@260081884&amp;src=apiv3&amp;hl=nl-NL&amp;x=14790&amp;y=10053&amp;z=14&amp;style=47,37%7Csmartmaps" draggable="false" style="-webkit-transform: translateZ(0px); -webkit-user-select: none; border: 0px; height: 256px; margin: 0px; padding: 0px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); -webkit-transition: opacity 200ms ease-out; height: 256px; left: 343px; opacity: 1; position: absolute; top: 292px; transition: opacity 200ms ease-out; width: 256px;"><img src="http://mt1.googleapis.com/vt?lyrs=m@260081884&amp;src=apiv3&amp;hl=nl-NL&amp;x=14789&amp;y=10054&amp;z=14&amp;style=47,37%7Csmartmaps" draggable="false" style="-webkit-transform: translateZ(0px); -webkit-user-select: none; border: 0px; height: 256px; margin: 0px; padding: 0px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); -webkit-transition: opacity 200ms ease-out; height: 256px; left: 599px; opacity: 1; position: absolute; top: -220px; transition: opacity 200ms ease-out; width: 256px;"><img src="http://mt0.googleapis.com/vt?lyrs=m@260081884&amp;src=apiv3&amp;hl=nl-NL&amp;x=14790&amp;y=10052&amp;z=14&amp;style=47,37%7Csmartmaps" draggable="false" style="-webkit-transform: translateZ(0px); -webkit-user-select: none; border: 0px; height: 256px; margin: 0px; padding: 0px; width: 256px;"></div><div style="-webkit-transform: translateZ(0px); -webkit-transition: opacity 200ms ease-out; height: 256px; left: 599px; opacity: 1; position: absolute; top: 292px; transition: opacity 200ms ease-out; width: 256px;"><img src="http://mt0.googleapis.com/vt?lyrs=m@260088075&amp;src=apiv3&amp;hl=nl-NL&amp;x=14790&amp;y=10054&amp;z=14&amp;style=47,37%7Csmartmaps" draggable="false" style="-webkit-transform: translateZ(0px); -webkit-user-select: none; border: 0px; height: 256px; margin: 0px; padding: 0px; width: 256px;"></div></div></div></div></div><div style="bottom: 0px; left: 0px; margin-left: 5px; margin-right: 5px; position: absolute; z-index: 1000000;"><a target="_blank" href="http://maps.google.com/maps?ll=-37.813165,144.955814&amp;z=14&amp;t=m&amp;hl=nl-NL&amp;gl=US&amp;mapclient=apiv3" title="Klik om dit gebied in Google Maps te bekijken" style="display: inline; float: none; overflow: visible; position: static;"><div style="cursor: pointer; height: 26px; width: 62px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 26px; left: 0px; margin: 0px; padding: 0px; position: absolute; top: 0px; width: 62px;"></div></a></div><div class="gmnoprint" style="bottom: 0px; position: absolute; right: 238px; width: 148px; z-index: 1000001;"><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none;"><div style="height: 100%; opacity: 0.7; position: absolute; width: 100%;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); height: 100%; margin-left: 1px; width: auto;"></div></div><div style="color: rgb(68, 68, 68); direction: ltr; font-family: Roboto, Arial, sans-serif; font-size: 10px; padding-left: 6px; padding-right: 6px; position: relative; text-align: right; white-space: nowrap;"><a style="color: rgb(68, 68, 68); cursor: pointer; display: none; text-decoration: none;">Kaartgegevens</a><span style="">Kaartgegevens ©2014 Google</span></div></div></div><div style="-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; background-color: white; border: 1px solid rgb(171, 171, 171); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; color: rgb(34, 34, 34); display: none; font-family: Roboto, Arial, sans-serif; height: 148px; left: 219px; padding: 15px 21px; position: absolute; top: 60px; width: 256px; z-index: 10000002;"><div style="font-size: 16px; padding: 0px 0px 10px;">Kaartgegevens</div><div style="font-size: 13px;">Kaartgegevens ©2014 Google</div><div style="cursor: pointer; height: 13px; opacity: 0.7; overflow: hidden; position: absolute; right: 12px; top: 12px; width: 13px; z-index: 10000;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 492px; left: -2px; margin: 0px; padding: 0px; position: absolute; top: -336px; width: 59px;"></div></div><div class="gmnoscreen" style="bottom: 0px; position: absolute; right: 0px;"><div style="background-color: rgb(245, 245, 245); color: rgb(68, 68, 68); direction: ltr; font-family: Roboto, Arial, sans-serif; font-size: 11px; text-align: right;">Kaartgegevens ©2014 Google</div></div><div class="gmnoprint gm-style-cc" draggable="false" style="-webkit-user-select: none; bottom: 0px; position: absolute; right: 126px; z-index: 1000001;"><div style="height: 100%; opacity: 0.7; position: absolute; width: 100%;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); height: 100%; margin-left: 1px; width: auto;"></div></div><div style="color: rgb(68, 68, 68); direction: ltr; font-family: Roboto, Arial, sans-serif; font-size: 10px; padding-left: 6px; padding-right: 6px; position: relative; text-align: right; white-space: nowrap;"><a href="http://www.google.com/intl/nl-NL_US/help/terms_maps.html" target="_blank" style="color: rgb(68, 68, 68); cursor: pointer; text-decoration: none;">Gebruiksvoorwaarden</a></div></div><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none; bottom: 0px; position: absolute; right: 0px;"><div style="height: 100%; opacity: 0.7; position: absolute; width: 100%;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); height: 100%; margin-left: 1px; width: auto;"></div></div><div style="color: rgb(68, 68, 68); direction: ltr; font-family: Roboto, Arial, sans-serif; font-size: 10px; padding-left: 6px; padding-right: 6px; position: relative; text-align: right; white-space: nowrap;"><a target="_new" title="Fouten in de wegenkaart of beelden melden aan Google" href="http://maps.google.com/maps?ll=-37.813165,144.955814&amp;z=14&amp;t=m&amp;hl=nl-NL&amp;gl=US&amp;mapclient=apiv3&amp;skstate=action:mps_dialog$apiref:1&amp;output=classic" style="color: rgb(68, 68, 68); font-family: Roboto, Arial, sans-serif; font-size: 10px; position: relative; text-decoration: none;">Een kaartfout rapporteren</a></div></div><div class="gmnoprint" draggable="false" controlwidth="32" controlheight="84" style="-webkit-user-select: none; left: 0px; margin: 5px; position: absolute; top: 0px;"><div controlwidth="32" controlheight="40" style="cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default; left: 0px; position: absolute; top: 0px;"><div style="height: 40px; left: 0px; overflow: hidden; position: absolute; top: 0px; width: 32px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 214px; left: -9px; margin: 0px; padding: 0px; position: absolute; top: -102px; width: 1028px;"></div><div style="height: 40px; left: 0px; overflow: hidden; position: absolute; top: 0px; Visibility: hidden; width: 32px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 214px; left: -107px; margin: 0px; padding: 0px; position: absolute; top: -102px; width: 1028px;"></div><div style="height: 40px; left: 0px; overflow: hidden; position: absolute; top: 0px; Visibility: hidden; width: 32px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 214px; left: -58px; margin: 0px; padding: 0px; position: absolute; top: -102px; width: 1028px;"></div><div style="height: 40px; left: 0px; overflow: hidden; position: absolute; top: 0px; Visibility: hidden; width: 32px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 214px; left: -205px; margin: 0px; padding: 0px; position: absolute; top: -102px; width: 1028px;"></div></div><div class="gmnoprint" controlwidth="0" controlheight="0" style="display: none; opacity: 0.6; position: absolute;"><div title="Kaart 90 graden draaien" style="cursor: pointer; height: 22px; overflow: hidden; position: absolute; width: 22px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 492px; left: -38px; margin: 0px; padding: 0px; position: absolute; top: -360px; width: 59px;"></div></div><div class="gmnoprint" controlwidth="20" controlheight="39" style="left: 6px; position: absolute; top: 45px;"><div style="height: 39px; overflow: hidden; position: absolute; width: 20px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 492px; left: -39px; margin: 0px; padding: 0px; position: absolute; top: -401px; width: 59px;"></div><div title="Inzoomen" style="cursor: pointer; height: 17px; left: 0px; position: absolute; top: 2px; width: 20px;"></div><div title="Uitzoomen" style="cursor: pointer; height: 17px; left: 0px; position: absolute; top: 19px; width: 20px;"></div></div></div><div class="gmnoprint" style="cursor: pointer; margin: 5px; position: absolute; right: 0px; top: 0px; z-index: 0;"><div class="gm-style-mtc" style="float: left;"><div draggable="false" title="Stratenkaart weergeven" style="-webkit-background-clip: padding-box; -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; -webkit-user-select: none; background-clip: padding-box; background-color: rgb(255, 255, 255); border: 1px solid rgba(0, 0, 0, 0.14902); border-bottom-left-radius: 2px; border-top-left-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; color: rgb(0, 0, 0); direction: ltr; font-family: Roboto, Arial, sans-serif; font-size: 11px; font-weight: 500; min-width: 28px; overflow: hidden; padding: 1px 6px; position: relative; text-align: center;">Kaart</div><div style="-webkit-background-clip: padding-box; -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; background-clip: padding-box; background-color: white; border-bottom-color: rgba(0, 0, 0, 0.14902); border-bottom-style: solid; border-left-color: rgba(0, 0, 0, 0.14902); border-left-style: solid; border-right-color: rgba(0, 0, 0, 0.14902); border-right-style: solid; border-width: 0px 1px 1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; display: none; left: 0px; padding-top: 2px; position: absolute; text-align: left; top: 22px; z-index: -1;"><div draggable="false" title="Stratenkaart met terrein weergeven" style="-webkit-user-select: none; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); direction: ltr; font-family: Roboto, Arial, sans-serif; font-size: 11px; padding: 3px 8px 3px 5px; text-align: left; white-space: nowrap;"><span role="checkbox" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-bottom-left-radius: 1px; border-bottom-right-radius: 1px; border-top-left-radius: 1px; border-top-right-radius: 1px; box-sizing: border-box; display: inline-block; font-size: 0px; height: 13px; line-height: 0; margin: 0px 5px 0px 0px; position: relative; vertical-align: middle; width: 13px;"><div style="display: none; height: 11px; left: 1px; overflow: hidden; position: absolute; top: -2px; width: 13px;"><img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 67px; left: -52px; margin: 0px; padding: 0px; position: absolute; top: -44px; width: 68px;"></div></span><label style="cursor: pointer; vertical-align: middle;">Terrein</label></div></div></div><div class="gm-style-mtc" style="float: left;"><div draggable="false" title="Satellietbeelden weergeven" style="-webkit-background-clip: padding-box; -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; -webkit-user-select: none; background-clip: padding-box; background-color: rgb(255, 255, 255); border-bottom-color: rgba(0, 0, 0, 0.14902); border-bottom-right-radius: 2px; border-bottom-style: solid; border-right-color: rgba(0, 0, 0, 0.14902); border-right-style: solid; border-top-color: rgba(0, 0, 0, 0.14902); border-top-right-radius: 2px; border-top-style: solid; border-width: 1px 1px 1px 0px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; color: rgb(86, 86, 86); direction: ltr; font-family: Roboto, Arial, sans-serif; font-size: 11px; min-width: 38px; overflow: hidden; padding: 1px 6px; position: relative; text-align: center;">Satelliet</div><div style="-webkit-background-clip: padding-box; -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; background-clip: padding-box; background-color: white; border-bottom-color: rgba(0, 0, 0, 0.14902); border-bottom-style: solid; border-left-color: rgba(0, 0, 0, 0.14902); border-left-style: solid; border-right-color: rgba(0, 0, 0, 0.14902); border-right-style: solid; border-width: 0px 1px 1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; display: none; padding-top: 2px; position: absolute; right: 0px; text-align: left; top: 22px; z-index: -1;"><div draggable="false" title="Zoom in om een weergave onder een hoek van 45 graden te bekijken" style="-webkit-user-select: none; background-color: rgb(255, 255, 255); color: rgb(184, 184, 184); direction: ltr; display: none; font-family: Roboto, Arial, sans-serif; font-size: 11px; padding: 3px 8px 3px 5px; text-align: left; white-space: nowrap;"><span role="checkbox" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(241, 241, 241); border-bottom-left-radius: 1px; border-bottom-right-radius: 1px; border-top-left-radius: 1px; border-top-right-radius: 1px; box-sizing: border-box; display: inline-block; font-size: 0px; height: 13px; line-height: 0; margin: 0px 5px 0px 0px; position: relative; vertical-align: middle; width: 13px;"><div style="display: none; height: 11px; left: 1px; overflow: hidden; position: absolute; top: -2px; width: 13px;"><img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 67px; left: -52px; margin: 0px; padding: 0px; position: absolute; top: -44px; width: 68px;"></div></span><label style="cursor: pointer; vertical-align: middle;">45°</label></div><div draggable="false" title="Beelden met straatnamen weergeven" style="-webkit-user-select: none; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); direction: ltr; font-family: Roboto, Arial, sans-serif; font-size: 11px; padding: 3px 8px 3px 5px; text-align: left; white-space: nowrap;"><span role="checkbox" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-bottom-left-radius: 1px; border-bottom-right-radius: 1px; border-top-left-radius: 1px; border-top-right-radius: 1px; box-sizing: border-box; display: inline-block; font-size: 0px; height: 13px; line-height: 0; margin: 0px 5px 0px 0px; position: relative; vertical-align: middle; width: 13px;"><div style="height: 11px; left: 1px; overflow: hidden; position: absolute; top: -2px; width: 13px;"><img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 67px; left: -52px; margin: 0px; padding: 0px; position: absolute; top: -44px; width: 68px;"></div></span><label style="cursor: pointer; vertical-align: middle;">Labels</label></div></div></div></div></div></div>

                                </div>
                                <br>

                                <h4>Contactformulier</h4>

                                @using (Html.BeginForm("Index", "Contact"))
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Name)
                                        @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
                                        @Html.ValidationMessageFor(m => m.Name)
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email)
                                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                                        @Html.ValidationMessageFor(m => m.Email)
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Message)
                                        @Html.TextAreaFor(m => m.Message, new {@cols = "15", @rows = "3", @class = "form-control"})
                                        @Html.ValidationMessageFor(m => m.Message)
                                    </div>

                                    <input type="submit" class="btn btn-primary" value="Verzenden"/>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="@Url.Content("~/Content/js/jquery-gmap-min.js")"></script>