﻿@using Common.Models.Home.SEO
@using Kapsters.Classes.Seo
@{
        var seoInfo = ViewData["SEO"] as SeoModel ?? new SeoModel
        {
            Description = string.Empty,
            Hide = true,
            Keywords = string.Empty,
            Title = string.Empty
        };
}

    <title>@seoInfo.Title - Kapsters</title>
    <meta name="description" content="@seoInfo.Description">
    <meta name="keywords" content="@seoInfo.Keywords">
    <meta name="author" content="Jamie knoef">
    <meta charset="UTF-8">

    @if (seoInfo.Hide)
    {
        <meta name="robots" content="noindex" />
    }