﻿@model Common.Models.Admin.ViewModel.NieuwsModel

@{
    ViewBag.Title = "Nieuwsartikel wijzigen";
}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Artikel wijzigen</div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Wijzig", "Nieuws", FormMethod.Post, new {enctype = "multipart/form-data", id = "form"}))
                    {
                        @Html.HiddenFor(m => m.ArtikelId)

                        <div class="form-group">
                            @Html.LabelFor(m => m.Titel)
                            @Html.TextBoxFor(m => m.Titel, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Titel)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Intro)
                            @Html.TextAreaFor(m => m.Intro, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Intro)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Informatie)
                            @Html.TextAreaFor(m => m.Informatie, new {@class = "form-control tinymce"})
                            @Html.ValidationMessageFor(m => m.Informatie)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Keywoorden)
                            @Html.TextBoxFor(m => m.Keywoorden, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Keywoorden)
                        </div>

                        <div class="form-group">
                            <div class="fullWidth">
                                <span class="info-icon tool-tip" data-toggle="tooltip" data-placement="right" title="Als u nu een nieuwe afbeelding kiest dan wordt uw vorige afbeelding overschreven"></span>
                                @Html.LabelFor(m => m.UploadImage, new {@class = "tooltip-label"})
                            </div>
                            @Html.TextBoxFor(m => m.UploadImage, new {@type = "file"})
                            @Html.ValidationMessageFor(m => m.UploadImage)
                        </div>

                        <div class="form-group">
                            <div class="fullWidth">
                                <span class="info-icon tool-tip" data-toggle="tooltip" data-placement="right" title="Is dit artikel zichtbaar?"></span>
                                @Html.LabelFor(m => m.Status, new {@class = "tooltip-label"})
                            </div>
                        @Html.CheckBoxFor(m => m.Status, new { @class = "make-switch", @checked = "checked" })
                            @Html.ValidationMessageFor(m => m.Status)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ReactiesToegestaan)
                           @Html.CheckBoxFor(m => m.ReactiesToegestaan, new { @class = "make-switch", @checked = "checked" })
                        </div>

                        <input type="submit" value="Artikel wijzigen!" class="btn btn-info btn-gradient" />
                    }
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Content/css/bootstrap-switch-min.css")" />
}

@section Scripts{
    <script src="@Url.Content("~/Areas/Admin/Content/js/bootstrap-switch-min.js")"></script>
    @Scripts.Render("~/Areas/Admin/Content/js/datatables")
    <script src="@Url.Content("~/Areas/Admin/Content/js/fileButtonReplacer.js")"></script>

    <script>
        tinyMCE.baseURL = "/Areas/Admin/Content/js/tinymce/";
        tinymce.init({
            mode: "specific_textareas",
            editor_selector: "tinymce",
            language: 'nl',
            plugins: 'advlist autolink link image lists charmap print preview fullscreen table textcolor code paste template visualchars visualblocks'
        });

    </script>
}