/*!
 * FullCalendar v1.6.4 Stylesheet
 * Docs & License: http://arshaw.com/fullcalendar/
 * (c) 2013 Adam Shaw
 */.fc {
                                                                                                                          direction: ltr;
                                                                                                                          text-align: left
                                                                                                                      }

                                                                                                                      .fc table {
                                                                                                                          border-collapse: collapse;
                                                                                                                          border-spacing: 0
                                                                                                                      }

                                                                                                                      .fc table, html .fc { font-size: 1em }

                                                                                                                      .fc td, .fc th {
                                                                                                                          padding: 0;
                                                                                                                          vertical-align: top
                                                                                                                      }

                                                                                                                      .fc-header td { white-space: nowrap }

                                                                                                                      .fc-header-left {
                                                                                                                          text-align: left;
                                                                                                                          width: 25%;
                                                                                                                      }

                                                                                                                      .fc-header-center { text-align: center }

                                                                                                                      .fc-header-right {
                                                                                                                          text-align: right;
                                                                                                                          width: 25%;
                                                                                                                      }

                                                                                                                      .fc-header-title {
                                                                                                                          display: inline-block;
                                                                                                                          vertical-align: top
                                                                                                                      }

                                                                                                                      .fc-header-title h2 {
                                                                                                                          margin-top: 0;
                                                                                                                          white-space: nowrap
                                                                                                                      }

                                                                                                                      .fc .fc-header-space { padding-left: 10px }

                                                                                                                      .fc-header .fc-button {
                                                                                                                          margin-bottom: 1em;
                                                                                                                          margin-right: -1px;
                                                                                                                          vertical-align: top;
                                                                                                                      }

                                                                                                                      .fc-header .fc-corner-right, .fc-header .ui-corner-right { margin-right: 0 }

                                                                                                                      .fc-header .fc-state-hover, .fc-header .ui-state-hover { z-index: 2 }

                                                                                                                      .fc-header .fc-state-down { z-index: 3 }

                                                                                                                      .fc-header .fc-state-active, .fc-header .ui-state-active { z-index: 4 }

                                                                                                                      .fc-content {
                                                                                                                          clear: both;
                                                                                                                          zoom: 1
                                                                                                                      }

                                                                                                                      .fc-view {
                                                                                                                          overflow: hidden;
                                                                                                                          width: 100%;
                                                                                                                      }

                                                                                                                      .fc-widget-content, .fc-widget-header { border: 1px solid #ddd }

                                                                                                                      .fc-state-highlight { background: #fcf8e3 }

                                                                                                                      .fc-cell-overlay {
                                                                                                                          background: #bce8f1;
                                                                                                                          filter: alpha(opacity=30);
                                                                                                                          opacity: .3;
                                                                                                                      }

                                                                                                                      .fc-button {
                                                                                                                          cursor: pointer;
                                                                                                                          display: inline-block;
                                                                                                                          height: 1.9em;
                                                                                                                          line-height: 1.9em;
                                                                                                                          overflow: hidden;
                                                                                                                          padding: 0 .6em;
                                                                                                                          position: relative;
                                                                                                                          white-space: nowrap;
                                                                                                                      }

                                                                                                                      .fc-state-default { border: 1px solid }

                                                                                                                      .fc-state-default.fc-corner-left {
                                                                                                                          border-bottom-left-radius: 4px;
                                                                                                                          border-top-left-radius: 4px;
                                                                                                                      }

                                                                                                                      .fc-state-default.fc-corner-right {
                                                                                                                          border-bottom-right-radius: 4px;
                                                                                                                          border-top-right-radius: 4px;
                                                                                                                      }

                                                                                                                      .fc-text-arrow {
                                                                                                                          font-family: "Courier New", Courier, monospace;
                                                                                                                          font-size: 2em;
                                                                                                                          margin: 0 .1em;
                                                                                                                          vertical-align: baseline
                                                                                                                      }

                                                                                                                      .fc-button-next .fc-text-arrow, .fc-button-prev .fc-text-arrow { font-weight: 700 }

                                                                                                                      .fc-button .fc-icon-wrap {
                                                                                                                          float: left;
                                                                                                                          position: relative;
                                                                                                                          top: 50%
                                                                                                                      }

                                                                                                                      .fc-button .ui-icon {
                                                                                                                          float: left;
                                                                                                                          margin-top: -50%;
                                                                                                                          *margin-top: 0;
                                                                                                                          position: relative;
                                                                                                                          *top: -50%
                                                                                                                      }

                                                                                                                      .fc-state-default {
                                                                                                                          background-color: #f5f5f5;
                                                                                                                          background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
                                                                                                                          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
                                                                                                                          background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
                                                                                                                          background-image: -o-linear-gradient(top, #fff, #e6e6e6);
                                                                                                                          background-image: linear-gradient(to bottom, #fff, #e6e6e6);
                                                                                                                          background-repeat: repeat-x;
                                                                                                                          border-color: #e6e6e6 #e6e6e6 #bfbfbf;
                                                                                                                          border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
                                                                                                                          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
                                                                                                                          color: #333;
                                                                                                                          text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
                                                                                                                      }

                                                                                                                      .fc-state-active, .fc-state-disabled, .fc-state-down, .fc-state-hover {
                                                                                                                          background-color: #e6e6e6;
                                                                                                                          color: #333;
                                                                                                                      }

                                                                                                                      .fc-state-hover {
                                                                                                                          -moz-transition: background-position .1s linear;
                                                                                                                          -o-transition: background-position .1s linear;
                                                                                                                          -webkit-transition: background-position .1s linear;
                                                                                                                          background-position: 0 -15px;
                                                                                                                          color: #333;
                                                                                                                          text-decoration: none;
                                                                                                                          transition: background-position .1s linear
                                                                                                                      }

                                                                                                                      .fc-state-active, .fc-state-down {
                                                                                                                          background-color: #ccc;
                                                                                                                          background-image: none;
                                                                                                                          box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
                                                                                                                          outline: 0;
                                                                                                                      }

                                                                                                                      .fc-state-disabled {
                                                                                                                          background-image: none;
                                                                                                                          box-shadow: none;
                                                                                                                          cursor: default;
                                                                                                                          filter: alpha(opacity=65);
                                                                                                                          opacity: .65;
                                                                                                                      }

                                                                                                                      .fc-event-container > * { z-index: 8 }

                                                                                                                      .fc-event-container > .ui-draggable-dragging, .fc-event-container > .ui-resizable-resizing { z-index: 9 }

                                                                                                                      .fc-event {
                                                                                                                          background-color: #3a87ad;
                                                                                                                          border: 1px solid #3a87ad;
                                                                                                                          color: #fff;
                                                                                                                          cursor: default;
                                                                                                                          font-size: .85em;
                                                                                                                      }

                                                                                                                      a.fc-event { text-decoration: none }

                                                                                                                      .fc-event-draggable, a.fc-event { cursor: pointer }

                                                                                                                      .fc-rtl .fc-event { text-align: right }

                                                                                                                      .fc-event-inner {
                                                                                                                          height: 100%;
                                                                                                                          overflow: hidden;
                                                                                                                          width: 100%;
                                                                                                                      }

                                                                                                                      .fc-event-time, .fc-event-title { padding: 0 1px }

                                                                                                                      .fc .ui-resizable-handle {
                                                                                                                          display: block;
                                                                                                                          font-size: 300%;
                                                                                                                          line-height: 50%;
                                                                                                                          overflow: hidden;
                                                                                                                          position: absolute;
                                                                                                                          z-index: 99999;
                                                                                                                      }

                                                                                                                      .fc-event-hori {
                                                                                                                          border-width: 1px 0;
                                                                                                                          margin-bottom: 1px
                                                                                                                      }

                                                                                                                      .fc-ltr .fc-event-hori.fc-event-start, .fc-rtl .fc-event-hori.fc-event-end {
                                                                                                                          border-bottom-left-radius: 3px;
                                                                                                                          border-left-width: 1px;
                                                                                                                          border-top-left-radius: 3px;
                                                                                                                      }

                                                                                                                      .fc-ltr .fc-event-hori.fc-event-end, .fc-rtl .fc-event-hori.fc-event-start {
                                                                                                                          border-bottom-right-radius: 3px;
                                                                                                                          border-right-width: 1px;
                                                                                                                          border-top-right-radius: 3px;
                                                                                                                      }

                                                                                                                      .fc-event-hori .ui-resizable-e {
                                                                                                                          cursor: e-resize;
                                                                                                                          height: 100% !important;
                                                                                                                          right: -3px !important;
                                                                                                                          top: 0 !important;
                                                                                                                          width: 7px !important;
                                                                                                                      }

                                                                                                                      .fc-event-hori .ui-resizable-w {
                                                                                                                          cursor: w-resize;
                                                                                                                          height: 100% !important;
                                                                                                                          left: -3px !important;
                                                                                                                          top: 0 !important;
                                                                                                                          width: 7px !important;
                                                                                                                      }

                                                                                                                      .fc-event-hori .ui-resizable-handle { _padding-bottom: 14px }

                                                                                                                      table.fc-border-separate { border-collapse: separate }

                                                                                                                      .fc-border-separate td, .fc-border-separate th { border-width: 1px 0 0 1px }

                                                                                                                      .fc-border-separate td.fc-last, .fc-border-separate th.fc-last { border-right-width: 1px }

                                                                                                                      .fc-border-separate tr.fc-last td, .fc-border-separate tr.fc-last th { border-bottom-width: 1px }

                                                                                                                      .fc-border-separate tbody tr.fc-first td, .fc-border-separate tbody tr.fc-first th { border-top-width: 0 }

                                                                                                                      .fc-grid th { text-align: center }

                                                                                                                      .fc .fc-week-number {
                                                                                                                          text-align: center;
                                                                                                                          width: 22px;
                                                                                                                      }

                                                                                                                      .fc .fc-week-number div { padding: 0 2px }

                                                                                                                      .fc-grid .fc-day-number {
                                                                                                                          float: right;
                                                                                                                          padding: 0 2px
                                                                                                                      }

                                                                                                                      .fc-grid .fc-other-month .fc-day-number {
                                                                                                                          filter: alpha(opacity=30);
                                                                                                                          opacity: .3;
                                                                                                                      }

                                                                                                                      .fc-grid .fc-day-content {
                                                                                                                          clear: both;
                                                                                                                          padding: 2px 2px 1px
                                                                                                                      }

                                                                                                                      .fc-grid .fc-event-time { font-weight: 700 }

                                                                                                                      .fc-rtl .fc-grid .fc-day-number { float: left }

                                                                                                                      .fc-rtl .fc-grid .fc-event-time { float: right }

                                                                                                                      .fc-agenda table { border-collapse: separate }

                                                                                                                      .fc-agenda-days th { text-align: center }

                                                                                                                      .fc-agenda .fc-agenda-axis {
                                                                                                                          font-weight: 400;
                                                                                                                          padding: 0 4px;
                                                                                                                          text-align: right;
                                                                                                                          vertical-align: middle;
                                                                                                                          white-space: nowrap;
                                                                                                                          width: 50px;
                                                                                                                      }

                                                                                                                      .fc-agenda .fc-week-number { font-weight: 700 }

                                                                                                                      .fc-agenda .fc-day-content { padding: 2px 2px 1px }

                                                                                                                      .fc-agenda-days .fc-agenda-axis { border-right-width: 1px }

                                                                                                                      .fc-agenda-days .fc-col0 { border-left-width: 0 }

                                                                                                                      .fc-agenda-allday th { border-width: 0 1px }

                                                                                                                      .fc-agenda-allday .fc-day-content {
                                                                                                                          min-height: 34px;
                                                                                                                          _height: 34px
                                                                                                                      }

                                                                                                                      .fc-agenda-divider-inner {
                                                                                                                          height: 2px;
                                                                                                                          overflow: hidden
                                                                                                                      }

                                                                                                                      .fc-widget-header .fc-agenda-divider-inner { background: #eee }

                                                                                                                      .fc-agenda-slots th { border-width: 1px 1px 0 }

                                                                                                                      .fc-agenda-slots td {
                                                                                                                          background: 0 0;
                                                                                                                          border-width: 1px 0 0;
                                                                                                                      }

                                                                                                                      .fc-agenda-slots td div { height: 20px }

                                                                                                                      .fc-agenda-slots tr.fc-slot0 td, .fc-agenda-slots tr.fc-slot0 th { border-top-width: 0 }

                                                                                                                      .fc-agenda-slots tr.fc-minor td, .fc-agenda-slots tr.fc-minor th { border-top-style: dotted }

                                                                                                                      .fc-agenda-slots tr.fc-minor th.ui-widget-header { *border-top-style: solid }

                                                                                                                      .fc-event-vert { border-width: 0 1px }

                                                                                                                      .fc-event-vert.fc-event-start {
                                                                                                                          border-top-left-radius: 3px;
                                                                                                                          border-top-right-radius: 3px;
                                                                                                                          border-top-width: 1px;
                                                                                                                      }

                                                                                                                      .fc-event-vert.fc-event-end {
                                                                                                                          border-bottom-left-radius: 3px;
                                                                                                                          border-bottom-right-radius: 3px;
                                                                                                                          border-bottom-width: 1px;
                                                                                                                      }

                                                                                                                      .fc-event-vert .fc-event-time {
                                                                                                                          font-size: 10px;
                                                                                                                          white-space: nowrap;
                                                                                                                      }

                                                                                                                      .fc-event-vert .fc-event-inner {
                                                                                                                          position: relative;
                                                                                                                          z-index: 2
                                                                                                                      }

                                                                                                                      .fc-event-vert .fc-event-bg {
                                                                                                                          background: #fff;
                                                                                                                          filter: alpha(opacity=25);
                                                                                                                          height: 100%;
                                                                                                                          left: 0;
                                                                                                                          opacity: .25;
                                                                                                                          position: absolute;
                                                                                                                          top: 0;
                                                                                                                          width: 100%;
                                                                                                                          z-index: 1;
                                                                                                                      }

                                                                                                                      .fc-event-vert .ui-resizable-s {
                                                                                                                          bottom: 0 !important;
                                                                                                                          cursor: s-resize;
                                                                                                                          font-family: monospace;
                                                                                                                          font-size: 11px !important;
                                                                                                                          height: 8px !important;
                                                                                                                          line-height: 8px !important;
                                                                                                                          overflow: hidden !important;
                                                                                                                          text-align: center;
                                                                                                                          width: 100% !important;
                                                                                                                      }

                                                                                                                      .fc-agenda .ui-resizable-resizing { _overflow: hidden }