
.header-btns > div > button:focus {
    color: #666;
}


/* Place custom styles below this line 
---------------------------------------*/

html, body {
    height: 100%;
}

#laatsteNieuwsJamieKnoef p {
    font-size: 10px;
    padding-top: 5px;
}

/* Modal */
.table .modal-footer .btn {
    padding: 6px 12px;
}

/* Themes */
#editTheme textarea {
    width: 100%;
    height: 500px;
    max-height: 500px;
}

#editTheme .tab-block {
    margin-top: 15px;
}

#themes #themesListContainer img {
    max-height: 170px;
    min-width: 100%;
    min-height: 170px;
}

#themes #themesListContainer .media-heading {
    margin-top: 10px;
}

#themes #themesListContainer p {
    margin: 0px;
}

#themes #themesListContainer hr {
    margin: 10px 0px 12px 0px;
}

#themes #themesListContainer .modal .modal-body h4 {
    margin-top: 10px;
}

#themes #themesListContainer .media-content {
    padding: 10px 15px;
    color: #777;
    line-height: 25px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #ffffff 1%,#f5f5f5 100%);
    background-image: linear-gradient(to bottom, #ffffff 1%,#f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

@media (max-width: 768px) {
    #themes #themesListContainer .col-md-3 {
        margin-top: 15px;
    }
}

/* Plugins */
#plugins .pluginName {
    font-weight: bold;
    font-size: 13px;
}

#plugins .actionLinks {
    margin-top: 5px;
}

#plugins .border {
    margin-left: 5px;
    margin-right: 5px;
}

#plugins .firstRow {
    width: 15%;
}

#plugins .secondRow {
    width: 85%;
}

#plugins table a, #plugins table a:hover {
    color: #428bca;
}

#plugins #datatable .settings {
    color: #428bca;
    cursor: pointer;
}

    #plugins #datatable .settings:hover {
        text-decoration: underline;
    }
/* Widgets */
#Widgets #selectedPhotosContainer {
    overflow: hidden;
    overflow-y: auto;
    max-height: 274px;
}

#Widgets #photosContent hr {
    margin: 10px 0px;
}

#Widgets #photosContent li {
    float: left;
    margin-right: 5px;
    width: 122px;
    height: auto;
    max-height: 105px;
    min-height: 105px;
    position: relative;
}

    #Widgets #photosContent li .removeIcon {
        background-image: url(/Areas/Admin/Content/img/delete.png);
        width: 16px;
        height: 16px;
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 4px;
        right: 4px;
    }

    #Widgets #photosContent li img {
        width: 122px;
        height: auto;
        max-height: 105px;
        min-height: 105px;
    }

    #Widgets #photosContent li:last-child {
        margin-right: 0px;
    }

#Widgets select {
    width: 100%;
    min-width: 100%;
}

#Widgets .editIcon {
    background-image: url(/Areas/Admin/Content/img/table_edit.png);
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
}

#Widgets #availableWidgets .well {
    margin-bottom: 5px;
}

#Widgets #installedWidgets .well {
    margin: 10px 0px;
    cursor: move;
}

#Widgets .installedWidgetsList:first-child {
    margin-top: 0px;
}

#Widgets .installedWidgetsList {
    margin-top: 15px;
    background-color: #f5f5f5;
    padding: 15px;
    min-height: 50px;
    border-radius: 6px;
}

#Widgets #availableWidgets .col-md-6 {
    padding-top: 10px;
    padding-bottom: 10px;
}

#Widgets #availableWidgets ul, #Widgets #installedWidgets ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#Widgets #availableWidgets .col-md-6 p {
    padding: 0px 15px;
    margin: 0px;
    min-height: 50px;
    max-height: 50px;
    overflow: hidden;
}

#Widgets #availableWidgets .well > b {
    padding: 0px 5px;
    display: block;
}

#Widgets #availableWidgets .col-md-6 .well:hover {
    background-color: #fafafa;
    border: 1px solid #8D8D8D;
    -webkit-box-shadow: 0 1px 1px rgba(71, 69, 69, 0.54);
    box-shadow: 0 1px 1px rgba(71, 69, 69, 0.54);
    cursor: move;
}

#Widgets h5 {
    margin-bottom: 0px;
}
/* Ticket */
#tickets .panel-body > .pull-left > .btn {
    margin-bottom: 15px;
}

#tickets #navigation {
    padding-bottom: 15px;
}

    #tickets #navigation a {
        margin-left: 5px;
    }

        #tickets #navigation a:first-child {
            margin-left: 0px;
        }

#ticketInformatie .gebruiker {
    background-color: #EEEEEE;
    border: 1px solid #CFCFCF;
}

#ticketInformatie .well a {
    color: #2a6496;
}

#ticketInformatie .panel-title {
    width: 100%;
}

#ticketInformatie .well p {
    margin-bottom: 5px;
}

#ticketInformatie #reactieToevoegen {
    margin-bottom: 0px;
}

#ticketInformatie #action {
    display: block;
    width: 100%;
}

    #ticketInformatie #action a {
        margin-top: 15px;
    }

#ticketInformatie hr {
    margin: 10px 0px;
}

#ticketInformatie #ticketSluiten {
    margin-top: 15px;
}

.panel-body > .well:last-of-type {
    margin-bottom: 0px;
}

label {
    display: block;
}

.form-group > label {
    font-weight: bold;
}

/* Bootstrap grid */
@media (min-width: 992px) {
    .col-md-2-4 {
        float: left;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        width: 20%;
    }
}

/* Navigation */

#navigationContainer .col-md-2 ul {
    margin: 0px;
    padding: 0px;
}

#navigationContainer .col-md-2 li {
    display: block;
}

    #navigationContainer .col-md-2 li:last-of-type {
        margin-bottom: 0px;
    }

#navigationContainer #navigationContent {
    margin-bottom: 0px;
}

#navigationContainer .col-md-2 {
    border-right: 1px solid #E6DEDE;
}

/* Dashboard */

#dashboard #loadingStatistics {
    height: 100px;
    padding: 50px 0px;
    padding: 30px 0px 0px 0px;
    text-align: center;
}

    #dashboard #loadingStatistics img {
        height: 24px;
        width: 24px;
    }

/* File button replacer */

#fileList {
    margin-top: 10px;
}

/* File Checkbox Selector */

#fileCheckboxContainer input[type="checkbox"] {
    display: none;
}

#fileCheckboxContainer .itemContainer {
    position: relative;
}

#fileCheckboxContainer .item {
    cursor: pointer;
}

#fileCheckboxContainer .checkIcon {
    background-image: url('/Areas/Admin/Content/img/check.png');
    bottom: 4px;
    display: none;
    height: 24px;
    position: absolute;
    right: 4px;
    width: 24px;
}

/* Foto albums */

#fotoAlbum .progress {
    display: none;
    margin-bottom: 0px;
}

#fotoAlbum #fileCheckboxContainer img {
    max-height: 103px;
    min-width: 137px;
}

/* Logs */

#Logs .col-md-3 {
    font-weight: bold;
}

#Logs table .col-md-12 {
    margin-top: 5px;
}

    #Logs table .col-md-12:first-of-type {
        margin-top: 0px;
    }

#errorLogs iframe {
    width: 100%;
    height: auto;
}

.login-page #main .form-group:last-of-type {
    margin-bottom: 0px;
}

/* Configuratie */

#configuratie input[type="radio"] {
    margin-left: 10px;
}

    #configuratie input[type="radio"]:first-of-type {
        margin-left: 0px;
    }

#configuratie .radioOption {
    bottom: 2px;
    left: 2px;
    position: relative;
}


/* Panel*/

.panel-title {
    float: left;
    font-size: 14px;
    overflow: hidden;
    padding-top: 1px;
    text-overflow: ellipsis;
    text-shadow: 0 1px #ffffff;
    white-space: nowrap;
    /*width: 100%;*/
}

/* Badges */

.badge.badge-orange {
    background-color: #eea236;
}

.badge.badge-green {
    background-color: #6db54b;
}

.badge.badge-green {
    background-color: #6db54b;
}

.badge.badge-red {
    background-color: #d43f3a;
}

/* Easyweergave */

#easyWeergave .tree ul, #easyWeergave .tree {
    list-style: none;
    margin: 0px;
}

    #easyWeergave .tree #permissions {
        margin-top: 10px;
    }

    #easyWeergave .tree .glyphicons:empty {
        width: 2em;
    }

#easyWeergave #bundleGroup {
    margin-top: 10px;
}

/* Edit user */

#editUser img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 150px;
}

/* Tree */

.tree {
    max-height: 750px !important;
}

/* Datatable */

#datatable_filter > label > input[type="text"] {
    padding: 3px 5px 3px 5px;
    width: 74%;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/*@media screen and (max-width: 650px) {
.table > thead > tr {
        display: block;
    }
}

@media screen and (max-width: 650px) {
    .table tbody tr td {
        display: block;
    }
}

@media screen and (max-width: 650px) {
    .table tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
    }
}

@media screen and (max-width: 650px) {
    .table thead {
        display: block;
        float: left;
    }
}

@media screen and (max-width: 650px)
{
.table > tbody > tr {
display: inline-block;
vertical-align: top;
}*/

#datatable_length > label > select {
    min-width: initial;
    width: auto !important;
}

#datatable_wrapper {
    float: left;
    overflow-x: auto;
    width: 100%;
}

.footable-row-detail-row {
    line-height: 2.2em !important;
}

/* Wells */
.well.well-white {
    border: 1px solid #e5e5e5;
    background-color: #fff;
}

.well.well-widget {
    background-color: #fafafa;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

/* Navigation Element */

#navigationContent ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

/* Agenda */

#agenda #addBtn {
    position: relative;
    z-index: 999999;
}

/* Datepicker */

.ui-datepicker {
    z-index: 9999 !important;
}


/* Files weergave */

#filesWeergave .tree .parent_li {
    margin-top: 2px;
}

#filesWeergave .tree li {
    margin-bottom: 2px;
}

#filesWeergave #folders > .tree > ul {
    padding-left: 0px;
}

#filesWeergave .tree ul {
    list-style: none;
    margin-top: 2px;
}

#filesWeergave .search {
    width: 100% !important;
}

#filesWeergave .tree {
    height: 400px;
    margin: 0px;
    padding: 20px 0px 0px 0px;
}

    #filesWeergave .tree .glyphicons:empty {
        width: 2em;
    }

#filesWeergave .well {
    float: left;
    padding: 0px;
    width: 100%;
}

#filesWeergave #files {
    float: left;
    padding: 0px 20px 0px 20px;
    width: 100%;
}

#filesWeergave .col-md-12 > .col-md-3 {
    border-right: 1px solid #cfcfcf;
    min-height: 400px;
    overflow-x: auto;
    overflow-y: auto;
    padding-left: 0px;
}

#filesWeergave .col-md-12 > .col-md-9 {
    max-height: 400px;
    overflow-y: auto;
    padding: 20px 0px 20px 0px;
}

#filesWeergave .content {
    font-size: 11px;
    padding: 10px;
}

    #filesWeergave .content .image {
        text-align: center;
        width: 100%;
    }

#filesWeergave #folders .badge-success:hover, #filesWeergave #folders .selectedItem {
    background-color: #468847;
    cursor: pointer;
}

#filesWeergave #files .col-md-3:hover, #filesWeergave #files .col-md-3.selectedItem {
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    background-color: #E7E7E7;
    border-radius: 6px;
    box-shadow: inset 0 0 0 2px #DAD1D1, 0 0 1px rgba(0, 0, 0, 0);
    cursor: pointer;
    transform: translateZ(0);
    transition-duration: 0.3s;
    transition-property: box-shadow;
}

#filesWeergave #files .col-md-3 {
    -webkit-transform: translateZ(0);
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #filesWeergave .content .image img {
        max-height: 100%;
    }
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
    #filesWeergave .content .image img {
        max-height: 60%;
    }
}

#filesWeergave .content .image img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 50px;
}

#filesWeergave .content p {
    margin-top: 5px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

/* Newsletter */

#newsletter #scheduleContainer {
    display: none;
}

#newsletter #filesContainer img {
    cursor: pointer;
}

#newsletter .glyphicon {
    float: left;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

#newsletter input[type="checkbox"] {
    position: relative;
    top: 2px;
}

/* Top menu right */

.user-menu .dropdown-signout {
    border-top: 1px solid #F1EEEE;
    width: 100%;
}

.user-menu ul.dropdown-menu {
    margin-left: -65%;
    width: 175px;
}

/* BannerSlider */

#bannerSlider small.error {
    display: block;
    padding-bottom: 10px;
}

/* Other */

input[type="checkbox"] {
    position: relative;
    top: 2px;
}

.space {
    margin-top: 15px;
}

table td {
    cursor: pointer;
}

.table .subMenu {
    display: none;
}

.isSubMenu > td {
    border: 0px;
    padding: 0px !important;
}

.isSubMenu td {
    cursor: default;
}

.tooltip {
    width: 200px;
}

.tooltip-label {
    display: inline-block;
}

.fullWidth {
    width: 100%;
}

.error {
    color: #ff0000;
}

.noMargin {
    margin: 0px;
}

textarea {
    max-width: 100%;
}

/* Dashboard */

#dashboard .email-menu-avatar img {
    max-width: 50px;
    min-width: 50px;
}

/* JQuery UI */

.ui-front {
    z-index: 9999;
}

.ui-dialog p {
    margin: 0px;
}

.ui-dialog .ui-dialog-content {
    padding-bottom: 0px;
}

.ui-dialog .ui-dialog-titlebar-close {
    background-color: transparent;
    background-image: url(/Areas/Admin/Content/img/Close.png);
    background-repeat: no-repeat;
    border: 0px;
    height: 16px;
    margin: -10px 0 0 0;
    padding: 1px;
    position: absolute;
    right: .3em;
    top: 62%;
    width: 20px;
    width: 16px;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button {
    outline: 0;
}

.deleteDialog {
    left: 50%;
    position: absolute;
    top: 40%;
}


/* Small-heading */

#small-heading {
    display: block;
    padding-bottom: 10px;
    text-align: right;
    width: 100%;
}

/* Table */

table.table-hover > tbody > tr:not(.isSubMenu) > td {
    cursor: pointer;
}

/*.glyphicons:empty {
    width: 2em;
}*/

/* Switch */

/* ---------------------------------------
   FORM SWITCH PLUGIN 
----------------------------------------*/

.has-switch {
    border-color: #c9c9c9;
    border-radius: 0;
}

    .has-switch span.switch-left, .has-switch span.switch-right {
        border: 2px solid #FFF;
        border-radius: 0;
        padding-bottom: 2px;
        padding-top: 2px;
    }

    .has-switch label {
        background: url(/Areas/Admin/Content/img/switch/grip.png) center center no-repeat, -webkit-linear-gradient(top, #fcfcfc 0%, #dddddd 100%);
        background: url(/Areas/Admin/Content/img/switch/grip.png) center center no-repeat, linear-gradient(to bottom, #fcfcfc 0%, #dddddd 100%);
        margin-right: 2px;
        padding-bottom: 2px;
        padding-top: 2px;
        width: 32%;
    }


/* Form */

input[type="radio"] {
    cursor: pointer;
}

/* Icons */

.info-icon {
    background-image: url(/Areas/Admin/Content/img/info-icon.png);
    display: inline-block;
    height: 16px;
    position: relative;
    right: 2px;
    top: 2px;
    width: 16px;
}

/* Select2 */

.select2-container-multi .select2-choices {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    color: #555 !important;
    height: 42px !important;
    padding: 6px 12px !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
    vertical-align: middle !important;
}

.search {
    min-width: 100%;
    width: 100%;
}

select {
    min-width: 100%;
    width: 100%;
}


/* Table */

table.table tr td {
    cursor: auto;
}

/* Alerts */

.alert .note {
    padding: 10px 0px 0px 30px;
}

/* Buttons */

.table .btn {
    font-size: 13px;
    padding: 0px 6px;
}

/* Loading screen */

#loadingScreen {
    background-color: rgba(0, 0, 0, 0.51);
    display: none;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

    #loadingScreen #loadingMiddle {
        left: 50%;
        position: absolute;
        top: 40%;
    }

        #loadingScreen #loadingMiddle img {
            height: 32px;
            width: 32px;
        }

/* Dashboard Contact */

#dashboardContact #contactMessage {
    display: none;
}

/* Validation */

.field-validation-error {
    color: #ff0000;
}
