#content { min-height: 1000px }

#skin-menu > .row > div > .panel { margin-top: 40px }

.skin-items > div {
    border: 1px solid #bbb;
    cursor: pointer;
    display: inline-block;
    height: 35px;
    margin: 5px 0 5px 6px;
    padding: 1px;
    width: 45px;
}

.skin-items > div:before {
    background: url(/Areas/Admin/Content/img/patterns/swatch-bg.png) no-repeat top left;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
}

.skin-items > .active-skin, .skin-items > div:hover { border: 2px solid #ff9c00 }

.btn-red5 { background-color: #E94216 }

.navbar.no-box-shadow { box-shadow: none }

.header-btns.no-border button { border: 0 }

.header-btns.no-text-shadow button { text-shadow: none }

#topbar.no-background { background: 0 0 }

#topbar.no-border { border-bottom: none }

.panel-heading.box-shadow { box-shadow: 0 1px 3px rgba(0, 0, 0, .15), 0 -1px 1px rgba(0, 0, 0, .05) }

.panel-heading.box-shadow-white {
    border-bottom: 1px solid #FFF;
    box-shadow: none
}

.panel-heading.no-box-shadow { box-shadow: none }

.panel-heading .panel-title.no-text-shadow { text-shadow: none }

.popover { max-width: 298px }

.popover .skin-items > div {
    border: 1px solid #bbb;
    float: left;
    height: 27px;
    margin: 3px 0 2px 5px;
    padding: 1px;
    width: 30px;
}

.popover .skin-items > div:before {
    background: url(/Areas/Admin/Content/img/patterns/swatch-bg.png) no-repeat top left;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
}

.popover-title {
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .9), rgba(241, 241, 241, .9));
    background-image: linear-gradient(rgba(255, 255, 255, .9), rgba(241, 241, 241, .9));
    border-bottom: 1px solid #c9c9c9;
}

.popover-content {
    background: linear-gradient(rgba(255, 255, 255, .9), rgba(241, 241, 241, .9));
    padding: 4px 8px 8px 4px;
}

.popover.top .arrow {
    border-top-color: rgba(0, 0, 0, .15);
    bottom: -10px;
}

.popover.top .arrow:after { border-top-color: #f5f5f5 }

#skinModal .modal-dialog { min-width: 45% }

#skinGenerate textarea {
    background: 0 0;
    border: 0;
    color: #d9008a;
    min-height: 300px;
    width: 100%;
}

.nav-pills li { margin-bottom: 0 }

.nav-pills li a {
    background: linear-gradient(#f9f9f9, #eee);
    border: 1px solid #ddd;
    color: #999;
    font-size: 10px;
    font-weight: 700;
    margin-right: 6px;
    padding: 3px 12px;
}

.nav-pills li.active a {
    background: linear-gradient(#f9f9f9, #eee);
    color: #333;
}

.nav-pills li a:hover, .nav-pills li.active a:hover { color: #333 }

.tab-content { min-height: 0 }

.input-group-addon { padding: 5px 16px }

.input-group-addon div.checker { margin-right: 0 }

.pattern1 { background: url(/Areas/Admin/Content/img/patterns/1.png) repeat }

.pattern2 { background: url(/Areas/Admin/Content/img/patterns/2.png) repeat }

.pattern3 { background: url(/Areas/Admin/Content/img/patterns/3.png) repeat }

.pattern4 { background: url(/Areas/Admin/Content/img/patterns/4.png) repeat }

.pattern5 { background: url(/Areas/Admin/Content/img/patterns/5.png) repeat }

.pattern6 { background: url(/Areas/Admin/Content/img/patterns/6.png) repeat }

.pattern7 { background: url(/Areas/Admin/Content/img/patterns/7.png) repeat }

.pattern8 { background: url(/Areas/Admin/Content/img/patterns/8.png) repeat }

.panel-group .panel-heading { background-image: none !important }

body.boxed-layout .container .col-lg-8 { width: 90% }