﻿@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url("/Areas/Admin/Content/fonts/OpenSansNormal.woff") format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url("/Areas/Admin/Content/fonts/OpenSansSemiBold.woff") format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url("/Areas/Admin/Content/fonts/OpenSansBold.woff") format('woff');
}

@font-face {
    font-family: Fontawesome;
    src: url("/Areas/Admin/Content/fonts/fontawesome-webfont.woff");
}