body.minimal { background: #f4f4f4 }

body.error-page #search-widget { background: #f1f1f1 }

body.error-page .error-icon {
    color: #ee4e3c;
    font-size: 80px;
    position: relative;
    top: -10px
}

body.error-page .error-text {
    color: #888;
    font-size: 120px;
    text-align: center;
    text-shadow: 0 2px #FFF;
    width: 100%
}

body.coming-soon-page { background: #f6f6f6 }

body.coming-soon-page #main { background: url(../Content/img/patterns/coming-soon-bg.jpg) no-repeat center -60px }

body.coming-soon-page #page-logo {
    margin: 50px auto 80px;
    width: 250px;
}

body.coming-soon-page .cntSeparator { margin: 27px 18px }

body.coming-soon-page .panel {
    margin: 0 auto;
    position: relative;
    width: 600px;
}

body.coming-soon-page .panel-title {
    float: none;
    font-size: 17px;
}

body.coming-soon-page .panel-body { padding: 40px 26px }

body.screenlock-page { background: url(/Areas/Admin/Content/img/patterns/5.png) repeat top left #f6f6f6 }

body.screenlock-page #page-logo {
    margin: 50px auto 80px;
    width: 250px;
}

body.screenlock-page .panel {
    margin: 0 auto;
    position: relative;
    width: 500px;
}

body.screenlock-page .login-info {
    font-size: 13px;
    margin: 20px 0;
}

body.screenlock-page .login-info .login-name b { font-size: 14px }

body.screenlock-page .login-info .login-email {
    color: #AAA;
    font-size: 12px;
    padding-top: 8px;
}

body.screenlock-page .login-avatar {
    border-right: 1px dashed #DDD;
    float: left;
    margin-right: 20px;
    padding: 6px 20px 25px 10px;
}

body.screenlock-page .login-avatar img {
    border: 2px solid #DDD;
    display: block;
    margin: 0 auto;
    padding: 5px;
}

body.screenlock-page .login-alert {
    border-top: 1px dashed #DDD;
    clear: both;
    margin: 5px 0;
    padding-top: 15px;
}

body.screenlock-page .login-alert .alert {
    font-size: 13px;
    margin-bottom: 0;
    padding: 7px 13px;
}

body.login-page { background: url(/Areas/Admin/Content/img/patterns/5.png) repeat top left #f6f6f6 }

body.login-page #page-logo {
    margin: 50px auto 80px;
    width: 250px;
}

body.login-page .panel {
    margin: 0 auto;
    position: relative;
    width: 400px;
}

body.login-page .login-avatar {
    border-bottom: 1px dashed #DDD;
    margin: 15px 20px 25px;
    padding-bottom: 25px;
}

body.login-page .login-avatar img {
    border: 2px solid #DDD;
    display: block;
    margin: 0 auto;
    padding: 5px;
}

body.login-page .login-alert {
    font-size: 13px;
    padding: 9px 13px
}

body.profile-page ul.profile-info {
    margin-bottom: 20px;
    margin-top: 10px;
}

body.profile-page ul.profile-info li {
    color: #999;
    font-size: 13px
}

body.profile-page ul.profile-info li i.fa { padding-right: 12px }

body.profile-page .profile-data {
    font-size: 13px;
    padding-top: 7px
}

body.profile-page .profile-data .profile-name b { font-size: 14px }

body.profile-page .profile-data .profile-email {
    color: #AAA;
    font-size: 12px;
    padding-top: 8px;
}

body.profile-page #profile-avatar { border-right: 1px dashed #DDD }

body.profile-page #profile-avatar img {
    border: 2px solid #DDD;
    display: block;
    margin: 0 auto;
    max-height: 140px;
    padding: 5px;
}

body.profile-page .profile-panel .panel-footer {
    border-color: #CCC;
    padding: 20px 16px 16px;
    text-align: center;
}

body.invoice-page #invoice-title { margin-bottom: 60px }

body.invoice-page #invoice-title .invoice-logo {
    margin: 13px auto;
    width: 180px;
}

body.invoice-page #invoice-info {
    border-bottom: 1px dashed #DDD;
    margin-bottom: 30px;
    padding-bottom: 10px
}

body.invoice-page #invoice-info ul { margin-bottom: 5px }

body.invoice-page #invoice-info ul li { margin-bottom: 0 }

body.invoice-page .table-condensed tbody tr td:last-child {
    padding-right: 15px;
    text-align: right;
}

body.invoice-page #invoice-summary { margin: 0 }

body.invoice-page #invoice-summary thead th:first-child {
    padding-right: 55px;
    text-align: right;
    width: 200px;
}

body.invoice-page #invoice-summary thead th:last-child {
    font-weight: 400;
    width: 50px;
}

body.invoice-page #invoice-summary tbody tr td { border-top: 0 }

body.invoice-page #invoice-summary tbody tr td:first-child {
    padding-right: 55px;
    text-align: right;
    width: 200px;
}

body.invoice-page #invoice-summary tbody tr:last-child td {
    background: #f8f8f8;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
    height: 35px;
    line-height: 35px
}

body.invoice-page .invoice-buttons {
    bottom: 10px;
    left: 15px;
    position: absolute;
}

body.invoice-page .panel-sidemenu { width: 18% }

body.invoice-page .panel-sidemenu + .panel-body {
    margin: 40px 3.5% 60px;
    width: 75%;
}

@media (max-width: 1000px) {
    body.invoice-page .panel-sidemenu { display: none }

    body.invoice-page .panel-sidemenu + .panel-body {
        margin: 40px 3.5% 100px;
        width: 93%;
    }
}

body.gallery-page .panel-menu .tab-content {
    background: 0 0;
    border: 0;
    min-height: 0;
    padding: 0;
}

body.dynamic-gallery-page .fade.in { opacity: 1 !important }

body.dynamic-gallery-page .mixitups {
    display: block;
    overflow: auto;
    position: relative
}

body.dynamic-gallery-page #Grid {
    font-size: 0;
    text-align: left
}

body.dynamic-gallery-page #Grid li.template-download, body.dynamic-gallery-page #Grid li.template-upload {
    display: inline-block;
    height: 160px;
    margin: 0 1%;
    margin-bottom: 25px;
    max-height: 160px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 18%;
}

body.dynamic-gallery-page #Grid li.template-download a, body.dynamic-gallery-page #Grid li.template-upload a { display: block }

body.dynamic-gallery-page #Grid li.template-download a img, body.dynamic-gallery-page #Grid li.template-upload a img {
    border: 1px solid #CCC;
    display: block;
    max-width: 100%;
}

body.dynamic-gallery-page #Grid li.template-download .image-buttons {
    background: rgba(0, 0, 0, .55);
    bottom: 0;
    display: none;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

body.dynamic-gallery-page #Grid li.template-download:hover .image-buttons { display: block }

body.dynamic-gallery-page #Grid li.template-upload .upload-preview { border-top: 2px solid #CCC }

body.dynamic-gallery-page #Grid li.template-upload canvas { max-width: 100% }

body.dynamic-gallery-page #Grid li.template-upload .preview-progress { width: 100% }

body.dynamic-gallery-page #Grid li.template-upload .preview-progress p.size {
    font-weight: 600;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

body.dynamic-gallery-page #Grid li.template-upload .preview-progress .progress {
    height: 21px;
    margin: 0
}

body.dynamic-gallery-page #Grid li.template-upload .preview-buttons {
    background: rgba(0, 0, 0, .55);
    bottom: 0;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

body.dynamic-gallery-page #Grid .placeholder {
    background: #DDD;
    display: inline-block;
    font-size: 0;
    height: 160px;
    margin: 0 1%;
    margin-bottom: 25px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 18%;
}

body.validation-page label.error {
    color: #d9534f;
    font-size: 12px;
    font-weight: 600;
    margin: 6px 0 0 2px
}

body.upload-tools-page #fileupload .progress {
    margin-bottom: 0;
    min-width: 75px;
    width: 100%;
}

body.upload-tools-page #fileupload table td { vertical-align: middle }

body.upload-tools-page #fileupload table td .preview canvas { max-height: 60px }

body.upload-tools-page #fileupload table td:last-child { text-align: right }

.console-btn {
    background-color: rgba(248, 248, 248, .9);
    background-image: -webkit-linear-gradient(top, #fff 1%, #f1f1f1 100%);
    background-image: linear-gradient(to bottom, #fff 1%, #f1f1f1 100%);
    background-repeat: repeat-x;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    padding: 10px 10px 10px 15px;
    text-shadow: 0 1px #fff;
    width: 100%;
}

.console-btn:hover {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .45), rgba(241, 241, 241, .45));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .45), rgba(241, 241, 241, .45))
}

.console-btn:hover .console-icon { color: #d9534f }

.console-btn .console-icon {
    display: inline-block;
    font-size: 30px;
    height: 40px;
    vertical-align: top;
}

.console-btn .console-text {
    display: inline-block;
    padding-top: 3px
}

.console-btn .console-title {
    color: #555;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
}

.console-btn .console-subtitle {
    color: #888;
    font-size: 12px;
}

.console-filter {
    float: right;
    margin-right: 5%;
    padding-top: 4px;
    width: 77%;
}

.console-btn .console-icon.divider-right {
    border-right: 1px solid #DDD;
    margin-right: 5px;
    padding-right: 10px;
    position: relative
}

.console-btn .console-icon.divider-right:after {
    border-right: 1px solid #fff;
    content: "";
    height: 100%;
    margin-right: -2px;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
}

.console-btn .console-icon.divider-left {
    border-left: 1px solid #DDD;
    margin-left: 10px;
    padding-left: 10px;
}

.console-btn .console-icon.divider-bottom {
    border-bottom: 1px solid #DDD;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.console-btn.console-block .console-icon {
    display: block;
    height: auto
}

.console-btn.console-block .console-text {
    display: block;
    padding: 0
}

.console-btn.console-alt {
    background: 0 0;
    border: 0;
    box-shadow: none;
    padding: 5px 8px
}

.console-btn.console-alt .console-icon { font-size: 20px }

.console-btn.console-alt .console-text { padding: 0 }

.console-btn.console-alt .console-title { font-size: 14px }

.console-btn.console-alt .console-badge .badge {
    left: 45px;
    position: absolute;
    text-shadow: none;
    top: -5px;
}

.chart-btn { padding-top: 8px }

.chart-btn .chart-icon {
    display: inline-block;
    height: 40px;
    margin-bottom: 10px;
    vertical-align: top;
    width: 100px;
}

.chart-btn .chart-text {
    display: inline-block;
    vertical-align: top
}

.chart-btn .chart-title {
    color: #555;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}

.chart-btn .chart-subtitle {
    color: #888;
    font-size: 15px;
    text-align: left
}

body.sketchpad-page .wPaint-menu-holder { box-shadow: 1px 1px 2px rgba(0, 0, 0, .45) }

body.sketchpad-page .chat-panel .media-img img {
    margin-right: 6px;
    max-width: 50px;
}

body.sketchpad-page .chat-panel .media-content { padding: 6px 12px }

body.sketchpad-page .chat-panel .media-timestamp { margin-bottom: 5px }

body.messages-page .panel-menu { padding: 10px 20px }

body.messages-page .panel-menu button { margin-right: 8px }

body.messages-page .panel-menu button:last-child { margin-right: 0 }

body.messages-page .messenger-header-actions .search-bar {
    margin-right: 4px;
    max-width: 150px;
    position: relative;
    top: 2px;
}

body.messages-page .email-menu .table tbody > tr > td {
    border-top: 1px dashed #c9c9c9;
    padding: 10px 8px;
    vertical-align: middle
}

body.messages-page .email-menu .table tbody > tr:first-child > td { border-top: 0 }

body.messages-page .email-menu .table-striped > tbody > tr:nth-child(even) > td { background: #f8f8f8 }

body.messages-page .email-menu .table-striped > tbody > tr:nth-child(odd) > td { background: #FFF }

body.messages-page .email-menu-avatar { width: 15% }

body.messages-page .email-menu-avatar img {
    max-width: 50px;
    min-width: 50px;
}

body.messages-page .email-menu-message {
    color: #555;
    font-size: 13px;
    line-height: 17px
}

body.messages-page .email-menu-date {
    font-size: 11px;
    text-align: right
}

body.messages-page .email-date {
    color: #888;
    font-size: 11px
}

body.messages-page .email-message {
    border-top: 1px dashed #c9c9c9;
    margin-top: 15px;
    padding-top: 15px;
}

body.messages-page .email-message p { font-size: 15px }

body.messages-page .email-avatar {
    border: 2px solid #CCC;
    margin-right: 20px;
    margin-top: 12px;
    max-width: 70px;
}

body.timeline-page #main { min-height: 1400px }

#timeline { position: relative }

#timeline:after {
    -webkit-box-shadow: 1px 0 1px #AAA inset, -1px 0 1px #f5f5f5 inset;
    background: #ddd;
    box-shadow: 1px 0 1px #AAA inset, -1px 0 1px #f5f5f5 inset;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 8px;
}

.timeline-divider {
    margin: 10px 0 45px;
    position: relative;
    z-index: 3
}

.timeline-divider .divider-label {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(241, 241, 241, 1));
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    margin: 0 auto;
    min-width: 100px;
    padding: 5px;
    text-align: center;
    width: 10%;
}

#timeline .panel {
    cursor: move;
    overflow: visible;
    position: relative;
    z-index: 11;
}

#timeline > .row .panel:before {
    -webkit-box-shadow: 1px 0 1px #999 inset, -1px 0 1px #fff inset;
    background: #d2d2d2;
    border-radius: 50%;
    box-shadow: 1px 0 1px #999 inset, -1px 0 1px #fff inset;
    content: "";
    height: 26px;
    position: absolute;
    right: -64px;
    top: 16px;
    width: 26px;
    z-index: 3;
}

#timeline > .row .panel:after {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(241, 241, 241, 1));
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    content: "";
    height: 14px;
    position: absolute;
    right: -57px;
    top: 22px;
    width: 14px;
    z-index: 4;
}

#timeline > .row > .right-column .panel:before {
    left: -57px;
    top: 14px;
}

#timeline > .row > .right-column .panel:after {
    left: -52px;
    top: 20px;
}

#timeline > .row > .right-column .panel .panel-heading:before { left: -23px }

#timeline > .row > .right-column .panel .panel-heading:after { left: -19px }

#timeline > .row > .left-column .panel.dragging:after, #timeline > .row > .left-column .panel.dragging:before, #timeline > .row > .right-column .panel.dragging:after, #timeline > .row > .right-column .panel.dragging:before { display: none }

#timeline > .row > .left-column .panel { margin-right: 32px }

#timeline > .row > .right-column .panel { margin-left: 32px }

#timeline > .row > .right-column { margin-top: 60px }

#timeline .ui-sortable-disabled .panel { cursor: auto }

@media (max-width: 770px) {
    #timeline > .row > .left-column .panel { margin-right: 0 }

    #timeline > .row > .right-column .panel { margin-left: 0 }

    #timeline > .row .panel:after, #timeline > .row .panel:before { display: none }
}

#timeline .tab-content { min-height: 0 }

#timeline .map {
    border: 1px solid #AAA;
    height: 300px;
    width: 100%;
}

#timeline-image-form .fileupload-preview { text-align: center }

#timeline-image-form .fileupload-preview img { max-height: 200px }

#timeline div.checker input { vertical-align: top }

#timeline .ui-sortable {
    min-height: 150px;
    min-width: 300px
}

#timeline .ui-sortable-placeholder {
    -webkit-box-shadow: 0 1px 3px #BBB inset, 1px 1px 0 #fff;
    background: #DDD;
    border: 1px solid #bbb;
    border-radius: 3px;
    box-shadow: 0 1px 3px #BBB inset, 1px 1px 0 #fff;
    margin-bottom: 35px;
    Visibility: visible !important;
}

#timeline .ui-sortable-placeholder * { Visibility: hidden }