#flotTip, .jqstooltip {
    background-color: rgba(0, 0, 0, .7) !important;
    border: 0 !important;
    border-radius: 3px;
    color: #fff;
    height: auto !important;
    padding: 2px 6px !important;
    width: auto !important;
}

.has-switch {
    border-color: #c9c9c9;
    border-radius: 0;
}

.has-switch span.switch-left, .has-switch span.switch-right {
    border: 2px solid #FFF;
    border-radius: 0;
    padding-bottom: 2px;
    padding-top: 2px;
}

.has-switch label {
    background: url(../js/plugins/uniform/themes/default/images/grip.png) center center no-repeat, -webkit-linear-gradient(top, #fcfcfc 0, #ddd 100%);
    background: url(../js/plugins/uniform/themes/default/images/grip.png) center center no-repeat, linear-gradient(to bottom, #fcfcfc 0, #ddd 100%);
    margin-right: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    width: 32%;
}

.tm-tag { margin-right: 8px }

.tag-container { margin-top: 15px }

.cke_toolbar_break {
    clear: none;
    display: block
}

#Grid {
    font-size: .1px;
    margin: 0;
    overflow: hidden;
    padding-left: 0;
    position: relative;
    text-align: justify;
}

#Grid:after {
    content: '';
    display: inline-block;
    width: 100%;
}

#Grid .mix {
    display: none;
    margin-bottom: 20px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 19%;
}

#Grid li a { display: block }

#Grid li a img {
    border: 1px solid #DDD;
    max-width: 100%;
}

#Grid .gap {
    display: inline-block;
    width: 19%
}

#Grid .placeholder {
    background: #DDD;
    display: inline-block;
    height: 161px;
    position: relative;
    vertical-align: top;
    width: 19%;
}

#Grid .placeholder::after {
    -webkit-box-shadow: 0 1px 3px #BBB inset, 1px 1px 0 #FFF;
    border: 1px solid #BBB;
    border-radius: 4px;
    box-shadow: 0 1px 3px #BBB inset, 1px 1px 0 #FFF;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.colorpicker {
    min-width: 0;
    padding: 6px 12px;
}

.datepicker { padding: 6px 12px }

.dropzone { min-height: 405px }

.dropzone .dz-default.dz-message {
    background-image: none;
    height: 100%;
    left: 0;
    margin-left: 0;
    margin-top: -23px;
    text-align: center;
    top: 23%;
    width: 100%;
}

.dropzone .dz-default.dz-message span {
    display: inline-block;
    text-align: center
}

.dropzone .dz-default.dz-message span.main-text {
    color: #666;
    font-size: 28px;
    font-weight: 400;
}

.dropzone .dz-default.dz-message span.main-text b {
    color: #444;
    font-size: 40px;
}

.dropzone .dz-default.dz-message span.sub-text {
    color: #888;
    font-size: 20px;
}

.dropzone .dz-default.dz-message i.fa {
    color: #428bca;
    display: block;
    font-size: 100px;
    margin-bottom: 15px
}

.dropzone a.dz-remove, .dropzone-previews a.dz-remove { cursor: pointer }

.dropzone .dz-preview .dz-error-message, .dropzone-previews .dz-preview .dz-error-message { display: none !important }

.map .pagination {
    -webkit-box-shadow: 0 2px 4px #999;
    background-image: -webkit-linear-gradient(top, #fff 1%, #eaeaea 100%);
    background-image: linear-gradient(to bottom, #fff 1%, #eaeaea 100%);
    background-repeat: repeat-x;
    box-shadow: 0 2px 4px #999;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    margin: 11px;
    width: 96%;
}

.map .pagination .display {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-shadow: 0 1px #FFF;
    width: 84%;
}

.map .pagination .btn {
    border: 0;
    border-radius: 0;
    cursor: pointer;
    height: 40px;
    vertical-align: top;
    width: 8%;
}

.map .pagination .back-btn {
    background: url(../vendor/plugins/gmap/images/arrow_left_12x12.png) no-repeat 50% 50%;
    border-right: 1px solid #ccc;
    float: left;
}

.map .pagination .fwd-btn {
    background: url(../vendor/plugins/gmap/images/arrow_right_12x12.png) no-repeat 50% 50%;
    border-left: 1px solid #ccc;
    float: right;
}

.map .checker { margin-right: 8px }

.map-shadow {
    -webkit-box-shadow: 0 2px 3px #999;
    box-shadow: 0 2px 3px #999
}

.map-gradient {
    background-image: -webkit-linear-gradient(top, #fff 1%, #f0f0f0 100%);
    background-image: linear-gradient(to bottom, #fff 1%, #f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.map-rounded { border-radius: 4px }

.chosen-container-single .chosen-single {
    border-color: #c9c9c9;
    box-shadow: none;
    height: 35px;
    line-height: 32px
}

.chosen-container-single .chosen-drop { padding: 5px }

.chosen-container-multi .chosen-choices {
    background-clip: padding-box;
    background-image: -webkit-linear-gradient(top, #fff 1%, #f0f0f0 100%);
    background-image: linear-gradient(to bottom, #fff 1%, #f0f0f0 100%);
    background-repeat: repeat-x;
    border-color: #c9c9c9;
    border-radius: 4px;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    cursor: pointer;
    height: 35px;
    line-height: 32px
}

.chosen-container-multi.chosen-container-active .chosen-choices {
    background-clip: padding-box;
    background-image: -webkit-linear-gradient(top, #eee 1%, #fff 100%);
    background-image: linear-gradient(to bottom, #eee 1%, #fff 100%);
    background-repeat: repeat-x;
    box-shadow: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.chosen-container-multi.chosen-container-active .chosen-drop {
    -webkit-box-shadow: 0 0 8px #999;
    box-shadow: 0 0 8px #999;
    padding: 8px 5px;
}

.elfinder .elfinder-button { box-sizing: content-box }

.ui-widget-content { border-color: #BBB }

.elfinder-toolbar {
    background-image: -webkit-linear-gradient(top, #fff 1%, #f0f0f0 100%);
    background-image: linear-gradient(to bottom, #fff 1%, #f0f0f0 100%);
    background-repeat: repeat-x;
    border-bottom: 1px solid #BBB;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    padding: 15px 10px 14px;
}

.elfinder .elfinder-button-search { margin: 0 4px }

.elfinder-button-search input {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    border-color: #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    height: 29px;
    padding: 4px 20px;
    width: 202px;
}

.elfinder-ltr .elfinder-button-search .ui-icon-close, .elfinder-rtl .elfinder-button-search .ui-icon-search { right: 3px }

.elfinder .elfinder-navbar {
    background: #f6f6f6;
    padding: 15px 10px;
}

.elfinder-disabled .elfinder-navbar .ui-state-active, .elfinder-ltr .elfinder-navbar-subtree, .elfinder-navbar .ui-state-active {
    cursor: pointer;
    margin-bottom: 5px;
    padding-bottom: 6px;
    padding-top: 6px;
}

.elfinder-cwd-wrapper { padding-top: 10px }

.elfinder .elfinder-statusbar {
    background: #f5f5f5;
    border-top: 1px solid #BBB;
    padding: 13px 10px;
}

.elfinder-quicklook {
    border: 1px solid #bbb;
    border-radius: 0;
    padding: 15px;
}

.elfinder-quicklook-titlebar {
    background-image: -webkit-linear-gradient(top, #fff 1%, #f0f0f0 100%);
    background-image: linear-gradient(to bottom, #fff 1%, #f0f0f0 100%);
    background-repeat: repeat-x;
    border-bottom: 1px solid #BBB;
    border-radius: 0;
    color: #666;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    font-size: 13px;
    height: 35px;
    padding: 8px;
}

.elfinder-quicklook-title { color: #666 }

.wizard-wrapper {
    border-bottom: 1px dashed #c9c9c9;
    margin-bottom: 20px;
    margin-top: 30px;
    padding-bottom: 40px;
    padding-left: 50px;
}

ul.wizard-steps {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul.wizard-steps li {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 32%;
}

ul.wizard-steps li a {
    color: #888;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    text-shadow: 0 1px #fff;
    top: 15px;
}

ul.wizard-steps li .wizard-icon {
    -webkit-box-shadow: 1px 0 1px #AAA inset;
    background: #DDD;
    border-radius: 50%;
    box-shadow: 1px 0 1px #AAA inset;
    height: 50px;
    margin: 0 auto;
    padding: 5px;
    position: relative;
    width: 50px;
    z-index: 11;
}

ul.wizard-steps li .wizard-icon .fa {
    -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, .1);
    background: #fff;
    border: 1px solid #CCC;
    border-radius: 50%;
    box-shadow: 1px 0 0 rgba(0, 0, 0, .1);
    font-size: 20px;
    height: 40px;
    line-height: 38px;
    position: relative;
    text-align: center;
    width: 40px;
    z-index: 11;
}

ul.wizard-steps li:after {
    -webkit-box-shadow: 0 1px 1px #AAA inset, 0 -1px 1px rgba(255, 255, 255, .8) inset;
    background-color: #DDD;
    box-shadow: 0 1px 1px #AAA inset, 0 -1px 1px #f5f5f5 inset;
    content: "";
    height: 8px;
    left: 50%;
    position: absolute;
    top: 36%;
    width: 100%;
    z-index: 10;
}

ul.wizard-steps li:last-child:after {
    content: "";
    display: none;
}

ul.wizard-steps li.active .wizard-icon i {
    color: #0094d2;
    transition: all ease-in-out 2s
}

ul.wizard-steps li.passed .wizard-icon i {
    background: #0094d2;
    color: #fff;
    transition: all ease-in-out 2s
}

ul.wizard-steps li.passed.active .wizard-icon i {
    background-color: #0094d2;
    color: #fff
}

table.dataTable { font-size: 13px }

table.dataTable thead th { border-bottom: 1px solid #DDD }

table.dataTable tr.odd td.sorting_1 { background-color: #FFF }

table.dataTable tr.even td.sorting_1 { background-color: #f8f8f8 }

.datatables-toolbar { margin-bottom: 15px }

.datatables-toolbar .datatable-search {
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, .07);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, .07);
    background: #f9f9f9;
    border: 1px solid #CCC;
    border-radius: 3px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .07);
    color: #999;
    font-size: 14px;
    font-weight: 600;
    max-height: 35px;
    outline: 0;
    padding: 7px 8px;
}

.dataTables_info {
    color: #999;
    padding-top: 7px;
}

#table_data_length .chosen-single {
    color: #888;
    height: 30px;
    line-height: 27px;
}

.datatables-footer { margin-top: 10px }

.datatables-footer .pagination {
    margin: 0;
    padding-top: 2px
}

table.dataTable > tbody > tr > td, table.dataTable > tbody > tr > th, table.dataTable > tfoot > tr > td, table.dataTable > tfoot > tr > th, table.dataTable > thead > tr > td, table.dataTable > thead > tr > th { vertical-align: middle }

div.selector span {
    background-position: right 0;
    cursor: pointer;
    display: block;
    display: block;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    padding-right: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

div.button, div.button span, div.checker span, div.radio span, div.selector, div.selector span, div.uploader, div.uploader span.action {
    -webkit-font-smoothing: antialiased;
    background-image: url(/Areas/Admin/Content/img/form/sprite.png);
    background-repeat: no-repeat;
}

div.uploader span.filename {
    border-right: solid 1px #bbb;
    color: #777;
    cursor: default;
    display: block;
    float: left;
    font-size: 11px;
    height: 24px;
    line-height: 24px;
    margin: 2px 0 2px 2px;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 85px;
}

div.uploader span.action {
    background-color: #fff;
    background-position: right -409px;
    cursor: pointer;
    display: inline;
    float: left;
    font-size: 11px;
    font-weight: 700;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    text-align: center;
    text-shadow: #fff 0 1px 0;
    width: 82px;
}

div.selector select {
    -moz-opacity: 0;
    background: 0 0;
    border: none;
    filter: alpha(opacity=0);
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 22px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 2px;
    width: 100%;
}

div.uploader input {
    -moz-opacity: 0;
    background: 0 0;
    border: none;
    cursor: default;
    filter: alpha(opacity=0);
    float: right;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

div.button:focus, div.checker:focus, div.radio:focus, div.selector:focus, div.uploader:focus { outline: 0 }

div.selector span {
    color: #666;
    text-shadow: 0 1px 0 #fff
}

div.button span {
    background-position: right -521px;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    height: 22px;
    letter-spacing: 1px;
    line-height: 22px;
    margin-left: 13px;
    padding: 8px 15px 0 2px;
    text-align: center;
    text-transform: uppercase;
    zoom: 1;
}

div.button, div.button *, div.checker, div.checker *, div.radio, div.radio *, div.selector, div.selector *, div.uploader, div.uploader * {
    margin: 0;
    padding: 0
}

div.button a, div.button button, div.button input {
    -moz-opacity: .01;
    bottom: 0;
    display: block;
    filter: alpha(opacity=1);
    left: 0;
    opacity: .01;
    position: absolute;
    right: 0;
    top: 0;
}

div.button, div.checker, div.radio, div.selector, div.uploader {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    zoom: 1;
}

div.checker span.checked { background-position: -76px -260px }

div.radio span.checked { background-position: -72px -279px }

div.checker input {
    -moz-opacity: 0;
    background: 0 0;
    border: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    filter: alpha(opacity=0);
    opacity: 0;
    zoom: 1
}

div.checker, div.checker input, div.checker span {
    height: 19px;
    width: 19px;
}

div.checker span {
    background-position: 0 -260px;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    text-align: center;
    zoom: 1;
}

div.radio input {
    -moz-opacity: 0;
    background: 0 0;
    border: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    filter: alpha(opacity=0);
    opacity: 0;
    text-align: center;
    zoom: 1
}

div.radio span {
    background-position: 0 -279px;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    text-align: center;
    zoom: 1;
}

div.radio, div.radio input, div.radio span {
    height: 18px;
    width: 18px;
}

.highContrastDetect {
    background: url(../Content/img/form/bg-input.png) repeat-x 0 0;
    height: 0;
    width: 0;
}

input.uniform-input, select.uniform-multiselect, textarea.uniform {
    background: url(../Content/img/form/bg-input.png) repeat-x 0 0;
    outline: 0;
    padding: 3px;
}

input.uniform-input, input.uniform-input:focus { background-color: #fff }

input.uniform-input.active, select.uniform-multiselect.active, textarea.uniform.active { background: url(../Content/img/form/bg-input-focus.png) repeat-x 0 0 }

div.checker input, input[type=search], input[type=search]:active {
    -moz-appearance: none;
    -webkit-appearance: none
}

div.selector {
    background-position: 0 -130px;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    padding: 0 0 0 10px;
    position: relative;
}

div.selector.fixedWidth { width: 190px }

div.selector.fixedWidth span { width: 155px }

div.selector.active { background-position: 0 -156px }

div.selector.active span { background-position: right -26px }

div.selector.focus, div.selector.hover { background-position: 0 -182px }

div.selector.focus span, div.selector.hover span { background-position: right -52px }

div.selector.focus.active, div.selector.hover.active { background-position: 0 -208px }

div.selector.focus.active span, div.selector.hover.active span { background-position: right -78px }

div.selector.disabled, div.selector.disabled.active { background-position: 0 -234px }

div.selector.disabled span, div.selector.disabled.active span {
    background-position: right -104px;
    color: #bbb
}

div.checker { position: relative }

div.checker.active span { background-position: -19px -260px }

div.checker.active span.checked { background-position: -95px -260px }

div.checker.focus span, div.checker.hover span { background-position: -38px -260px }

div.checker.focus span.checked, div.checker.hover span.checked { background-position: -114px -260px }

div.checker.focus.active span, div.checker.hover.active span { background-position: -57px -260px }

div.checker.focus.active span.checked, div.checker.hover.active span.checked { background-position: -133px -260px }

div.checker.disabled, div.checker.disabled.active { background-position: -152px -260px }

div.checker.disabled span.checked, div.checker.disabled.active span.checked { background-position: -171px -260px }

div.radio { position: relative }

div.radio.active span { background-position: -18px -18px -279px }

div.radio.active span.checked { background-position: -90px -279px }

div.radio.focus span, div.radio.hover span { background-position: -36px -36px -279px }

div.radio.focus span.checked, div.radio.hover span.checked { background-position: -108px -279px }

div.radio.focus.active span, div.radio.hover.active span { background-position: -54px -279px }

div.radio.focus.active span.checked, div.radio.hover.active span.checked { background-position: -126px -279px }

div.radio.disabled span, div.radio.disabled.active span { background-position: -144px -279px }

div.radio.disabled span.checked, div.radio.disabled.active span.checked { background-position: -162px -279px }

div.uploader {
    background-position: 0 -297px;
    cursor: pointer;
    height: 28px;
    overflow: hidden;
    position: relative;
    width: 190px;
}

div.uploader.active span.action { background-position: right -465px }

div.uploader.focus, div.uploader.hover { background-position: 0 -353px }

div.uploader.focus span.action, div.uploader.hover span.action { background-position: right -437px }

div.uploader.focus.active span.action, div.uploader.hover.active span.action { background-position: right -493px }

div.uploader.disabled, div.uploader.disabled.active { background-position: 0 -325px }

div.uploader.disabled span.filename, div.uploader.disabled.active span.filename {
    border-color: #ddd;
    color: #aaa;
}

div.uploader.disabled span.action, div.uploader.disabled.active span.action {
    background-position: right -381px;
    color: #aaa;
}

div.button {
    background-position: 0 -641px;
    cursor: pointer;
    height: 30px;
    position: relative;
}

div.button.active { background-position: 0 -671px }

div.button.active span {
    background-position: right -551px;
    cursor: default
}

div.button.focus, div.button.hover { background-position: 0 -701px }

div.button.focus span, div.button.hover span {
    background-position: right -581px;
    color: #555
}

div.button.disabled, div.button.disabled.active { background-position: 0 -731px }

div.button.disabled span, div.button.disabled.active span {
    background-position: right -611px;
    color: #bbb;
    cursor: default
}

input.uniform-input, select.uniform-multiselect, textarea.uniform {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-bottom: solid 1px #ccc;
    border-left: solid 1px #aaa;
    border-radius: 3px;
    border-right: solid 1px #ccc;
    border-top: solid 1px #aaa;
    color: #777;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
}

input.uniform-input.focus, input.uniform-input.hover, select.uniform-multiselect.focus, select.uniform-multiselect.hover, textarea.uniform.focus, textarea.uniform.hover {
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    border-color: #999;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

div.selector { font-size: 12px }

div.checker { margin-right: 5px }

div.radio { margin-right: 3px }