@media (max-width: 1450px) {
    #content { margin-left: 210px }

    #sidebar, #sidebar:before { width: 210px }

    #sidebar-search form { max-width: 145px }

    .container { padding: 25px 30px 50px }
}

@media (max-width: 1200px) {
    body #sidebar, body #sidebar:before { width: 40px !important }

    body #topbar {
        height: 45px !important;
        max-height: 45px !important
    }

    body .breadcrumb { padding-top: 14px }

    body #content { margin-left: 40px !important }

    body #content:after {
        border-left: 1px solid #CCC;
        box-shadow: none;
    }

    body #sidebar-search { display: none }

    body ul.sidebar-nav .sidebar-title, body ul.sidebar-nav ul.sub-nav {
        border: 1px solid #ccc;
        display: none;
        left: 40px;
        position: absolute;
        width: 200px;
        z-index: 9999;
    }

    body ul.sidebar-nav > li > a > .glyphicon, body ul.sidebar-nav > li > a > .glyphicons {
        border-right: 0;
        margin-left: 2px;
    }

    body ul.sidebar-nav .sidebar-title {
        background: #CCC;
        border-color: #AAA;
        height: 46px;
        text-indent: 20px;
        top: -1px;
    }

    body ul.sidebar-nav span.caret { display: none }

    body ul.sidebar-nav ul.sub-nav {
        border-top: 1px solid #AAA;
        height: auto !important;
        top: 44px;
    }

    body ul.sidebar-nav ul.sub-nav li a { padding: 13px 15px }

    body ul.sidebar-nav ul.sub-nav li:last-child a { padding: 13px 15px 20px }

    body #sidebar-menu ul.sidebar-nav > li > ul.sub-nav.menu-open { display: none }

    body ul.sidebar-nav li:hover .sidebar-title, body ul.sidebar-nav li:hover a, body ul.sidebar-nav li:hover ul { display: block !important }

    body ul.sidebar-nav li:first-child:hover .sidebar-title, body ul.sidebar-nav li:first-child:hover ul.sub-nav { display: none !important }
}

#console-btns #console-search-btn { display: none }