body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background-color: #FFF;
    color: #666;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-size-adjust: 100%;
    font-weight: 400;
    line-height: 1.475;
    margin: 0;
    padding: 0;
    width: 100%;
}

#main {
    position: relative;
    width: 100%;
}

#content {
    display: block;
    margin-left: 240px;
    min-height: 100%
}

#content:after {
    -webkit-box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, .33) inset;
    background-color: #e8e8e8;
    bottom: 0;
    box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, .33) inset;
    content: "";
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -2;
}

.container { width: 100% }

#content > .container {
    max-width: 1665px !important;
    padding: 35px 35px 50px 45px
}

.padding-none { padding: 0 !important }

.padding { padding: 10px !important }

.padding-sm { padding: 5px !important }

.padding-lg { padding: 22px !important }

.padding-top-none { padding-top: 0 !important }

.padding-top { padding-top: 14px !important }

.padding-top-sm { padding-top: 5px !important }

.padding-top-lg { padding-top: 22px !important }

.padding-right-none { padding-right: 0 !important }

.padding-right { padding-right: 14px !important }

.padding-right-sm { padding-right: 5px !important }

.padding-right-lg { padding-right: 22px !important }

.padding-bottom-none { padding-bottom: 0 !important }

.padding-bottom { padding-bottom: 14px !important }

.padding-bottom-sm { padding-bottom: 5px !important }

.padding-bottom-lg { padding-bottom: 22px !important }

.padding-left-none { padding-left: 0 !important }

.padding-left { padding-left: 14px !important }

.padding-left-sm { padding-left: 5px !important }

.padding-left-lg { padding-left: 22px !important }

.margin-none { margin: 0 !important }

.margin { margin: 14px !important }

.margin-sm { margin: 5px !important }

.margin-lg { margin: 22px !important }

.margin-top-none { margin-top: 0 !important }

.margin-top { margin-top: 14px !important }

.margin-top-lg { margin-top: 22px !important }

.margin-top-sm { margin-top: 5px !important }

.margin-right-none { margin-right: 0 !important }

.margin-right { margin-right: 14px !important }

.margin-right-lg { margin-right: 22px !important }

.margin-right-sm { margin-right: 5px !important }

.margin-bottom-none { margin-bottom: 0 !important }

.margin-bottom { margin-bottom: 14px !important }

.margin-bottom-lg { margin-bottom: 22px !important }

.margin-bottom-sm { margin-bottom: 5px !important }

.margin-left-none { margin-left: 0 !important }

.margin-left { margin-left: 14px !important }

.margin-left-lg { margin-left: 22px !important }

.margin-left-sm { margin-left: 5px !important }

.border-left-none { border-left: none !important }

.border-right-none { border-right: none !important }

.border-bottom-none { border-bottom: none !important }

.border-top-none { border-top: none !important }

.border-none { border: none !important }

.inline-object { display: inline-block !important }

.center-column {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.option-disabled { opacity: .6 }

ol, ul { padding-left: 30px }

li { margin-bottom: 7px }

a { color: #666 }

a:hover { color: #d9534f }

a:focus { outline: 0 }

p {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 22px;
}

p small, p.small { font-size: 13px }

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
    text-rendering: optimizelegibility;
}

h1 {
    font-size: 30px;
    line-height: 45px
}

h2 {
    font-size: 24px;
    line-height: 36px
}

h3 {
    font-size: 18px;
    line-height: 27px
}

h4, h5, h6 { line-height: 18px }

h4 { font-size: 14px }

h5 { font-size: 12px }

h6 {
    color: #999;
    font-size: 11px;
    text-transform: uppercase
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #999;
    font-weight: 400;
}

.semi-bold { font-weight: 600 }

hr {
    border-top: 1px solid #DDD;
    margin: 35px 0;
}

hr.alt { border-top: 1px dashed #CCC }

hr.short { margin: 20px 0 }

hr.tall { margin: 55px 0 }

.page-header {
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
    border-bottom: 1px solid #c9c9c9;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
    margin-bottom: 30px;
    text-shadow: 0 1px #FFF;
}

.animated-delay { opacity: 0 }

.sparkline-delay {
    display: block;
    height: 0;
    line-height: 40px
}

.navbar {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1), 0 1px 0 0 rgba(0, 0, 0, .1);
    background-color: #FFF;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1), 0 1px 0 0 rgba(0, 0, 0, .1);
    margin-bottom: 0;
    min-height: 51px;
    z-index: 1030;
}

.navbar-brand {
    padding: 6px 0 0 25px;
    width: 200px;
}

.navbar-brand .navbar-logo {
    float: left;
    max-width: 150px;
}

.header-btns { padding: 10px }

.header-btns > div {
    display: inline-block;
    margin-right: 5px;
    position: relative;
}

.header-btns > div > button {
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top, #fff 1%, #f5f5f5 100%);
    background-image: linear-gradient(to bottom, #fff 1%, #f5f5f5 100%);
    background-repeat: repeat-x;
    border-color: #ccc rgba(0, 0, 0, .19) rgba(0, 0, 0, .18);
    color: #666;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.header-btns > div > button:hover { color: #0094d2 }

.header-btns > div > button > .fa, .header-btns > div > button > .glyphicon, .header-btns > div > button > .glyphicons { font-size: 1.25em }

.header-btns .user-menu > .btn:first-child { border-radius: 3px 0 0 3px }

.header-btns .user-menu > .btn:last-child { border: 0 }

.header-btns ul.dropdown-menu {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .4);
    background: #f5f5f5;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .4);
    left: 0;
    list-style: none;
    margin-top: 17px;
    padding: 0;
    width: 300px;
}

.messages-menu ul.dropdown-menu { margin-left: -45px }

.tasks-menu ul.dropdown-menu {
    margin-left: -240px;
    width: 430px;
}

.user-menu ul.dropdown-menu {
    margin-left: -120px;
    width: 250px;
}

.alerts-menu ul.dropdown-menu {
    margin-left: -70px;
    width: 300px;
}

.header-btns .dropdown-header {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .05);
    background: #FFF;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .05);
    color: #555;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 12px 20px;
    position: relative;
    z-index: 999;
}

.dropdown-menu ul.dropdown-items {
    list-style: none;
    padding: 0;
}

ul.dropdown-items > li {
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    font-size: 13px;
    margin: 0;
    padding: 10px 14px;
    position: relative;
    z-index: 888;
}

.user-menu ul.dropdown-items > li { padding: 8px 14px }

ul.dropdown-items > li:hover { background: #EEE }

ul.dropdown-items > li:last-child { border-bottom: 0 }

ul.dropdown-items > li a:hover {
    background: 0 0;
    color: #666;
    text-decoration: none;
}

.user-menu ul.dropdown-items > li:hover i.fa { color: #d9534f }

.user-menu ul.dropdown-items > li:last-child:hover i.fa { color: #888 }

.user-menu ul.dropdown-items > li:last-child > div:hover i.fa { color: #d9534f }

.header-btns .dropdown-footer {
    -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, .1), 0 -2px 3px rgba(0, 0, 0, .05);
    background: #FFF;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .1), 0 -2px 3px rgba(0, 0, 0, .05);
    color: #999;
    font-size: 11px;
    margin: 0;
    padding: 11px 20px;
    position: relative;
    text-align: center;
    z-index: 999;
}

.header-btns .dropdown-footer a { color: #428bca }

.header-btns .dropdown-footer a:hover { background: 0 0 }

.header-btns .dropdown-footer i.fa { padding-left: 3px }

.header-btns .menu-arrow {
    left: 10%;
    overflow: hidden;
    position: absolute;
    top: -12px;
}

.header-btns .menu-arrow .menu-arrow-up {
    background: url(/Areas/Admin/Content/img/form/menu-arrow-up.png) no-repeat top left;
    display: block;
    height: 14px;
    width: 25px;
}

.messages-menu .menu-arrow { left: 20% }

.alerts-menu .menu-arrow { left: 27% }

.tasks-menu .menu-arrow { left: 59% }

.user-menu .menu-arrow { left: 69% }

.header-btns .item-avatar {
    border: 1px solid #CCC;
    display: inline-block;
    margin-right: 12px;
    vertical-align: middle;
    width: 45px;
}

.header-btns .item-icon {
    color: #888;
    display: inline-block;
    font-size: 20px;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
}

.tasks-menu .item-icon { width: 30px }

.header-btns .item-message {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
}

.user-menu .item-message { width: 170px }

.tasks-menu .item-message { width: 215px }

.header-btns .item-label {
    display: inline-block;
    width: 80px;
}

.header-btns .item-checkbox {
    position: absolute;
    right: 20px;
    top: 14px
}

.user-menu .dropdown-lockout {
    background: #fff;
    border-top: 1px solid #bbb;
    float: left;
    font-size: 13px;
    padding: 11px 0 11px 15px;
    width: 50%;
}

.user-menu .dropdown-signout {
    background: #fff;
    border-left: 1px dashed #ccc;
    border-top: 1px solid #bbb;
    float: left;
    padding: 11px 5px 11px 15px;
    width: 50%;
}

.user-menu .dropdown-lockout .fa, .user-menu .dropdown-signout .fa {
    color: #888;
    font-size: 20px;
    padding-right: 7px;
    vertical-align: top
}

.task-checked > div:not(.item-checkbox) { opacity: .4 }

.task-checked .text-slash { text-decoration: line-through }

#sidebar {
    background: #FFF;
    left: auto;
    position: absolute;
    width: 240px;
    z-index: 1024;
}

#sidebar:before {
    background: #fff;
    bottom: 0;
    content: "";
    display: block;
    position: fixed;
    top: 0;
    width: 240px;
    z-index: -2;
}

#sidebar-search {
    background-image: -webkit-linear-gradient(top, #fff 1%, #f5f5f5 100%);
    background-image: linear-gradient(to bottom, #fff 1%, #f5f5f5 100%);
    background-repeat: repeat-x;
    border-bottom: 1px solid #d2d2d2;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    height: 52px;
    max-height: 52px;
    overflow: hidden;
    padding: 12px 13px 0 12px;
    position: relative;
}

#sidebar-search form {
    float: left;
    max-width: 170px;
    position: relative;
}

#sidebar-search form input.search-bar {
    background: #fff;
    color: #999;
    font-size: 14px;
    height: 29px;
    max-height: 30px;
    outline: 0;
    padding: 3px 8px;
}

#sidebar-search form .field-icon-right {
    color: #BBB;
    display: none;
    font-size: 16.5px;
    top: 6px;
}

#sidebar-search .sidebar-toggle {
    background-image: -webkit-linear-gradient(top, #fff 1%, #f0f0f0 100%);
    background-image: linear-gradient(to bottom, #fff 1%, #f0f0f0 100%);
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #AAA;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    float: right;
    font-size: 17px;
    height: 28px;
    line-height: 25px;
    text-align: center;
    width: 32px;
}

ul.sidebar-nav li { margin: 0 }

ul.sidebar-nav li a { color: #777 }

ul.sidebar-nav li a:hover { background-color: transparent }

ul.sidebar-nav > li > a {
    background-image: -webkit-linear-gradient(top, #fff 1%, #f5f5f5 100%);
    background-image: linear-gradient(to bottom, #fff 1%, #f5f5f5 100%);
    background-repeat: repeat-x;
    border-bottom: 1px solid #c9c9c9;
    border-radius: 0;
    box-shadow: none;
    color: #777;
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    line-height: 45px;
    margin: 0;
    min-height: 45px;
    padding: 0;
    text-decoration: none;
}

ul.sidebar-nav li.active > a .glyphicons { color: #d9534f }

ul.sidebar-nav > li > a .glyphicons {
    border-right: 1px solid #DDD;
    float: left;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    margin-left: 4px;
    margin-right: 10px;
    padding-right: 4px;
    text-align: center;
    top: 0;
    width: 40px;
}

ul.sidebar-nav > li > a span.caret {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    position: absolute;
    right: 10px;
    top: 45%;
}

ul.sidebar-nav > li > a.collapsed span.caret {
    border-bottom: 5px solid;
    border-top: 0;
}

ul.sidebar-nav > li.active > a span.caret { color: #d9534f }

ul.sidebar-nav ul.sub-nav.menu-open { display: block }

ul.sidebar-nav ul.sub-nav {
    background-color: #fafafa;
    border-bottom: 1px solid #c9c9c9;
    display: none;
}

ul.sidebar-nav ul.sub-nav > li > a { padding: 12px 20px 12px 35px }

ul.sidebar-nav ul.sub-nav > li:last-child a { padding: 12px 35px 18px }

ul.sidebar-nav ul.sub-nav li span {
    float: left;
    margin-right: 12px;
    min-height: 15px;
    min-width: 15px;
}

ul.sidebar-nav ul.sub-nav > li > a:hover .glyphicons { color: #d9534f }

body.sidebar-collapsed #sidebar { width: 40px }

body.sidebar-collapsed #content { margin-left: 40px }

body.sidebar-collapsed #content:after {
    border-left: 1px solid #CCC;
    box-shadow: none;
}

body.sidebar-collapsed #sidebar-search form { display: none }

body.sidebar-collapsed #sidebar-search .sidebar-toggle {
    font-size: 17px;
    margin-right: -6px;
    width: 28px;
}

body.sidebar-collapsed ul.sidebar-nav .sidebar-title, body.sidebar-collapsed ul.sidebar-nav ul.sub-nav {
    border: 1px solid #ccc;
    display: none;
    left: 40px;
    position: absolute;
    width: 200px;
    z-index: 9999;
}

body.sidebar-collapsed ul.sidebar-nav > li > a > .glyphicon, body.sidebar-collapsed ul.sidebar-nav > li > a > .glyphicons {
    border-right: 0;
    margin-left: 2px;
}

body.sidebar-collapsed ul.sidebar-nav .sidebar-title {
    background: #CCC;
    border-color: #AAA;
    height: 46px;
    text-indent: 20px;
    top: -1px;
}

body.sidebar-collapsed ul.sidebar-nav span.caret { display: none }

body.sidebar-collapsed ul.sidebar-nav ul.sub-nav {
    border-top: 1px solid #AAA;
    height: auto !important;
    top: 44px;
}

body.sidebar-collapsed ul.sidebar-nav ul.sub-nav li a { padding: 13px 15px }

body.sidebar-collapsed ul.sidebar-nav ul.sub-nav li:last-child a { padding: 13px 15px 20px }

body.sidebar-collapsed ul.sidebar-nav ul.sub-nav.menu-open { display: none }

body.sidebar-collapsed ul.sidebar-nav li:hover .sidebar-title, body.sidebar-collapsed ul.sidebar-nav li:hover a, body.sidebar-collapsed ul.sidebar-nav li:hover ul.sub-nav { display: block !important }

#sidebar.sidebar-alt-white ul.sidebar-nav > li > a {
    background: #FFF;
    border-color: #ddd
}

#sidebar.sidebar-alt-white ul.sub-nav {
    background: #f8f8f8;
    border-color: #ddd
}

#sidebar.sidebar-alt-grey:before { background: #f2f2f2 }

#sidebar.sidebar-alt-grey ul.sidebar-nav > li > a {
    background: #f2f2f2;
    border-color: #ddd
}

#sidebar.sidebar-alt-grey ul.sub-nav {
    background: #f8f8f8;
    border-color: #ddd
}

#topbar {
    background: url(/Areas/Admin/Content/img/patterns/5.png) repeat top left;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #d2d2d2;
    height: 52px;
    max-height: 52px;
    overflow: hidden;
    padding-left: 20px;
    position: relative;
    width: 100%;
    z-index: 1023;
}

.breadcrumb {
    background-color: transparent;
    border-radius: 0;
    float: left;
    font-size: 14px;
    margin-bottom: 0;
    padding: 0;
    padding-top: 16px;
}

.breadcrumb .glyphicons {
    font-size: 13px;
    top: 0
}

.label {
    font-size: 84%;
    font-weight: 600;
    padding: .3em .7em .4em;
}

.label.label-rounded {
    border-radius: 1em;
    padding: .2em .85em .3em;
}

.label-sm {
    font-size: 75%;
    padding: .2em .6em .3em;
}

.label-lg {
    font-size: 95%;
    padding: .4em .9em .5em;
}

label.error {
    color: #d9534f;
    font-size: 12px;
    font-weight: 600
}

.badge {
    font-size: 12px;
    font-weight: 600;
    padding: 3px 7px;
}

.badge-sm {
    font-size: 11px;
    padding: 2px 6px;
}

.badge-lg { padding: 4px 8px }

.wf-loading .fa, .wf-loading .glyphicon, .wf-loading .glyphicons, .wf-loading .imoon { opacity: 0 !important }

.fa, .glyphicon, .glyphicons, .imoon {
    -moz-transition: opacity .3s ease-in;
    -webkit-transition: opacity .3s ease-in;
    opacity: 1;
    transition: opacity .3s ease-in;
}

.btn .glyphicon, .btn .glyphicons {
    font-size: 1.1em;
    line-height: 0;
    top: -1px;
    vertical-align: middle;
}

.glyphicon-2x, .glyphicons-2x { font-size: 2em }

.glyphicon-3x, .glyphicons-3x { font-size: 3em }

.glyphicon-4x, .glyphicons-4x { font-size: 4em }

.glyphicon-5x, .glyphicons-5x { font-size: 5em }

.imoon-2x { font-size: 2em }

.imoon-3x { font-size: 3em }

.imoon-4x { font-size: 4em }

.imoon-5x { font-size: 5em }

i.field-icon-right {
    position: absolute;
    right: 10px;
    top: 8px
}

.alert { font-size: 14px }

.alert-sm { padding: 8px 35px 8px 15px }

.alert-lg {
    font-size: 16px;
    padding: 25px 35px 25px 15px;
}

.alert-dismissable .close { color: #666 }

.btn {
    color: #FFF;
    line-height: 1.47;
    outline: 0;
}

.btn:focus { color: #FFF }

.btn-link, .btn-link:hover { color: #444 }

.btn-sm { line-height: 1.5 }

.btn-lg { line-height: 1.33 }

.btn-square { border-radius: 0 }

.btn-success.btn-gradient {
    background-color: #44ab00;
    border-color: #3f9d00;
}

.btn-info.btn-gradient {
    background-color: #14abd8;
    border-color: #269abc;
}

.btn-primary.btn-gradient { background-color: #08c }

.btn-warning.btn-gradient { background-color: #f28900 }

.btn-danger.btn-gradient { background-color: #d3332e }

.btn-default.btn-gradient { background-color: #f0f0f0 }

.btn-alert { background-color: #7857ca }

.btn-alert.btn-gradient { background-color: #5d3ab5 }

.btn-alert .caret { border-top-color: #FFF }

.btn:hover {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .13)1%, rgba(255, 255, 255, .13)100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .13)1%, rgba(255, 255, 255, .13)100%);
    color: #FFF;
}

.btn-gradient:hover {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .45)1%, rgba(255, 255, 255, .15)100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .45)1%, rgba(255, 255, 255, .15)100%)
}

.btn-gradient {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .3)1%, rgba(255, 255, 255, .15)100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .3)1%, rgba(255, 255, 255, .15)100%);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, .07) rgba(0, 0, 0, .1) rgba(0, 0, 0, .18);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
}

.progress {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15);
    background-color: #f1f1f1;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15);
    height: 18px;
}

.progress-bar { line-height: 18px }

.progress.progress-sm { height: 12px }

.progress.progress-sm .progress-bar { line-height: 12px }

.progress.progress-lg { height: 28px }

.progress.progress-lg .progress-bar { line-height: 28px }

.ui-rangeSlider .ui-rangeSlider-bar {
    background-color: #6390a7;
    height: 20px;
    margin: 5px 0;
}

.ui-rangeSlider .ui-rangeSlider-innerBar {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset, 0 -1px 0 rgba(255, 255, 255, .65) inset;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset, 0 -1px 0 rgba(255, 255, 255, .65) inset;
    height: 24px;
    margin: 3px 0;
}

.ui-rangeSlider-label {
    background: 0 0;
    background-image: none;
    border: 0;
    box-shadow: none;
}

.ui-rangeSlider-label-value {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    background: #fafafa;
    background-image: none;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    font-size: 12px;
    font-weight: 600;
    line-height: 25px;
    min-height: 25px;
    min-width: 40px;
    position: relative;
    text-align: center;
    top: -8px;
}

.ui-rangeSlider-label:after {
    bottom: 0;
    color: #f8f8f8;
    content: "\f0d7";
    font-family: FontAwesome;
    font-size: 18px;
    margin: 0 -6px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    width: 100%;
}

input.ui-editRangeSlider-inputValue {
    border: 1px solid #DDD;
    width: 2.2em
}

.ui-rangeSlider .ui-rangeSlider-handle { background: 0 0 }

.ui-rangeSlider .ui-rangeSlider-handle-inner {
    background: url(/Areas/Admin/Content/img/form/slider-knob.png) no-repeat center top;
    height: 24px;
    width: 22px;
}

.ui-rangeSlider-leftHandle .ui-rangeSlider-handle-inner { margin-left: -10px }

.ui-rangeSlider-rightHandle .ui-rangeSlider-handle-inner { margin-left: -4px }

.ui-rangeSlider-arrow { margin: 6px 0 }

.ui-rangeSlider-arrow.ui-rangeSlider-leftArrow { left: -13px !important }

.ui-rangeSlider-arrow.ui-rangeSlider-rightArrow { right: -13px !important }

.text-field-alt {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    background-image: -webkit-linear-gradient(top, #fff 1%, #f5f5f5 100%);
    background-image: linear-gradient(to bottom, #fff 1%, #f5f5f5 100%);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    min-height: 40px;
}

.input-group-addon { min-width: 40px }

.help-block {
    color: #888;
    margin-top: 7px;
}

div.checker, div.checker input, div.checker span { cursor: pointer }

div.checker, div.radio { margin-right: 3px }

.form-horizontal label .checker, .form-horizontal label .radio, label .checker, label .radio { padding-top: 0 }

.checkbox-inline, .radio-inline {
    padding-left: 5px;
    vertical-align: top
}

.ui-spinner-input {
    color: inherit;
    min-height: 36px
}

.ui-spinner-button {
    cursor: pointer;
    display: block;
    font-size: .5em;
    height: 50%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 16px;
}

.input-group .ui-spinner .form-control:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
}

.ui-spinner .ui-icon {
    left: 0;
    margin-top: -2px;
    position: absolute;
    text-indent: 0;
    top: 50%;
}

.ui-spinner-up .ui-icon { margin-top: -6px }

.ui-spinner-up { top: 0 }

.ui-spinner-down { bottom: 0 }

.ui-spinner .ui-icon-triangle-1-s { background-position: -65px -16px }

.table tbody > tr:first-child > td { border-top: 0 }

.table-striped > tbody > tr:nth-child(even) > td {
    background-color: #f8f8f8;
    border-bottom: 1px dashed #c9c9c9;
    padding: 13px 8px
}

.table-striped > tbody > tr:nth-child(odd) > td {
    background-color: #FFF;
    border-bottom: 1px dashed #c9c9c9;
    padding: 13px 8px
}

.pricing-tables .pricing-plan {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f6f6f6;
    border: 1px solid #CCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    margin: 30px -16px 20px -16px;
    padding: 0 0 20px;
}

.pricing-tables .pricing-title {
    border-bottom: 1px solid #DDD;
    padding: 25px 5px 20px;
}

.pricing-tables .pricing-title h3 {
    color: #555;
    font-size: 26px;
    font-weight: 200;
    margin-bottom: 0;
    text-transform: none;
}

.pricing-info { margin: 20px 0 }

.pricing-info .currency-sign {
    color: #333;
    display: inline-block;
    font-size: 26px;
    font-weight: 200;
    margin-left: -20px;
    padding-left: 5px;
    padding-top: 6px;
    vertical-align: top;
}

.pricing-info h2 {
    color: #444;
    display: inline-block;
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 0;
}

.pricing-info h6 {
    color: #888;
    font-weight: 200;
    margin: 4px 0 0
}

.pricing-features ul {
    border-top: 1px solid #DDD;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pricing-features li {
    background-color: #FFF;
    border-bottom: 1px solid #DDD;
    color: #999;
    margin: 0;
    padding: 10px 0;
}

.pricing-tables .pricing-features li b { font-weight: 600 }

.pricing-tables .pricing-features li i.fa {
    color: #777;
    font-size: 15px;
    padding-right: 8px
}

.pricing-tables .pricing-icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pricing-tables .pricing-icons li {
    background-color: #FFF;
    border-bottom: 1px solid #DDD;
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
}

.pricing-tables .pricing-icons li i.fa-times { color: #e74a4a }

.pricing-tables .pricing-icons li i.fa-ellipsis-h { color: #555 }

.pricing-tables a.btn {
    margin-top: 25px;
    padding: 8px 26px
}

.hero-plan { z-index: 10 }

.hero-plan .pricing-plan {
    -webkit-box-shadow: 0 0 20px rgba(100, 100, 100, .2);
    background-color: #f6f6f6;
    border-bottom: 1px solid #BBB;
    box-shadow: 0 0 20px rgba(100, 100, 100, .2);
    margin: 0 -17px 20px -17px;
    padding: 0 0 20px;
}

.hero-plan .pricing-plan .pricing-title {
    color: #FFF;
    margin: -1px -1px 0 -1px
}

.hero-plan .pricing-plan .pricing-title h3 {
    color: #FFF;
    font-weight: 600
}

.hero-plan .pricing-plan .pricing-subtitle {
    font-size: 12px;
    font-weight: 600;
    margin-top: 4px;
    text-transform: uppercase;
}

.hero-plan .pricing-plan a.btn { margin: 40px 0 20px }

.panel-heading.panel-visible, .panel.panel-visible { overflow: visible !important }

.panel {
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .33);
    border-color: #c9c9c9;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .33);
    margin-bottom: 35px;
    overflow: hidden;
    position: relative;
}

.panel-heading {
    background-image: -webkit-linear-gradient(top, #fff 1%, #f2f2f2 100%);
    background-image: linear-gradient(to bottom, #fff 1%, #f2f2f2 100%);
    background-repeat: repeat-x;
    border-bottom: 1px solid #c9c9c9;
    border-radius: 3px 3px 0 0;
    color: #666;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    font-size: 14px;
    font-weight: 700;
    height: 57px;
    line-height: 33px;
    overflow: hidden;
    padding: 10px 20px 9px;
    position: relative;
}

.panel-title {
    float: left;
    font-size: 14px;
    padding-top: 1px;
    text-shadow: 0 1px #fff
}

.panel-heading .panel-title i.fa {
    font-size: 17px;
    margin-top: -3px;
    padding-right: 8px;
    vertical-align: middle
}

.panel-heading .panel-field { max-width: 140px }

.panel-body-title {
    border-bottom: 1px solid #DDD;
    color: #666;
    line-height: 18px;
    margin-bottom: 20px;
    padding: 10px 0 15px;
}

.panel-title-sm {
    color: #888;
    font-size: 12px;
    font-weight: 700;
    padding-right: 5px;
    text-shadow: 0 1px #fff
}

.panel.panel-alt {
    background: #FFF;
    border-color: #DDD;
    box-shadow: none;
}

.panel.panel-alt > .panel-heading {
    background-color: #FFF;
    box-shadow: none;
    font-size: 14px;
    height: 45px;
    line-height: 43px;
    padding: 0 20px;
}

.panel.panel-alt .panel-body {
    background-color: #fcfcfc;
    line-height: 22px;
    padding: 20px 30px;
}

.panel-menu {
    background-color: #eee;
    border-bottom: 1px solid #C9c9c9;
    padding: 10px 13px;
}

.panel-heading + .panel-menu {
    -webkit-box-shadow: 0 5px 5px -4px rgba(0, 0, 0, .15) inset;
    box-shadow: 0 5px 5px -4px rgba(0, 0, 0, .15) inset
}

.panel-menu .btn-default.btn-gradient.active {
    background-color: #FFF;
    box-shadow: none;
    color: #39b1d5;
}

.panel-sidemenu + .panel-body {
    float: left;
    margin: 40px 3.5% 100px;
    padding: 0;
    position: relative;
    width: 70%;
}

.panel-sidemenu {
    background-color: #f6f6f6;
    border-right: 1px solid #CCC;
    float: left;
    height: 100%;
    margin-bottom: -2000px;
    padding: 5px;
    padding-bottom: 2000px;
    position: relative;
    width: 23%;
}

.panel-sidemenu ul.nav {
    margin-top: 30px;
    padding-left: 30px
}

.panel-sidemenu ul.nav li {
    list-style: none;
    margin-bottom: 4px;
}

.panel-sidemenu ul.nav li.nav-title {
    color: #777;
    font-weight: 700;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: 0 1px #FFF
}

.panel-sidemenu ul.nav li.nav-title:hover { color: #777 }

.panel-sidemenu ul.nav li a {
    color: #888;
    padding: 5px 0;
}

.panel-sidemenu ul.nav li a:hover { background: 0 0 }

.panel-sidemenu ul.nav li .fa {
    color: #BBB;
    font-size: 18px;
    width: 28px;
}

.panel-sidemenu ul.nav li:hover, .panel-sidemenu ul.nav li:hover .fa { Color: #5bc0de }

.panel-sidemenu ul.nav li.active, .panel-sidemenu ul.nav li.active .fa { color: #5bc0de }

.panel-sidemenu ul.nav .divider {
    background: #e2e2e2;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    width: 80%;
}

@media (max-width: 1000px) {
    .panel-sidemenu { display: none }

    .panel-sidemenu + .panel-body {
        margin: 40px 3.5% 100px;
        width: 93%;
    }
}

.search-widget { position: relative }

#search-widget {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .05) inset;
    background: #f4f7fa;
    border: 1px solid #d8dee6;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .05) inset;
    height: 85px;
    margin-bottom: 50px;
    padding: 20px 25px;
}

.search-bar-widget {
    float: left;
    min-height: 43px;
    padding: 9px 12px 9px 40px;
    width: 82%;
}

#search-widget .search-widget-icon {
    color: #999;
    font-size: 16px;
    left: 15px;
    position: absolute;
    top: 14px;
}

#search-widget button {
    float: left;
    font-weight: 600;
    margin-left: 2%;
    padding: 10px;
    width: 16%;
}

.tab-body { padding: 20px 20px 15px }

.tab-footer {
    background-color: #f5f5f5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #ddd;
    padding: 10px 15px;
}

.mini-action-icons i.fa {
    color: #777;
    cursor: pointer;
    font-size: 16px;
    padding-right: 10px;
    position: relative;
    top: 2px;
}

.panel-tabs {
    float: right;
    margin-top: -10px
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px
}

.panel-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 0;
    border-right: 1px solid #DDD;
    color: #777;
    font-size: 12px;
    line-height: 1.428571429;
    padding: 19px 15px 17px;
}

.panel-tabs > li > a:hover { background-color: transparent }

.panel-tabs > li:first-child > a { border-left: 1px solid #DDD }

.panel-tabs > li.active > a, .panel-tabs > li.active > a:focus, .panel-tabs > li.active > a:hover {
    background: #fff;
    color: #555;
    cursor: default;
    padding: 19px 15px 21px
}

.panel-tabs li i.fa { font-size: 14px }

.panel-tabs .imoon {
    font-size: 14px;
    vertical-align: middle
}

.tab-block { position: relative }

.tab-block .tab-content {
    background-color: #FFF;
    overflow: auto;
}

.tab-content {
    border: 1px solid #CCC;
    min-height: 170px;
    padding: 16px 12px;
    position: relative;
    z-index: 10;
}

.nav-tabs {
    position: relative;
    top: 1px
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px
}

.nav-tabs > li > a {
    background-image: -webkit-linear-gradient(top, #fff 1%, #f0f0f0 100%);
    background-image: linear-gradient(to bottom, #fff 1%, #f0f0f0 100%);
    background-repeat: repeat-x;
    border-color: #CFCFCF;
    border-radius: 0;
    color: #777;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    font-size: 12px;
    font-weight: 700;
    margin-right: -1px;
    padding: 12px 16px;
    position: relative;
    text-shadow: 0 1px #fff;
    z-index: 9;
}

.nav-tabs > li:first-child > a { margin-left: 0 }

.nav-tabs > li > a:hover {
    border-color: #CFCFCF;
    color: #428bca;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background: #FFF;
    border-bottom: 1px solid #FFF;
    border-color: #CFCFCF;
    color: #555;
    cursor: default;
    position: relative;
    z-index: 12;
}

.nav-tabs li i.fa { font-size: 14px }

.nav-tabs li i.fa.fa-caret-down { font-size: 12px }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    border-color: #CFCFCF;
    color: #428bca;
}

.tabs-border .nav-tabs > li.active > a, .tabs-border.nav-tabs > li.active > a {
    border-top: 2px solid #428bca;
    margin-top: -1px;
}

.tabs-bg.nav {
    background: #f5f5f5;
    border: 1px solid #CCC;
    padding: 10px 10px 0
}

.tabs-below {
    position: relative;
    top: -1px
}

.tabs-below > li {
    float: left;
    margin-top: -1px
}

.tabs-below > li > a {
    background-image: -webkit-linear-gradient(top, #fff 1%, #f0f0f0 100%);
    background-image: linear-gradient(to bottom, #fff 1%, #f0f0f0 100%);
    background-repeat: repeat-x;
    border: 1px solid #CFCFCF;
    color: #777;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    font-size: 12px;
    font-weight: 700;
    margin-right: -1px;
    padding: 12px 16px;
    position: relative;
    text-shadow: 0 1px #fff;
    z-index: 9;
}

.tabs-below > li.active > a, .tabs-below > li.active > a:focus, .tabs-below > li.active > a:hover {
    background: #FFF;
    border-color: #CFCFCF;
    border-top: 1px solid #FFF;
    color: #555;
    cursor: default;
    position: relative;
    z-index: 12;
}

.tabs-border .tabs-below > li.active > a, .tabs-border.tabs-below > li.active > a {
    border-bottom: 2px solid #428bca;
    margin-bottom: -1px;
}

.tabs-bg.tabs-below {
    background: #f5f5f5;
    border: 1px solid #CCC;
    padding: 0 10px 10px
}

.tabs-left { float: left }

.tabs-left > li {
    float: none;
    margin: 0 -1px -1px 0
}

.tabs-left > li > a {
    background: #f8f8f8;
    background-image: -webkit-linear-gradient(top, #fff 1%, #f0f0f0 100%);
    background-image: linear-gradient(to bottom, #fff 1%, #f0f0f0 100%);
    background-repeat: repeat-x;
    border: 1px solid transparent;
    border-color: #CFCFCF;
    color: #777;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    font-size: 12px;
    font-weight: 700;
    padding: 12px 16px;
    text-shadow: 0 1px #fff;
}

.tabs-left > li.active > a, .tabs-left > li.active > a:focus, .tabs-left > li.active > a:hover {
    background: #FFF;
    border-color: #CCC #FFF #CCC #CCC;
    color: #555;
    cursor: default;
    position: relative;
    z-index: 12;
}

.tabs-border .tabs-left > li.active > a, .tabs-border.tabs-left > li.active > a {
    border-left: 2px solid #428bca;
    margin-left: -1px;
}

.well-tabs { position: relative }

.well-tabs li {
    float: left;
    margin: 4px 6px
}

.well-tabs li:first-child { margin-left: 0 }

.well-tabs li a {
    background: #f0f0f0;
    border: 1px solid #DDD;
    border-radius: 4px;
    color: #888;
    font-size: 11px;
    font-weight: 600;
    line-height: 15px;
    padding: 6px 8px;
}

.well-tabs li a:hover, .well-tabs li.active a { background-color: #FFF }

.well-tabs-inverse li a {
    background: 0 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #888;
    font-size: 11px;
    font-weight: 600;
    line-height: 15px;
    padding: 6px 8px;
}

.well-tabs-inverse li a:hover, .well-tabs-inverse li.active a {
    background-color: #f0f0f0;
    border: 1px solid #ddd
}

.accordion.panel-group .panel {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.accordion.panel-group .panel + .panel { margin-top: 10px }

.accordion .panel-heading a {
    display: block;
    text-decoration: none;
}

.accordion .accordion-toggle-icon i.fa {
    float: left;
    font-size: 18px;
    line-height: 36px;
    min-width: 31px;
    padding-right: 5px;
}

.accordion .accordion-toggle-icon i:first-child { display: block }

.accordion .accordion-toggle-icon i:last-child, .accordion .collapsed .accordion-toggle-icon i:first-child { display: none }

.accordion .collapsed .accordion-toggle-icon i:last-child { display: block }

.accordion.accordion-sm .panel-heading {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}

.accordion.accordion-sm .accordion-toggle-icon i:first-child, .accordion.accordion-sm .accordion-toggle-icon i:last-child { line-height: 40px }

.accordion.accordion-alt.panel-group .panel {
    border-color: #DDD;
    box-shadow: none
}

.accordion.accordion-alt.panel-group .panel > .panel-heading {
    background-color: #FFF;
    box-shadow: none;
    font-size: 14px;
    height: 45px;
    line-height: 43px;
    padding: 0 20px;
}

.accordion.accordion-alt.panel-group .panel > .panel-heading > a {
    color: #444;
    font-weight: 400
}

.accordion.accordion-alt.panel-group .panel > .panel-heading > a.collapsed { color: #888 }

.accordion.accordion-alt.panel-group .panel > .panel-heading > a.collapsed:hover { color: #444 }

.accordion.accordion-alt .accordion-toggle-icon i:first-child, .accordion.accordion-alt .accordion-toggle-icon i:last-child {
    color: #BBB;
    font-size: 15px;
    line-height: 45px;
    min-width: 26px
}

.accordion.accordion-alt.panel-group .panel .panel-body {
    background-color: #fcfcfc;
    line-height: 22px;
    padding: 20px 30px;
}

.popover { z-index: 1100 }

.pager {
    cursor: pointer;
    margin: 5px 0;
}

.pager li > a, .pager li > span { font-size: 14px }

.pager.pager-sm li > a, .pager.pager-sm li > span { font-size: 12px }

.pager.pager-lg li > a, .pager.pager-lg li > span { font-size: 16px }

.pagination {
    cursor: pointer;
    margin: 5px 0;
}

.pagination-rounded > li:first-child > a { border-radius: 50% 0 0 50% }

.pagination-rounded > li:last-child > a { border-radius: 0 50% 50% 0 }

.pagination-alt > li > a {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    background-image: -webkit-linear-gradient(top, #fff 1%, #f1f1f1 100%);
    background-image: linear-gradient(to bottom, #fff 1%, #f1f1f1 100%);
    background-repeat: repeat-x;
    border-color: #ccc;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    color: #666;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    font-weight: 600;
    margin: 0 4px;
    padding: 4px 11px;
    text-shadow: 0 1px #FFF;
}

.pagination-alt > li.active > a {
    background-color: #555;
    background-image: none;
    border-color: #444
}

.pagination-alt.pagination-sm > li > a {
    font-weight: 700;
    margin: 0 3px;
    padding: 4px 9px
}

.pagination-alt.pagination-lg > li > a {
    margin: 0 5px;
    padding: 4px 13px
}

.pagination-alt.pagination-lg > li:first-child > a, .pagination-alt.pagination-sm > li:first-child > a { margin-left: 0 }

.modal-dialog-sm { width: auto }

@media screen and (min-width: 768px) {
    .modal-dialog { padding-top: 50px }

    .modal-dialog-sm { width: 425px }
}

.modal-header {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .15), 0 -1px 1px rgba(0, 0, 0, .05);
    background-image: -webkit-linear-gradient(top, #fff 1%, #f2f2f2 100%);
    background-image: linear-gradient(to bottom, #fff 1%, #f2f2f2 100%);
    background-repeat: repeat-x;
    border-bottom: 1px solid #c9c9c9;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15), 0 -1px 1px rgba(0, 0, 0, .05);
    color: #666;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    font-size: 14px;
    font-weight: 700;
    height: 52px;
    line-height: 31px;
    padding: 10px 20px 9px;
    position: relative;
    text-shadow: 0 1px #fff;
}

.modal-header .modal-title { line-height: 31px }

.modal-header .close { margin-top: 6px }

.modal-footer {
    background-color: #f5f5f5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #ddd;
    padding: 10px 15px;
}

#formModal .modal-content {
    margin: 0 auto;
    position: relative;
    width: 400px;
}

#formModal .modal-header .modal-title { line-height: 35px }

#formModal .modal-header button { margin-top: 6px }

#formModal .modal-footer button { margin-top: 0 }

#formModal .modal-body { padding: 15px 20px 0 }

#formModal #login-avatar {
    border-bottom: 1px dashed #DDD;
    margin: 15px 20px 25px;
    padding-bottom: 25px;
}

#formModal #login-avatar img {
    border: 2px solid #DDD;
    display: block;
    margin: 0 auto;
    padding: 5px;
}

#formModal .login-alert {
    font-size: 13px;
    padding: 9px 13px
}

. td { cursor: pointer }

.table-widget .tab-content {
    border: 0;
    overflow: hidden;
    padding: 0;
}

.table-widget .progress {
    height: 13px;
    margin: 0;
    width: 80%;
}

.table-widget .badge, .table-widget .label { margin-right: 7px }

. tr.task-checked { color: #BBB }

. tr.task-checked .text-slash { text-decoration: line-through }

. tr.task-checked .label, . tr.task-checked .progress { opacity: .3 }

.chat-panel .media-img img {
    border: 1px solid #CCC;
    margin-right: 8px;
    max-width: 70px;
}

.chat-panel .media-heading {
    color: #777;
    font-weight: 600
}

.chat-panel .media-timestamp {
    color: #999;
    font-size: 11px;
    font-weight: 400;
    line-height: 10px
}

.chat-panel .media-content {
    background-image: -webkit-linear-gradient(top, #fff 1%, #f5f5f5 100%);
    background-image: linear-gradient(to bottom, #fff 1%, #f5f5f5 100%);
    background-repeat: repeat-x;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    color: #777;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    line-height: 25px;
    padding: 10px 15px;
}

.media, .media .media { margin-top: 20px }

.message-widget .table tbody > tr > td {
    border-top: 1px dashed #c9c9c9;
    padding: 10px 8px;
    vertical-align: middle
}

.message-widget .table tbody > tr:first-child > td { border-top: 0 }

.message-widget .avatar { width: 15% }

.message-widget .avatar img {
    max-width: 50px;
    min-width: 50px;
}

#calendar { position: relative }

.external-event {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2);
    background-color: #368d0d;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .3)1%, rgba(255, 255, 255, .15)100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .3)1%, rgba(255, 255, 255, .15)100%);
    background-repeat: repeat-x;
    border: 1px solid #CCC;
    border-color: rgba(0, 0, 0, .07) rgba(0, 0, 0, .1) rgba(0, 0, 0, .18);
    border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2);
    color: #FFF;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    margin: 10px 0;
    padding: 7px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
}

.fc-header .fc-button {
    background-color: #f7f7f7;
    background-image: -webkit-linear-gradient(top, #fff 1%, #f1f1f1 100%);
    background-image: linear-gradient(to bottom, #fff 1%, #f1f1f1 100%);
    background-repeat: repeat-x;
    border: 1px solid #CCC;
    color: #666;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    font-size: 12px;
    font-weight: 700;
    height: 35px;
    padding: 5px 10px;
    text-align: center;
    text-shadow: 0 1px #fff;
}

.fc-header-left {
    position: absolute;
    right: 167px;
    top: -61px;
    width: auto
}

.fc-header-right {
    position: absolute;
    right: 0;
    top: -61px;
    width: auto
}

.fc-button.fc-state-active, .fc-button.fc-state-down {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .05);
    background-color: #EEE;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .05)
}

.fc-event {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2);
    background-color: #368d0d;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .3)1%, rgba(255, 255, 255, .15)100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .3)1%, rgba(255, 255, 255, .15)100%);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, .07) rgba(0, 0, 0, .1) rgba(0, 0, 0, .18);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    margin: 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
}

.fc-header-left .fc-button, .fc-header-right .fc-button { margin-left: 0 }

.fc-header-title { margin: 10px 0 20px }

.fc-grid .fc-day-header {
    border: 0;
    border-bottom: 1px solid #DDD
}

.fc-grid .fc-day-number {
    font-size: 14px;
    font-weight: 600
}

.fc-state-highlight { background-color: #f8f8f8 }

.fc-event-inner { padding: 7px }

.timeline-widget {
    list-style: none;
    margin: 4px 0 0;
    padding: 0;
    position: relative;
}

.timeline-icon {
    -webkit-box-shadow: 1px 0 1px #AAA inset, -1px 0 1px #fff inset;
    background: #DDD;
    border-radius: 50%;
    box-shadow: 1px 0 1px #AAA inset, -1px 0 1px #fff inset;
    float: left;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    padding-right: 1px;
    padding-top: 1px;
    position: relative;
    text-align: center;
    width: 45px;
    z-index: 11;
}

.timeline-widget span.glyphicons {
    -webkit-box-shadow: 1px 1px 2px #AAA;
    background-color: #FFF;
    background-image: -webkit-linear-gradient(top, #FFF 1%, #F1F1F1 100%);
    background-image: linear-gradient(to bottom, #FFF 1%, #F1F1F1 100%);
    background-repeat: repeat-x;
    border-radius: 50%;
    box-shadow: 1px 1px 2px #AAA;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00f1f1f1', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    font-size: 18px;
    padding: 6px;
    position: relative;
    top: 2px;
    width: auto;
    z-index: 11;
}

.timeline-widget .media {
    font-size: 14px;
    margin: 0;
    min-height: 60px;
    padding-bottom: 15px;
    position: relative;
}

.timeline-widget .media:after {
    -webkit-box-shadow: 1px 0 1px #AAA inset, -1px 0 1px #f5f5f5 inset;
    background: #DDD;
    box-shadow: 1px 0 1px #AAA inset, -1px 0 1px #f5f5f5 inset;
    content: "";
    height: 100%;
    left: 20px;
    position: absolute;
    top: 0;
    width: 8px;
    z-index: 10;
}

.timeline-widget .media:last-child:after {
    content: "";
    display: none;
}

.timeline-widget .date {
    color: #888;
    font-size: 12px;
    padding-left: 5px;
}

.timeline-widget .media-body { padding-top: 10px }

.badge-default { background-color: #999 }

.badge-primary { background-color: #428bca }

.badge-success { background-color: #5cb85c }

.badge-info { background-color: #5bc0de }

.badge-warning { background-color: #f0ad4e }

.badge-danger { background-color: #d9534f }

.badge-alert { background-color: #7857ca }

.badge-inverse, .label-inverse { background-color: #444 }

.badge-grey { background-color: #666 }

.badge-dark { background-color: #363a3e }

.badge-blue { background-color: #6395cf }

.badge-teal { background-color: #4fbdc8 }

.badge-green { background-color: #7ec35d }

.badge-purple { background-color: #7857ca }

.badge-maroon { background-color: #b94fb5 }

.badge-pink { background-color: #ef679d }

.badge-ruby { background-color: #e33459 }

.badge-red { background-color: #ee4e3c }

.badge-orange { background-color: #ff802c }

.badge-yellow { background-color: #efcf1d }

.progress-bar-alert { background-color: #7857ca }

.progress-bar-grey { background-color: #666 }

.progress-bar-dark { background-color: #363a3e }

.progress-bar-blue { background-color: #6395cf }

.progress-bar-teal { background-color: #4fbdc8 }

.progress-bar-green { background-color: #7ec35d }

.progress-bar-purple { background-color: #7857ca }

.progress-bar-maroon { background-color: #b94fb5 }

.progress-bar-pink { background-color: #ef679d }

.progress-bar-ruby { background-color: #e33459 }

.progress-bar-red { background-color: #ee4e3c }

.progress-bar-orange { background-color: #ff802c }

.progress-bar-yellow { background-color: #efcf1d }

.ui-rangeSlider.slider-light .ui-rangeSlider-bar { background-color: #e2e2e2 }

.ui-rangeSlider.slider-grey .ui-rangeSlider-bar { background-color: #666 }

.ui-rangeSlider.slider-dark .ui-rangeSlider-bar { background-color: #363a3e }

.ui-rangeSlider.slider-blue .ui-rangeSlider-bar { background-color: #6395cf }

.ui-rangeSlider.slider-teal .ui-rangeSlider-bar { background-color: #4fbdc8 }

.ui-rangeSlider.slider-green .ui-rangeSlider-bar { background-color: #7ec35d }

.ui-rangeSlider.slider-purple .ui-rangeSlider-bar { background-color: #7857ca }

.ui-rangeSlider.slider-maroon .ui-rangeSlider-bar { background-color: #b94fb5 }

.ui-rangeSlider.slider-pink .ui-rangeSlider-bar { background-color: #ef679d }

.ui-rangeSlider.slider-ruby .ui-rangeSlider-bar { background-color: #e33459 }

.ui-rangeSlider.slider-red .ui-rangeSlider-bar { background-color: #ee4e3c }

.ui-rangeSlider.slider-orange .ui-rangeSlider-bar { background-color: #ff802c }

.ui-rangeSlider.slider-yellow .ui-rangeSlider-bar { background-color: #efcf1d }

.text-blue { color: #35b5d7 }

.text-blue2 { color: #3093c7 }

.text-blue3 { color: #4f96b4 }

.text-blue4 { color: #287bab }

.text-blue5 { color: #1c5b86 }

.text-blue6 { color: #205066 }

.text-blue7 { color: #21334b }

.text-green { color: #6db54b }

.text-green2 { color: #71aa61 }

.text-green3 { color: #417447 }

.text-green4 { color: #47741A }

.text-green5 { color: #1C4905 }

.text-red { color: #e4151d }

.text-red2 { color: #d10011 }

.text-red3 { color: #bf0d14 }

.text-red4 { color: #930b1f }

.text-purple { color: #BB7EA6 }

.text-purple2 { color: #7a5067 }

.text-purple3 { color: #89264f }

.text-purple4 { color: #462b4c }

.text-orange { color: #E94216 }

.text-orange2 { color: #f56333 }

.text-orange3 { color: #fb7e2a }

.text-orange4 { color: #ff802c }

.text-yellow { color: #f0c92f }

.text-yellow2 { color: #E1BC4A }

.text-creme { color: #feda83 }

.text-creme2 { color: #fae3b4 }

.text-creme3 { color: #d3c27b }

.text-brown { color: #b29579 }

.text-brown2 { color: #7b5d3a }

.text-brown3 { color: #563330 }

.text-dark5 { color: #1e1c1f }

.text-dark4 { color: #323232 }

.text-dark3 { color: #494949 }

.text-dark2 { color: #666 }

.text-dark { color: #777 }

.text-light7 { color: #aaa }

.text-light6 { color: #bbb }

.text-light5 { color: #ccc }

.text-light4 { color: #ddd }

.text-light3 { color: #e5e5e5 }

.text-light2 { color: #f0f0f0 }

.text-light { color: #fff }

.text-alert { color: #7857ca }

.btn-blue { background-color: #35b5d7 }

.btn-blue2 { background-color: #3093c7 }

.btn-blue3 { background-color: #4f96b4 }

.btn-blue4 { background-color: #287bab }

.btn-blue5 { background-color: #1c5b86 }

.btn-blue6 { background-color: #205066 }

.btn-blue7 { background-color: #21334b }

.btn-green { background-color: #6db54b }

.btn-green2 { background-color: #71aa61 }

.btn-green3 { background-color: #417447 }

.btn-green4 { background-color: #47741A }

.btn-green5 { background-color: #1C4905 }

.btn-red { background-color: #e4151d }

.btn-red2 { background-color: #d10011 }

.btn-red3 { background-color: #bf0d14 }

.btn-red4 { background-color: #930b1f }

.btn-purple { background-color: #BB7EA6 }

.btn-purple2 { background-color: #7a5067 }

.btn-purple3 { background-color: #89264f }

.btn-purple4 { background-color: #462b4c }

.btn-orange { background-color: #E94216 }

.btn-orange2 { background-color: #f56333 }

.btn-orange3 { background-color: #fb7e2a }

.btn-yellow { background-color: #f0c92f }

.btn-yellow2 { background-color: #E1BC4A }

.btn-brown { background-color: #b29579 }

.btn-brown2 { background-color: #7b5d3a }

.btn-brown3 { background-color: #563330 }

.btn-creme { background-color: #feda83 }

.btn-creme2 { background-color: #fae3b4 }

.btn-creme3 { background-color: #d3c27b }

.btn-dark5 { background-color: #1e1c1f }

.btn-dark4 { background-color: #323232 }

.btn-dark3 { background-color: #494949 }

.btn-dark2 { background-color: #666 }

.btn-dark { background-color: #777 }

.btn-light7 { background-color: #aaa }

.btn-light6 { background-color: #bbb }

.btn-light5 { background-color: #ccc }

.btn-light4 { background-color: #ddd }

.btn-light3 { background-color: #e5e5e5 }

.btn-light2 { background-color: #f0f0f0 }

.btn-light { background-color: #fff }

.btn-blue.btn-gradient { background-color: #008aaf }

.btn-blue2.btn-gradient { background-color: #0070ab }

.btn-blue3.btn-gradient { background-color: #066b95 }

.btn-blue4.btn-gradient { background-color: #005789 }

.btn-blue5.btn-gradient { background-color: #00416d }

.btn-blue6.btn-gradient { background-color: #043a53 }

.btn-blue7.btn-gradient { background-color: #09203f }

.btn-green.btn-gradient { background-color: #368d0d }

.btn-green2.btn-gradient { background-color: #33881b }

.btn-green3.btn-gradient { background-color: #00520a }

.btn-green4.btn-gradient { background-color: #274d00 }

.btn-green5.btn-gradient { background-color: #0d2f00 }

.btn-red.btn-gradient { background-color: #eb050e }

.btn-red2.btn-gradient { background-color: #d10011 }

.btn-red3.btn-gradient { background-color: #a6050b }

.btn-red4.btn-gradient { background-color: #930b1f }

.btn-purple.btn-gradient { background-color: #9c457e }

.btn-purple2.btn-gradient { background-color: #6a254b }

.btn-purple3.btn-gradient { background-color: #71002f }

.btn-purple4.btn-gradient { background-color: #36143e }

.btn-orange.btn-gradient { background-color: #f93e0d }

.btn-orange2.btn-gradient { background-color: #fe561f }

.btn-orange3.btn-gradient { background-color: #ff7214 }

.btn-yellow.btn-gradient { background-color: #fac908 }

.btn-yellow2.btn-gradient { background-color: #e9bb2d }

.btn-brown.btn-gradient { background-color: #99714b }

.btn-brown2.btn-gradient { background-color: #6c4517 }

.btn-brown3.btn-gradient { background-color: #4f1a16 }

.btn-creme.btn-gradient { background-color: #ffd266 }

.btn-creme2.btn-gradient { background-color: #fedd9a }

.btn-creme3.btn-gradient { background-color: #bca339 }

.btn-dark5.btn-gradient { background-color: #151416 }

.btn-dark4.btn-gradient { background-color: #2c2c2c }

.btn-dark3.btn-gradient { background-color: #333 }

.btn-dark2.btn-gradient { background-color: #444 }

.btn-dark.btn-gradient { background-color: #555 }

.btn-creme { border-color: #f5c348 }

.btn-creme2 { border-color: #f7ca5c }

.btn-light6 { border-color: #e5e5e5 }

.btn-light7 { border-color: #eee }

.btn-default, .btn-default:focus, .btn-light, .btn-light2, .btn-light2:focus, .btn-light3, .btn-light3:focus, .btn-light4, .btn-light4:focus, .btn-light5, .btn-light5:focus, .btn-light6, .btn-light6:focus, .btn-light7, .btn-light7:focus, .btn-light:focus { color: #555 }

.btn-default.btn-gradient, .btn-light.btn-gradient, .btn-light2.btn-gradient, .btn-light3.btn-gradient, .btn-light4.btn-gradient, .btn-light5.btn-gradient, .btn-light6.btn-gradient, .btn-light7.btn-gradient {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .9)50%, rgba(255, 255, 255, .1)100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .9)10%, rgba(255, 255, 255, .1)100%);
    border-color: #ccc rgba(0, 0, 0, .19) rgba(0, 0, 0, .18);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    text-shadow: 0 1px #fff;
}

.btn-creme2:focus, .btn-creme:focus, .btn-yellow2:focus, .btn-yellow:focus { color: #ca8f00 }

.btn-creme, .btn-creme2, .btn-yellow, .btn-yellow2 {
    color: #ca8f00;
    font-weight: 600;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, .55)
}

.btn-creme2:hover, .btn-creme3:hover, .btn-creme:hover, .btn-default:hover, .btn-light2:hover, .btn-light3:hover, .btn-light4:hover, .btn-light5:hover, .btn-light6:hover, .btn-light7:hover, .btn-light:hover, .btn-yellow2:hover, .btn-yellow:hover { color: #555 }

body.boxed-example #timeline-widget, body.boxed-example .console-btn-5 { display: none !important }

body.boxed-example .container .col-md-10, body.boxed-example .container .col-md-11, body.boxed-example .container .col-md-2, body.boxed-example .container .col-md-3, body.boxed-example .container .col-md-4, body.boxed-example .container .col-md-5, body.boxed-example .container .col-md-6, body.boxed-example .container .col-md-7, body.boxed-example .container .col-md-8, body.boxed-example .container .col-md-9 {
    float: none;
    width: 100%
}

body.boxed-layout #console-btns #console-search-btn { display: none !important }

@media (min-width: 1368px) {
    body.boxed-layout #console-btns .row > div {
        float: left;
        width: 25%;
    }
}

body.hidden-breadcrumbs #topbar, body.hidden-searchbar #sidebar-search { display: none }

#sidebar.affix, #topbar.affix { position: fixed }

header.navbar-fixed-top + #main { padding-top: 50px }

#topbar.affix + .container { padding-top: 87px }

body.hidden-breadcrumbs.fixed-breadcrumbs #content > .container { padding-top: 35px }

body.boxed-layout { background: #f9f9f9 }

body.boxed-layout #main {
    background: #e8e8e8;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    margin: 0 auto;
    width: 1150px !important;
}

body.boxed-layout #content:after { display: none }

body.boxed-layout #content { border-left: 1px solid #CCC }

body.boxed-layout .navbar {
    border: 1px solid #CCC;
    box-shadow: none;
    margin: 0 auto !important;
    width: 1150px !important;
}

body.boxed-layout #sidebar-search { box-shadow: none }

body.boxed-layout #topbar { border-left: 0 }

body.boxed-layout #sidebar:before { display: none }

body.boxed-layout #sidebar:after {
    background: #fff;
    bottom: 0;
    content: "";
    display: block;
    position: fixed;
    top: 0;
    width: 240px;
    z-index: -2;
}

body.boxed-layout.sidebar-collapsed #sidebar:after, body.sidebar-collapsed #sidebar:before { width: 40px }

@media (max-width: 1450px) {
    body.boxed-layout #sidebar:after { width: 210px }
}

@media (max-width: 1200px) {
    body.boxed-layout #sidebar:after { width: 40px }
}