﻿.tree {
    :
    .
    background-color: lighten(@grayLighter, 5%);
    @baseBorderRadius
    )
    ;
    :
    .
    border: 1px solid @grayLight;
    border-radius(
    1px
    1px
    box-shadow(
    0
    ,
    0
    ,
    0
    ,
    .05
    )
    )
    ;
    inset 0
    margin-bottom: 10px;
    max-height: 300px;
    min-height: 20px;
    overflow-y: auto;
    rgba(


a {
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%
}

li {
    list-style-type: none;
    margin: 0;
    padding: 4px 0 0 2px;


&::before, &::after {
    content: '';
    left: -20px;
    position: absolute;
    right: auto
}

&::before {
    border-left: 1px solid @grayLight;
    bottom: 50px;
    height: 100%;
    top: 0;
    transition(;
    :
    .
    width: 1px;
    "border-color 0.1s ease 0.1s"
    )
}

&::after {
    border-top: 1px solid @grayLight;
    height: 20px;
    top: 13px;
    transition(;
    :
    .
    width: 23px;
    "border-color 0.1s ease 0.1s"
    )
}

span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid @grayLight;
    border-radius: 5px;
    display: inline-block;
    line-height: 14px;
    padding: 2px 4px;
    text-decoration: none;
    :
    .
    transition(
    ~
    "color 0.2s ease 0.1s, background-color 0.2s ease 0.1s, border-color 0.3s ease 0.2s"
    )
}

&.parent_li > span {
    cursor: pointer;


&:hover {
    background-color: darken(@orange, 5%);
    border: 1px solid darken(@orange, 10%);
    color: #fff
}

&:hover + ul li {


&::after { border-top-color: @orange }

&::before { border-left-color: @orange }

&:hover + ul li span {
    background: lighten(@orange, 35%);
    border: 1px solid lighten(@orange, 10%);
    color: #000
}

&:last-child::before { height: 30px }

 > ul > li::after,  > ul > li::before { border: 0 }