﻿@model Common.Models.Home.Login.UsernameModel

<div id="loginContainer" class="container">


    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Gebruikersnaam opvragen</li>
    </ul>



    <div class="nextBlock" id="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Gebruikersnaam opvragen</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                    <div class="col-md-3">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>

                            <input type="submit" value="Gebruikersnaam opvragen!" class="btn btn-primary" />
                        }
                    </div>
                </div>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>