﻿@{
    Layout = null;
}

@model IEnumerable<Common.EmailTemplate>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Alle email templates</div>
                </div>
                <div class="panel-body">
                    <div class="pull-right">
                        @Html.TextBox("datatableText", null, new { @class = "form-control", @placeholder="Zoeken.." })     
                    </div>
                   
                    <table id="datatable" class="table table-striped" data-filter="#datatableText" data-filter-minimum="1">
                        <thead>
                            <tr>
                                <th>Soort</th>
                                <th data-hide="phone">Onderwerp</th>
                                <th data-hide="phone, tablet">Wijzigen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var template in Model)
                            {
                                <tr>
                                    <td>@template.Soort</td>
                                    <td>@template.Onderwerp</td>
                                    <td>@Html.ActionLink("Wijzigen", "Wijzig", new {@id = template.ID}, new {@class = "btn btn-xs btn-warning btn-gradient"})</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>