.hide-text {
    background-color: transparent;
    border: 0;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}

.input-block-level {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    min-height: 30px;
    width: 100%;
}

.btn-file {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

.btn-file > input {
    cursor: pointer;
    direction: ltr;
    filter: alpha(opacity=0);
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0) scale(4);
}

.fileupload { margin-bottom: 9px; }

.fileupload .uneditable-input {
    cursor: text;
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
}

.fileupload .thumbnail {
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.fileupload .thumbnail > img {
    display: inline-block;
    max-height: 100%;
    vertical-align: middle;
}

.fileupload .btn { vertical-align: middle; }

.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists { display: none; }

.fileupload-inline .fileupload-controls { display: inline; }

.fileupload-new .input-group .btn-file {
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.thumbnail-borderless .thumbnail {
    -moz-border-radius: 0;
    -moz-box-shadow: none;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}

.fileupload-new.thumbnail-borderless .thumbnail { border: 1px solid #ddd; }

.control-group.warning .fileupload .uneditable-input {
    border-color: #a47e3c;
    color: #a47e3c;
}

.control-group.warning .fileupload .fileupload-preview { color: #a47e3c; }

.control-group.warning .fileupload .thumbnail { border-color: #a47e3c; }

.control-group.error .fileupload .uneditable-input {
    border-color: #b94a48;
    color: #b94a48;
}

.control-group.error .fileupload .fileupload-preview { color: #b94a48; }

.control-group.error .fileupload .thumbnail { border-color: #b94a48; }

.control-group.success .fileupload .uneditable-input {
    border-color: #468847;
    color: #468847;
}

.control-group.success .fileupload .fileupload-preview { color: #468847; }

.control-group.success .fileupload .thumbnail { border-color: #468847; }