﻿@{
    Layout = null;
}

@model IEnumerable<Common.SEOPage>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Alle pagina's</div>
                </div>
                <div class="panel-body">
                      <div class="pull-right">
                        @Html.TextBox("datatableText", null, new { @class = "form-control", @placeholder="Zoeken.." })     
                    </div>
                   
                    <table id="datatable" class="table table-striped" data-filter="#datatableText" data-filter-minimum="1">
                        <thead>
                            <tr>
                                <th>Controller</th>
                                <th>Action</th>
                                <th>Titel</th>
                                <th>Descriptie</th>
                                <th>Keywords</th>
                                <th>Wijzig</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var pagina in Model)
                            {
                                <tr>
                                    <td>@pagina.Controller</td>
                                    <td>@pagina.Action</td>
                                    <td>@pagina.Titel</td>
                                    <td>@pagina.SEODescription</td>
                                    <td>@pagina.SEOKeywords</td>
                                    <td>@Html.ActionLink("Wijzigen", "SeoPageWijzig", new {@id = pagina.Id}, new {@class = "btn btn-xs btn-warning btn-gradient"})</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>