﻿@{
    Layout = null;
}

@model IEnumerable<Common.Models.Admin.ViewModel.PaginaModel>


<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Alle pagina's</div>
                </div>
                <div class="panel-body">
                     <div class="pull-right">
                        @Html.TextBox("datatableText", null, new { @class = "form-control", @placeholder="Zoeken.." })     
                    </div>
                   
                    <table id="datatable" class="table table-striped" data-filter="#datatableText" data-filter-minimum="1">
                        <thead>
                            <tr>
                                <th>Titel</th>
                                <th>Auteur</th>
                                <th data-hide="phone">Datum</th>
                                <th data-hide="phone">Status</th>
                                <th data-hide="phone, tablet">Wijzigen</th>
                                <th data-hide="phone, tablet">Verwijderen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var pagina in Model)
                            {
                                <tr>
                                    <td>@pagina.Titel</td>
                                    <td>@pagina.AuteurNaam</td>
                                    <td>@string.Format("{0:dd-MM-yyyy}", pagina.Datum)</td>
                                    <td>
                                        @{
                                            @Html.Raw(pagina.Status ? "<span class='label label-success'>Ingeschakeld</span>" : "<span class='label label-danger'>Uitgeschakeld</span>")
                                        }
                                    </td>
                                    <td>@Html.ActionLink("Wijzigen", "Wijzig", new {@id = pagina.PaginaId}, new {@class = "btn btn-xs btn-warning btn-gradient"})</td>
                                    <td>@Html.ActionLink("Verwijder", "Verwijder", new {@id = pagina.PaginaId}, new {@class = "btn btn-xs btn-danger btn-gradient"})</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>