﻿@model Common.Models.Admin.ViewModel.ActionLogModel

<div class="messages-menu" id="actionLog">
    <button type="button" class="btn btn-sm dropdown-animate" data-toggle="dropdown"> <span class="glyphicon glyphicon-comment"></span> <b>@Model.AmountNewActionLogs</b> </button>
    <ul class="dropdown-menu checkbox-persist" role="menu">
        <li class="menu-arrow">
            <div class="menu-arrow-up"></div>
        </li>
        <li class="dropdown-header">Recente aanpassingen <span class="pull-right glyphicons glyphicons-comments"></span></li>
        <li id="actionItems">
            <ul class="dropdown-items">
                    @foreach (var action in Model.ActionLogModels)
                     {
                         <li>
                             <div class="item-avatar"><img src="@Url.Content("/Areas/Admin/Content/img/avatars/header/2.jpg")" class="img-responsive" alt="avatar" /></div>
                             <div class="item-message">
                                 <b>@action.FullName</b> - <small class="text-muted">@action.TimeAgo</small><br />
                                 @action.Information
                             </div>
                         </li>
                     }
            </ul>
        </li>
        <li class="dropdown-footer"><a href="@Url.Action("Activiteiten", "Logs")">Weergeef alle activiteiten <i class="fa fa-caret-right"></i> </a></li>
    </ul>
</div>