﻿@model Common.Models.Admin.Tickets.NewTicketModel

@if (Model.Status)
{
    <div class="tasks-menu">
        <button type="button" class="btn btn-sm" data-toggle="dropdown"> <span class="glyphicons glyphicons-tag"></span> <b>@Model.AmountNewTickets</b> </button>
        <ul class="dropdown-menu" role="menu">
            <li class="menu-arrow">
                <div class="menu-arrow-up"></div>
            </li>
            <li class="dropdown-header">Nieuwe tickets <span class="pull-right glyphicons glyphicons-comments"></span></li>
            <li>
                <ul class="dropdown-items">
                    @if (Model.AmountNewTickets > 0)
                    {
                        foreach (var ticket in Model.TicketModels)
                        {
                            <li>
                                <a href="@Url.Action("Info", "Tickets", new {@id = ticket.TicketID})">
                                    <div class="item-message">
                                        <b>@ticket.Voornaam @ticket.Achternaam</b> - <small class="text-muted">@ticket.TimeAgo</small><br />
                                        Onderwerp: @ticket.Onderwerp
                                    </div>
                                </a>
                            </li>
                        }
                    }
                    else
                    {
                        <li>Er zijn geen open tickets!</li>
                    }
                </ul>
            </li>
            <li class="dropdown-footer"><a href="@Url.Action("Alle-tickets-weergeven", "Tickets")">Weergeef alle open tickets <i class="fa fa-caret-right"></i> </a></li>
        </ul>
    </div>
}