﻿@model Common.Models.Admin.ViewModel.NotApprovedUsersModel

<div class="alerts-menu">
    <button type="button" class="btn btn-sm" data-toggle="dropdown"><span class="glyphicons glyphicons-user"></span> <b>@Model.AmountNotApprovedUsers</b> </button>
    <ul class="dropdown-menu" role="menu">
        <li class="menu-arrow">
            <div class="menu-arrow-up"></div>
        </li>
        <li class="dropdown-header">Ongeaccepteerde gebruikers <span class="pull-right glyphicons glyphicons-comments"></span></li>
        <li>
            <ul class="dropdown-items">
                @if (Model.AmountNotApprovedUsers > 0)
                {
                    foreach (var user in Model.Users)
                    {
                        <li>
                            <div class="item-avatar"><img src="@Url.Content("/Areas/Admin/Content/img/avatars/header/2.jpg")" class="img-responsive" alt="avatar" /></div>
                            <div class="item-message">
                                <b>@user.FullName</b> - <small class="text-muted">@user.DateRegistration</small><br />
                                Wilt zich graag aanmelden voor de website.
                            </div>
                        </li>
                    }
                }
                else
                {
                    <li>Er zijn geen ongeaccepteerde gebruikers!</li>
                }
            </ul>
        </li>
        <li class="dropdown-footer"><a href="@Url.Action("Weergeven", "Gebruikers")">Weergeef alle gebruikers <i class="fa fa-caret-right"></i> </a></li>
    </ul>
</div>