﻿@if (!string.IsNullOrEmpty(Request.QueryString["Error"]))
{
    <div class="col-md-12">
        <div class="alert alert-danger">
            <h1>Error..</h1>
            <p>
                @Request.QueryString["Error"]
            </p>
        </div>
    </div>
}


<div id="dashboard">
    <div id="viewContent" data-url="@Url.Action("_Index")"></div>
</div>

@section Styles{
    <link type="text/css" href="@Url.Content("~/Areas/Admin/Content/css/calendar.css")" rel="stylesheet" />
}


@section Scripts{

    <script type="text/javascript" src="https:/www.google.com/jsapi"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/js/calendar-min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/js/showAgenda.js")"></script>

    <script type="text/javascript">

        google.load("visualization", "1", { packages: ["corechart"] });


        function drawChart() {

            $.get('/Dashboard/GetStatistics', {},
                function(data) {
                    var tdata = new google.visualization.DataTable();

                    tdata.addColumn('string', 'Datum');
                    tdata.addColumn('number', 'Hits');
                    tdata.addColumn('number', 'Bezoekers');

                    for (var i = 0; i < data.length; i++) {
                        tdata.addRow([data[i].Date, data[i].Pageviews, data[i].Visitors]);
                    }

                    var options = {
                        'width': '100%',
                        'height': '300',
                        'chartArea': { 'width': '90%', 'height': '200' },
                        'legend': 'bottom',
                    };

                    // Hide loading
                    $('#dashboard #loadingStatistics').fadeOut('fast', function() {
                        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                        chart.draw(tdata, options);
                    });
                });
        }

        $(document).ready(function() {

            // Subscribe to the ajax loaded event
            $(document).on("AjaxLoadingComplete", drawChart);

            $(window).resize(drawChart);

            // Subscribe to ajax loaded event - Get external news
            $(document).on("AjaxLoadingComplete", getExternalNews);

            // Subscribe to ajax loaded event - Get agenda
            $(document).on("AjaxLoadingComplete", window.initAgenda);

            // Get external news
            function getExternalNews() {
                $.get('/Admin/Dashboard/GetJamieKnoefNews', function (data) {
                    $('#LoadExternalNews').html(data);
                }).fail(function () {
                    alert("Het is niet gelukt om het nieuws op te halen..");
                });
            }

        });

        // Contact
        $('#sendContact').submit(function(e) {
            if ($(this).valid()) {
                $('#sendContact input[type="submit"]').button('loading');

                var ajaxCall = $.ajax({
                    url: '/Dashboard/Contact',
                    type: 'POST',
                    data: $(this).serialize()
                });

                ajaxCall.always(function() {
                    $('#dashboardContact input[type="text"]').text('');
                    $('#dashboardContact textarea').text('');
                    $('#sendContact input[type="submit"]').button('reset');
                });

                ajaxCall.success(function() {
                    $('#contactMessage').slideDown('fast');
                });

                ajaxCall.error(function() {
                    alert('Het is niet gelukt om het contactformulier te verzenden!');
                });

            }

            e.preventDefault();
        });
    </script>

    <script src="@Url.Content("~/Areas/Admin/Content/js/showAgenda.js")"></script>
}
