﻿@model IEnumerable<Common.Models.Admin.Navigation.AdminNavigationModel>

<div id="sidebar-menu">
    <ul class="nav sidebar-nav">
        @foreach (var parentNavigation in Model)
        {
            <li class='@if (parentNavigation.CurrentPage) {@Html.Raw("active")}'>
                <a href="@if (parentNavigation.Controller == null)
                         {
                             @Html.Raw("#")
                         }
                         else
                         {
                             @Url.Action(parentNavigation.Action, parentNavigation.Controller)
                         }">
                    <span class="glyphicons @parentNavigation.Icon"></span><span class="sidebar-title">@parentNavigation.Name</span>
                    @if (parentNavigation.ArraySubNavigationModels.Any())
                    {
                        <span class="caret"></span>
                    }
                </a>
                @if (parentNavigation.ArraySubNavigationModels.Any())
                {
                    <ul class="nav sub-nav @if (parentNavigation.CurrentPage)
                                           {@Html.Raw("menu-open collapsed")}">
                        @foreach (var subMenu in parentNavigation.ArraySubNavigationModels)
                        {
                            <li><a href="@Url.Action(subMenu.Action, subMenu.Controller)"><span class="glyphicons @subMenu.Icon"></span>@subMenu.Name</a></li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</div>
