﻿@model IEnumerable<Common.File>

@foreach (var viewFile in Model)
{
    <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="content">
            @Html.Hidden("contentFileId", viewFile.FileId)
            <div class="image">
                @{ string imageFile; }
                @switch (Path.GetExtension(viewFile.FileName))
                {
                    case ".gif":
                    {
                        imageFile = "gif-12";
                        break;
                    }
                    case ".png":
                    {
                        imageFile = "png-44";
                        break;
                    }
                    case ".bmp":
                    {
                        imageFile = "bmp-12";
                        break;
                    }
                    case "jpg":
                    case ".jpeg":
                    {
                        imageFile = "jpeg-12";
                        break;
                    }
                    case ".rar":
                    {
                        imageFile = "rar-8";
                        break;
                    }
                    case ".zip":
                    {
                        imageFile = "zip-18";
                        break;
                    }
                    case ".txt":
                    {
                        imageFile = "txt-10";
                        break;
                    }
                    case ".psd":
                    {
                        imageFile = "psd-8";
                        break;
                    }
                    case ".docx":
                    {
                        imageFile = "doc-13";
                        break;
                    }
                    default:
                    {
                        imageFile = "none-1";
                        break;
                    }
                }
                <img src="/Areas/Admin/Content/img/files/@imageFile@Html.Raw(".png")" alt=".gif file" title="@viewFile.FileName" />
            </div>
            <p>@viewFile.FileName</p>
        </div>
    </div>
}