﻿@using Common.Providers.Files
@model Common.Models.Home.News.BundleNewsModel
@{
    ViewBag.Title = @Model.NewsModel.Title;
}
<div id="newsArticleContainer" class="container">


    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Nieuws", "Index", "Nieuws")</li>
        <li class="active">@Model.NewsModel.Title</li>
    </ul>



    <div class="nextBlock">
        <div class="panel panel-primary">
            <div class="panel-heading">Artikel</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">

                        <h2>@Model.NewsModel.Title</h2>
                        <p><small>Toegevoegd door <a href="#">@Model.NewsModel.AuthorName</a> op @string.Format("{0:hh:mm}", Model.NewsModel.Date)</small></p>

                        <blockquote>
                            @Html.Raw(Model.NewsModel.Intro)
                        </blockquote>

                        <p>@Model.NewsModel.Information</p>

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="about">
                                    <div id="articleInfoContainer">
                                        @if (Model.NewsModel.UserHasAvatar)
                                        {
                                            <img alt="about" src="@Url.Content(FileProvider.GetImagePath(Common.Providers.Files.FilePaths.ProfilePhotos, false) + Model.NewsModel.Username + FileProvider.GetPrefferedImageExtension())" />
                                        }

                                        <div class="articleInfo">
                                            <h4 class="name">@Model.NewsModel.AuthorName</h4>
                                            <br />
                                            <p>@string.Format("{0:d MMMM yyyy}", Model.NewsModel.Date)</p>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>

                        @if (Model.NewsModel.CommentsEnabled)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        @if (Model.NewsReactionModels.Any())
                                        {
                                            <div class="col-md-12">
                                                <h3>@Model.NewsModel.AmountComments @(Model.NewsModel.AmountComments == 1 ? " Reactie" : " Reacties")</h3>

                                                <ul class="media-list">

                                                    @foreach (var newsReaction in Model.NewsReactionModels)
                                                    {
                                                        <li class="media">
                                                            @Html.Hidden("commentId", newsReaction.CommentId)
                                                            @if (!string.IsNullOrEmpty(newsReaction.Username))
                                                            {
                                                                <div class="thumbnail pull-left">
                                                                    <img class="media-object" alt="@newsReaction.Name" title="@newsReaction.Name" width="50" height="50" src="@string.Format("{0}{1}{2}", FileProvider.GetImagePath(FilePaths.ProfilePhotos, false), newsReaction.Username, FileProvider.GetPrefferedImageExtension())">
                                                                </div>
                                                            }
                                                            <div class="media-body">
                                                                <div class="media-heading">
                                                                    <h4>@newsReaction.Name - @string.Format("{0:d MMMM yyyy}", newsReaction.Date)</h4>
                                                                </div>
                                                                
                                                                    <p class="newsComment">@newsReaction.Message</p>
                                                                
                                                                @if (User.Identity.IsAuthenticated && newsReaction.Username == User.Identity.Name)
                                                                {
                                                                    <div class="actions clearfix nextBlock">
                                                                        <div class="nextBlock pull-right">
                                                                            <span class="edit-Icon"></span>
                                                                            <span class="delete-Icon"></span>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </li>
                                                    }


                                                </ul>
                                                <hr />
                                            </div>
                                        }



                                        <div class="col-md-6">
                                            <h3>Laat een reactie achter!</h3>

                                            @using (Html.BeginForm("Reactie-Toevoegen", "Nieuws"))
                                            {
                                                @Html.HiddenFor(m => m.AddNewsReactionModel.NewsId, new { Value = Model.NewsModel.NewsId })
                                                @Html.AntiForgeryToken()

                                                if (!User.Identity.IsAuthenticated)
                                                {
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.AddNewsReactionModel.Name)
                                                        @Html.TextBoxFor(m => m.AddNewsReactionModel.Name, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.AddNewsReactionModel.Name)
                                                    </div>
                                                }

                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.AddNewsReactionModel.Message)
                                                    @Html.TextAreaFor(m => m.AddNewsReactionModel.Message, new { @class = "form-control", @cols = "15", @rows = "3" })
                                                    @Html.ValidationMessageFor(m => m.AddNewsReactionModel.Message)
                                                </div>

                                                <button class="btn btn-default" type="submit">Verstuur bericht!</button>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>

    <!-- Delete comment Modal -->
    <div class="modal fade" id="removeCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("Verwijder-Reactie", "Nieuws"))
                {
                    @Html.HiddenFor(m => m.RemoveNewsCommentId, new { @id = "RemoveNewsCommentId" })
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Reactie verwijderen</h4>
                    </div>
                    <div class="modal-body">

                        Weet u zeker dat u uw reactie wilt verwijderen? <br />
                        Zodra uw reactie verwijderd wordt kan dit niet meer ongedaan worden gemaakt.

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                        <button type="submit" class="btn btn-primary">Opslaan</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- Edit comment Modal -->
    <div class="modal fade @if (!ViewData.ModelState.IsValidField("EditCommentModel.Message")) {@("invalid")}" id="editCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("Wijzig-Reactie", "Nieuws"))
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Reactie wijzigen</h4>
                    </div>
                    <div class="modal-body">
                        @Html.HiddenFor(m => m.EditCommentModel.ArticleId)
                        @Html.HiddenFor(m => m.EditCommentModel.CommentId, new { @id = "editCommentId" })

                        @Html.LabelFor(m => m.EditCommentModel.Message)
                        @Html.TextAreaFor(m => m.EditCommentModel.Message, new { @id = "editCommentMessage", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.EditCommentModel.Message)

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                        <button type="submit" class="btn btn-primary">Opslaan</button>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('.actions .delete-Icon').click(function () {
            var commentId = $(this).closest('li').find('#commentId').val();
            $('#RemoveNewsCommentId').val(commentId);
            $('#removeCommentModal').modal('show');
        });

        $('.actions .edit-Icon').click(function () {
            var commentId = $(this).closest('li').find('#commentId').val();
            var message = $(this).closest('li').find('.newsComment').text();
            $('#editCommentId').val(commentId);
            $('#editCommentMessage').val(message);
            $('#editCommentModal').modal('show');
        });

        if ($('#editCommentModal').hasClass('invalid')) {
            $("#editCommentModal").modal('show');
        }
    });
</script>