﻿@using Common.Models.Home.SEO
@{
        var seoInfo = ViewData["SEO"] as SeoModel;

        if (seoInfo == null)
        {
            throw new Exception("De SEO is leeg in de partial view.");
        }
    }

    <title>@seoInfo.Title - Kapsters</title>
    <meta name="description" content="@seoInfo.Description">
    <meta name="keywords" content="@seoInfo.Keywords">
    <meta name="author" content="Jamie knoef">
    <meta charset="UTF-8">

    @if (seoInfo.Hide)
    {
        <meta name="robots" content="noindex" />
    }