﻿@using Common.Providers.Users
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>EasyCMS - @ViewData["SeoTitle"]</title>
    <link href="@Url.Content("~/Areas/Admin/Content/img/favico.ico")" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    
    @Styles.Render("~/Areas/Admin/Content/stylesheets")
    
    @RenderSection("Styles", false)
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="/Content/js/responsive/html5Shiv.js"></script>
        <script src="/Content/js/responsive/respond.js"></script>
    <![endif]-->

</head>
<body>

    <div id="loadingScreen">
        <div id="loadingMiddle">
            <img src="/Areas/Admin/Content/img/ajax-loader.gif" alt="Loading content.." />
        </div>
    </div>

    <!-- End: Theme Preview Pane -->
    <!-- Start: Header -->
    <header class="navbar navbar-fixed-top">
        <div class="pull-left">
            <a class="navbar-brand" href="@Url.Action("Index", "Dashboard")">
                <div class="navbar-logo"><img src="/Areas/Admin/Content/img/logos/logo-red.png" class="img-responsive hidden-xs" alt="logo" /></div>
            </a>
        </div>
        <div class="pull-right header-btns">

            @{ Html.RenderAction("GetActionLogs", "Dashboard"); }

            @{ Html.RenderAction("GetUsers", "Dashboard"); }

            @{ Html.RenderAction("GetTickets", "Dashboard"); }

            <div class="btn-group user-menu">
                <button type="button" class="btn btn-sm" data-toggle="dropdown"> <span class="glyphicons glyphicons-user"></span> <b>@UserProvider.GetFullName()</b> </button>
                <ul class="dropdown-menu" role="menu">
                    <li class="menu-arrow">
                        <div class="menu-arrow-up"></div>
                    </li>
                    <li class="dropdown-header">Mijn account <span class="pull-right glyphicons glyphicons-user"></span></li>
                    <li class="padding-none">
                        <div class="dropdown-signout"><i class="fa fa-sign-out"></i> <a href="@Url.Action("Index", "Uitloggen")">Uitloggen</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- End: Header -->
    <!-- Start: Main -->
    <div id="main">
        <!-- Start: Sidebar -->
        <aside id="sidebar">
            <div id="sidebar-search">
                <form role="search">
                    <input type="text" class="search-bar form-control" placeholder="Search" />
                    <i class="fa fa-search field-icon-right"></i>
                    <button type="submit" class="btn btn-default hidden"></button>
                </form>
                <div class="sidebar-toggle"> <i class="fa fa-bars"></i> </div>
            </div>

            @{ Html.RenderAction("GetRights", "Dashboard"); }

        </aside>
        <!-- End: Sidebar -->
        <!-- Start: Content -->
        <section id="content">
            <div id="topbar">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i></li>
                    <li>@Request.RequestContext.RouteData.Values["controller"].ToString().Replace("-", " ")</li>
                    <li class="active">@Request.RequestContext.RouteData.Values["action"].ToString().Replace("-", " ").Replace("Index", "Home")</li>
                </ol>
            </div>
            <div class="container">
                <div class="row">

                    <!-- Error -->
                    @if (TempData["Error"] != null)
                    {
                        <div class="col-md-12">
                            <div class="alert alert-danger">
                                <h1>Error..</h1>
                                <p>
                                    @TempData["Error"]
                                </p>
                            </div>
                        </div>
                    }

                    <!-- Succes -->
                    @if (TempData["Success"] != null)
                    {
                        <div class="col-md-12">
                            <div class="alert alert-success">
                                <h1>Succes..</h1>
                                <p>
                                    @TempData["Success"]
                                </p>
                            </div>
                        </div>
                    }

                    <!-- View Content -->
                    @RenderBody()

                </div>
            </div>
        </section>
        <!-- End: Content -->
    </div>

    <div id="dialog-delete-confirm" title="Verwijderen" style="display: none">
        <p>Weet u zeker dat u dit item wilt verwijderen? Dit kan niet ongedaan worden gemaakt.</p>
    </div>

    @Scripts.Render("~/Areas/Admin/Content/javascripts")

    @RenderSection("Scripts", false)

</body>
</html>