﻿@{
    ViewBag.Title = "Agenda weergeven";
}
<div class="col-md-12" id="agenda">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Agenda</div>
                </div>
                <div class="panel-body">
                    @Html.ActionLink("Punt toevoegen", "Toevoegen", null, new {@class = "btn btn-default btn-gradient pull-right", @id = "addBtn"})
                   
                    <div id='calendar'></div>
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link type="text/css" href="@Url.Content("~/Areas/Admin/Content/css/calendar.css")" rel="stylesheet" />
}

@section Scripts{
    @Scripts.Render("~/Areas/Admin/Content/js/datatables")
    <script type="text/javascript" src="@Url.Content("~/Areas/Admin/Content/js/calendar-min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/showAgenda.js")"></script>
    
    <script>
        $(document).ready(function() {
            initAgenda();
        });
    </script>
}