﻿@model Common.Models.Admin.ViewModel.AgendaModel

@{
    ViewBag.Title = "Agenda punt wijzigen";
}
<div class="col-md-12" id="agenda">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Agenda punt wijzigen</div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.HiddenFor(m => m.AgendaId)

                        <div class="form-group">
                            @Html.LabelFor(m => m.Title)
                            @Html.TextBoxFor(m => m.Title, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Title)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.StartDate)
                            @Html.TextBoxFor(m => m.StartDate, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.StartDate)
                        </div>

                        <div class="form-group" @if (Model.AllDay)
                                                {
                                                    @Html.Raw("style='display: none'")
                                                } id="endDateContainer">
                            @Html.LabelFor(m => m.EndDate)
                            @Html.TextBoxFor(m => m.EndDate, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.EndDate)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ColorValue)
                            @Html.DropDownListFor(m => m.ColorValue, Model.AvailableColorsList, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.ColorValue)
                        </div>

                        <div class="form-group" id="allDayContainer">
                            @Html.LabelFor(m => m.AllDay)
                            @Html.CheckBoxFor(m => m.AllDay) Is dit punt de hele dag?
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Public)
                            @Html.CheckBoxFor(m => m.Public) Mag iedereen dit punt zien?
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.SendReminder)
                            @Html.CheckBoxFor(m => m.SendReminder) Wilt u een herinnering een dag van te voren?
                        </div>

                        <input type="submit" value="Agenda punt wijzigen!" class="btn btn-info btn-gradient" />
                    }
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link href="@Url.Content("~/Areas/Admin/Content/css/jquery-ui-timepicker-addon.min.css")" rel="stylesheet" />
}

@section Scripts{
<script src="@Url.Content("~/Areas/Admin/Content/js/jquery-ui-timepicker-addon-min.js")"></script>
<script src="@Url.Content("~/Areas/Admin/Content/js/jquery-ui-timepicker-nl.js")"></script>
    <script>
        $(document).ready(function() {
                $('#DateLaunch').datetimepicker({ timeFormat: 'H:mm', dateFormat: 'dd-mm-yy' });
                $.datepicker.setDefaults($.datepicker.regional['nl']);

            });
            $('#AllDay').change(function() {
                if ($('#AllDay').prop('checked')) {
                    $('#endDateContainer').slideUp('fast');
                } else {
                    $('#endDateContainer').show('fast');
                }
            });

            $("#EndDate").change(function() {
                if ($('#EndDate').val().length > 0) {
                    $('#allDayContainer').slideUp('fast');
                } else {
                    $('#allDayContainer').show('fast');
                }
            });
    </script>
}