﻿@model Common.Models.Home.News.BundleNewsModel
@{
    ViewBag.Title = @Model.NewsModel.Title;
}
<div id="newsArticleContainer" class="container">


    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Nieuws", "Index", "Nieuws")</li>
        <li class="active">@Model.NewsModel.Title</li>
    </ul>



    <div class="nextBlock">
        <div class="panel panel-primary">
            <div class="panel-heading">Artikel</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">

                        <h2>@Model.NewsModel.Title</h2>
                        <p><small>Toegevoegd door <a href="#">@Model.NewsModel.AuthorName</a> op @string.Format("{0:hh:mm}", Model.NewsModel.Date)</small></p>
                        
                        <blockquote>
                            @Html.Raw(Model.NewsModel.Intro)
                        </blockquote>

                        <p>@Model.NewsModel.Information</p>

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="about">
                                    <div id="articleInfoContainer">
                                        @if (Model.NewsModel.UserHasAvatar)
                                        {
                                            <img alt="about" src="@Url.Content("~/Shared/ProfilePhotos/" + Model.NewsModel.Username + ".png")" />
                                        }

                                        <div class="articleInfo">
                                            <h4 class="name">@Model.NewsModel.AuthorName</h4>
                                            <br />
                                            <p>@string.Format("{0:d MMMM yyyy}", Model.NewsModel.Date)</p>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>

                        @if (Model.NewsModel.CommentsEnabled)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        @if (Model.NewsReactionModels.Any())
                                        {
                                            <div class="col-md-12">
                                                <h3>@Model.NewsModel.AmountComments Reacties</h3>

                                                <ul class="media-list">

                                                    @foreach (var newsReaction in Model.NewsReactionModels)
                                                    {
                                                        <li class="media">
                                                            @if (!string.IsNullOrEmpty(newsReaction.Username))
                                                            {
                                                                <div class="thumbnail pull-left">
                                                                    <img class="media-object" alt="@newsReaction.Name" title="@newsReaction.Name" width="50" height="50" src="@Url.Content("~/Shared/ProfilePhotos/" + newsReaction.Username + ".png")">
                                                                </div>
                                                            }
                                                            <div class="media-body">
                                                                <div class="media-heading">
                                                                    <h4>@newsReaction.Name - @string.Format("{0:d MMMM yyyy}", newsReaction.Date)</h4>
                                                                </div>
                                                                <p>@newsReaction.Message</p>
                                                            </div>
                                                        </li>
                                                    }


                                                </ul>
                                                <hr />
                                            </div>
                                        }



                                        <div class="col-md-6">
                                            <h3>Laat een reactie achter!</h3>

                                            @using (Html.BeginForm("ReactieToevoegen", "Nieuws"))
                                            {
                                                @Html.HiddenFor(m => m.AddNewsReactionModel.NewsId)
                                                @Html.AntiForgeryToken()
                                                if (!User.Identity.IsAuthenticated)
                                                {
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.AddNewsReactionModel.Name)
                                                        @Html.TextBoxFor(m => m.AddNewsReactionModel.Name, new {@class = "form-control"})
                                                        @Html.ValidationMessageFor(m => m.AddNewsReactionModel.Name)
                                                    </div>
                                                }

                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.AddNewsReactionModel.Message)
                                                    @Html.TextAreaFor(m => m.AddNewsReactionModel.Message, new {@class = "form-control", @cols = "15", @rows = "3"})
                                                    @Html.ValidationMessageFor(m => m.AddNewsReactionModel.Message)
                                                </div>

                                                <button class="btn btn-default" type="submit">Verstuur bericht!</button>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>