﻿@using PagedList.Mvc
@model Common.Models.Home.News.BundleViewNewsModel
@{
    ViewBag.Title = "Nieuwsartikelen";
}

<div id="newsContainer" class="container">


    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Nieuws", "Index", "Nieuws")</li>
        <li class="active">Artikelen</li>
    </ul>



    <div class="row nextBlock">
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">Artikelen</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            
                            @if (Model.NewsArticles.Count == 0)
                            {
                                <p>Geen artikelen gevonden!</p>
                            }

                            @foreach (var newsArticle in Model.NewsArticles)
                            {
                                <div class="media">
                                    @if (!string.IsNullOrEmpty(newsArticle.Image))
                                    {
                                        <a class="pull-left thumbnail" href="@Url.Action("Artikel", "Nieuws", new { @id = newsArticle.NewsId, @title = newsArticle.Url })">
                                            <img src="@Url.Content("~/Shared/News/" + newsArticle.NewsId + "/" + newsArticle.Image)" class="media-object" width="200" alt="@newsArticle.Title" title="@newsArticle.Title"/>
                                        </a>
                                    }
                                    <div class="media-body">
                                        <h2 class="media-heading">@Html.ActionLink(newsArticle.Title, "Artikel", new { @id = newsArticle.NewsId, @title = newsArticle.Url})
                                        </h2>
                                        <p><small>Toegevoegd door <mark>@newsArticle.AuthorName</mark> op @string.Format("{0:d MMM yyyy}", newsArticle.Date)</small></p>
                                        <p>@Html.Raw(newsArticle.Intro)</p>
                                        <p class="text-right">
                                            @Html.ActionLink("Lees meer →", "Artikel", "Nieuws", new { @id = newsArticle.NewsId, @title = newsArticle.Url }, new { @class = "btn btn-primary btn-sm" })
                                        </p>
                                    </div>
                                </div>
                            }

                            <hr>

                            @if (Model.NewsArticles.PageCount > 1)
                            {
                                <div class="text-right">
                                    @Html.PagedListPager(Model.NewsArticles, page => Url.Action("Index", "Nieuws", new { page }))
                                </div>
                            }

                        </div>
                        <!-- post list -->
                    </div>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
        <div class="col-md-3">
            
            <article>
                @using (Html.BeginForm("Zoek", "Nieuws", FormMethod.Post))
                {
                    @Html.HiddenFor(m=> m.SearchNewsModel.CurrentPage, Model.NewsArticles.PageNumber)
                    <div class="input-group">
                        @Html.TextBoxFor(m=> m.SearchNewsModel.SearchTerm, new {@class="form-control", placeholder="Artikel zoeken.."})
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default"><em class="fa fa-search"></em></button>
                        </span>
                    </div>
                }
            </article>

            <hr/>

            <article>
              <div class="panel panel-default">
                <div class="panel-heading">Trefwoorden</div>
                <div class="panel-body">
                  <a href="#" class="btn btn-default btn-sm">Some</a>
                  <a href="#" class="btn btn-default btn-sm">Differents</a>
                  <a href="#" class="btn btn-default btn-sm">Tags</a>
                  <a href="#" class="btn btn-default btn-sm">to</a>
                  <a href="#" class="btn btn-default btn-sm">Complete</a>
                  <a href="#" class="btn btn-default btn-sm">this</a>
                  <a href="#" class="btn btn-default btn-sm">section</a>
                  <a href="#" class="btn btn-default btn-sm">Lorem</a>
                  <a href="#" class="btn btn-default btn-sm">ipsum</a>
                  <a href="#" class="btn btn-default btn-sm">dolor</a>
                  <a href="#" class="btn btn-default btn-sm">sit</a>
                </div>
              </div>
            </article>
            <article>
            </article>
        </div>
    </div>
</div>
