﻿@using Widgets
<!DOCTYPE html>
<html>
<head>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,500,600,700,400italic" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Themes/Default/Content/img/favicon.ico")" />

    @Styles.Render("~/Content/stylesheets")
    @Scripts.Render("~/Themes/Default/Content/js/jquery.js")

    @RenderSection("Styles", false)

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="/Themes/Default/Content/js/responsive/html5Shiv.js"></script>
        <script src="/Themes/Default/Content/js/responsive/respond.js"></script>
    <![endif]-->
    @{ Html.RenderPartial("~/Themes/Default/Views/Shared/Seo/Seo.cshtml"); }
</head>

<body>
    <div class="oc-wrapper">

        @Html.Action("Navigation", "Home")

        @if (TempData["Error"] != null)
        {
            <div class="container">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h3>Error!</h3>

                    @TempData["Error"]
                </div>
            </div>
        }

        @if (TempData["Success"] != null)
        {
            <div class="container">
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h3>Succes!</h3>

                    @TempData["Success"]
                </div>
            </div>
        }

        @RenderBody()


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @{ Html.RenderWidgetSection("MiddleContent"); }
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Footer -->
                    <div class="nextBlock">
                        <div class="breadcrumb">
                            Copyright 2014 - Kapsters
                            <div class="pull-right hidden-xs">Gemaakt door <a href="http://jamieknoef.nl" target="_blank">Jamie knoef</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

@Scripts.Render("~/Content/javascripts")

@RenderSection("Scripts", false)

</html>

<script>
    $(document).ready(function () {
        window.setTimeout(function () { $(".alert").fadeTo(500, 0).slideUp('slow'); }, 7000);
    });
</script>