﻿@using System.Globalization
@using PagedList.Mvc
@model Common.Models.Home.Guestbook.BundleGuestbookModel

<div id="GuestbookContainer" class="container">
    
    <div class="nextBlock" id="col-md-12">

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h3>Error!</h3>

                @Html.ValidationSummary()

            </div>
        }

        <ul class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">Gastenboek</li>
        </ul>

        <div class="panel panel-primary">
            <div class="panel-heading">Gastenboek</div>
            <div class="panel-body">
                @foreach (var guestbook in Model.GuestBookModel)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="media">
                                        <div class="media-body">
                                            @Html.Hidden("GuestBookID", guestbook.GuestbookId)
                                            <h2 class="media-heading"><a href="#">@guestbook.Author</a></h2>
                                            <p class="date">@string.Format("{0:d-M-yyyy}", guestbook.Date)</p>
                                            <p class="comment">@guestbook.Comment</p>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="pull-right">
                                                        <p class="addComment">Reageer op deze reactie</p>

                                                        <div class="row">
                                                            <div class="col-md-6 col-md-push-6">
                                                                <div class="commentContainer">
                                                                    <div class="well">
                                                                        @using (Html.BeginForm("Index", "Gastenboek"))
                                                                        {
                                                                            @Html.AntiForgeryToken()

                                                                            @Html.HiddenFor(m => m.CommentGuestbookModel.ParentId, new {@Value = guestbook.GuestbookId.ToString(CultureInfo.InvariantCulture)})
                                                                            @Html.HiddenFor(m => m.CommentGuestbookModel.PageId)

                                                                            if (!User.Identity.IsAuthenticated)
                                                                            {
                                                                                <div class="form-group">
                                                                                    @Html.LabelFor(m => m.CommentGuestbookModel.Name)
                                                                                    @Html.TextBoxFor(m => m.CommentGuestbookModel.Name, new {@class = "form-control"})
                                                                                </div>
                                                                            }

                                                                            <div class="form-group">
                                                                                @Html.LabelFor(m => m.CommentGuestbookModel.Comment)
                                                                                @Html.TextAreaFor(m => m.CommentGuestbookModel.Comment, new {@class = "form-control", @rows = "4"})
                                                                            </div>

                                                                            <input type="submit" value="Reactie toevoegen" class="btn btn-primary" />
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Comments -->
                                @{ Html.RenderPartial("~/Themes/Default/Views/Shared/Gastenboek/Reacties.cshtml", guestbook.SubGuestBookModels); }

                                @if (guestbook.SubGuestBookModels.Any())
                                {
                                    <div class="col-md-11 col-md-push-1" id="laadReactiesContainer">
                                        <div class="media"></div>
                                        @Html.ActionLink("Meer reacties laden..", "LaadReacties", "Gastenboek", null, new {@page = "1", @class = "btn btn-default btn-block", @id = "laadReacties"})
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }

                <hr>
                <div class="well">
                    @using (Html.BeginForm("Index", "Gastenboek"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.CommentGuestbookModel.PageId)

                        if (!User.Identity.IsAuthenticated)
                        {
                            <div class="form-group">
                                @Html.LabelFor(m => m.CommentGuestbookModel.Name)
                                @Html.TextBoxFor(m => m.CommentGuestbookModel.Name, new {@class = "form-control"})
                            </div>
                        }

                        <div class="form-group">
                            @Html.LabelFor(m => m.CommentGuestbookModel.Comment)
                            @Html.TextAreaFor(m => m.CommentGuestbookModel.Comment, new {@class = "form-control", @rows = "4"})
                        </div>

                        <input type="submit" value="Reactie toevoegen" class="btn btn-primary" />
                    }
                </div>




                @if (Model.GuestBookModel.PageCount > 1)
                {
                    <div class="text-right">
                        @Html.PagedListPager(Model.GuestBookModel, page => Url.Action("Index", "Gastenboek", new {page}))
                    </div>
                }

            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.addComment').click(function() {
            $(this).parent().find('.commentContainer').toggle('fast');
        });
    });

    $(document).on('click', '#laadReacties', function(e) {
        var buttonLoadReactions = $(this);
        buttonLoadReactions.text('Reacties worden geladen..');
        buttonLoadReactions.addClass('disabled');
        var htmlParent = $(this).parent().parent();
        var page = $(this).attr('page');
        var parentId = htmlParent.find('#GuestBookID').val();
        var ajaxGetComments = $.get('/Gastenboek/LaadReacties?page=' + page + '&parentId=' + parentId, function(data) {


            if (data.length > 0) {
                htmlParent.find('#laadReactiesContainer').before(data);
                buttonLoadReactions.text('Meer reacties laden..');
                buttonLoadReactions.removeClass('disabled');
                var pageNumber = parseInt(buttonLoadReactions.attr('page'));
                buttonLoadReactions.attr('page', pageNumber + 1);
            } else {
                buttonLoadReactions.text('Geen reacties meer..');
                var error = "<div class='col-md-11 col-md-push-1'><div class='alert alert-warning'><h3>Geen reacties!</h3><p>Er zijn geen reacties meer om te weergeven.</p></div>";
                htmlParent.find('#laadReactiesContainer').before(error);
            }
        });

        ajaxGetComments.error(function() {
            alert('Er is iets misgegaan toen we de gastenboek reacties ophaalde, probeer het later nog eens.');
        });

        e.preventDefault();
    });
</script>