﻿@model IEnumerable<Common.Models.Home.Navigation.NavigationModel>
@foreach (var navigationItem in Model)
{
    if (navigationItem.SubNavigationModels.Any() && (navigationItem.Visibility == 0 || (navigationItem.Visibility == 1 && User.Identity.IsAuthenticated) || (navigationItem.Visibility == 2 && User.Identity.IsAuthenticated == false)))
    {
        <li class="dropdown">
            <a href="@if (!navigationItem.FullUrl.Contains("http"))
                     {
                         @Html.Raw("/")
                     }@navigationItem.FullUrl" class="dropdown-toggle @if (Request.Url.AbsoluteUri.Equals(navigationItem.FullUrl) || navigationItem.SubNavigationModels.Any(x => x.FullUrl.Equals(Request.Url.AbsoluteUri)))
                                                                      {
                                                                          @Html.Raw("active")
                                                                      }" data-toggle="dropdown">@navigationItem.Name<b class="caret"></b></a>
            <ul class="dropdown-menu">
                @foreach (var subCategory in navigationItem.SubNavigationModels)
                {
                    <li><a href="@subCategory.FullUrl">@subCategory.Name</a></li>
                }
            </ul>
        </li>
    }
    else if (navigationItem.Visibility == 0 || (navigationItem.Visibility == 1 && User.Identity.IsAuthenticated) || (navigationItem.Visibility == 2 && User.Identity.IsAuthenticated == false))
    {
        <li @if (Request.Url.PathAndQuery.Remove(0, 1).Equals(navigationItem.FullUrl))
            {
                @Html.Raw("class='active'")
            }><a href="@if (!navigationItem.FullUrl.Contains("http"))
                       {
                           @Html.Raw("/")
                       }@navigationItem.FullUrl">@navigationItem.Name</a></li>
    }
}