﻿@model Common.Models.Home.Error.ErrorModel

@{
    ViewBag.Title = Model.ErrorCode + " Error";
}
<div class="col-md-12" id="agenda">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Er heeft zich een fout plaatsgevonden!</div>
                </div>
                <div class="panel-body">
                    <p>@Model.Message</p>
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>