﻿@using Common.Providers.Date
@model IEnumerable<Common.Models.Admin.Users.UserModelInfo>

@{
    Layout = null;
}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Alle gebruikers</div>
                </div>
                <div class="panel-body">
                    <div class="pull-right">
                        @Html.TextBox("datatableText", null, new { @class = "form-control", @placeholder="Zoeken.." })     
                    </div>
                   
                    <table id="datatable" class="table table-striped" data-filter="#datatableText" data-filter-minimum="1">
                        <thead>
                            <tr>
                                <th>Voornaam</th>
                                <th>Achternaam</th>
                                <th data-hide="phone">Datum registratie</th>
                                <th data-hide="phone">Datum laatst ingelogd</th>
                                <th data-hide="phone">Email-adres</th>
                                <th data-hide="phone,tablet">Verbannen</th>
                                <th data-hide="phone,tablet">Wijzigen</th>
                                <th data-hide="phone,tablet">Verwijderen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var gebruiker in Model)
                            {
                                <tr>
                                    <td>@gebruiker.Firstname</td>
                                    <td>@gebruiker.Lastname</td>
                                    <td>@gebruiker.Email</td>
                                    <td>@DateProvider.GetLongDate(gebruiker.CreatedDate)</td>
                                    <td>@DateProvider.GetLongDate(gebruiker.LastLoginDate)</td>
                                    @if (gebruiker.IsLockedOut)
                                    {
                                        <td>@Html.ActionLink("Onverbannen", "Unbannen", new { @username = gebruiker.Username }, new { @class = "btn btn-xs btn-info btn-gradient" })</td>
                                    }
                                    else
                                    {
                                        <td>@Html.ActionLink("Verbannen", "Verbannen", new { @username = gebruiker.Username }, new { @class = "btn btn-xs btn-primary btn-gradient" })</td>
                                    }
                                    <td>@Html.ActionLink("Wijzigen", "Wijzig", new { @username = gebruiker.Username }, new { @class = "btn btn-xs btn-warning btn-gradient" })</td>
                                    <td>@Html.ActionLink("Verwijderen", "Verwijder", new { @username = gebruiker.Username }, new { @class = "btn btn-xs btn-danger btn-gradient" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>