﻿@model Common.Models.Admin.ViewModel.EditNewsLetterModel

@{
    ViewBag.Title = "Nieuwsbrief wijzigen";
}
<div class="col-md-12" id="newsletter">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Nieuwsbrief wijzigen</div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Wijzig", "Nieuwsbrief", FormMethod.Post, new {enctype = "multipart/form-data", id = "form"}))
                    {
                        @Html.HiddenFor(m => m.NewsletterId)
                        <div class="form-group">
                            @Html.LabelFor(m => m.Subject)
                            @Html.TextBoxFor(m => m.Subject, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Subject)
                        </div>

                        <div class="form-group">
                            <div class="fullWidth">
                                <span class="info-icon tool-tip" data-toggle="tooltip" data-placement="right" title="De url van de link (Bijvoorbeeld: http://google.nl)"></span>
                                @Html.LabelFor(m => m.Body, new {@class = "tooltip-label"})
                            </div>
                            @Html.TextAreaFor(m => m.Body, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Body)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.UploadAttachments)
                            @Html.TextBoxFor(m => m.UploadAttachments, new {type = "file", @multiple = "true"})
                            @Html.ValidationMessageFor(m => m.UploadAttachments)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Schedule)
                            @Html.CheckBoxFor(m => m.Schedule) Wilt u deze nieuwsbrief inplannen?
                        </div>

                        <div class="form-group" id="scheduleContainer">
                            <div class="fullWidth">
                                <span class="glyphicon glyphicon-time"></span>
                                @Html.LabelFor(m => m.DateLaunch)
                            </div>
                            @Html.TextBoxFor(m => m.DateLaunch, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.DateLaunch)
                        </div>


                        <div class="panel space">
                            <div class="panel-heading">
                                <div class="panel-title">Bijgevoegde bestanden - <small>Selecteer de bestanden die u wilt verwijderen</small></div>
                            </div>
                            <div class="panel-body">
                                <div id="filesContainer">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Bestand</th>
                                                <th>Verwijderen</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (var counter = 0; Model.OldAttachments.Count > counter; counter++)
                                            {
                                                <tr>
                                                    <td>@Model.OldAttachments[counter].FileName</td>
                                                    <td>
                                                        @Html.HiddenFor(m => m.OldAttachments[counter].AttachmentId)
                                                        @Html.CheckBoxFor(m => m.OldAttachments[counter].Checked)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="panel-footer"></div>
                        </div>

                        <input type="submit" value="Nieuwsbrief wijzigen!" class="btn btn-primary btn-gradient" />
                    }
                </div>


                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link href="@Url.Content("~/Areas/Admin/Content/css/jquery-ui-timepicker-addon.min.css")" rel="stylesheet" />
}
@section Scripts{
    <script src="@Url.Content("~/Areas/Admin/Content/js/fileButtonReplacer.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/jquery-ui-timepicker-addon-min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/jquery-ui-timepicker-nl.js")"></script>

    <script>
        tinyMCE.baseURL = "/Areas/Admin/Content/js/tinymce/";
        tinymce.init({
            selector: "textarea",
            language: 'nl',
            plugins: 'advlist autolink link image lists charmap print preview fullscreen table textcolor code paste template visualchars visualblocks'
        });

        $(document).ready(function() {

            $('#DateLaunch').datetimepicker({ timeFormat: 'H:mm', dateFormat: 'dd-mm-yy' });
            $.datepicker.setDefaults($.datepicker.regional['nl']);

            $(document).ready(function() {
                $('#DateLaunch').datetimepicker({ timeFormat: 'H:mm', dateFormat: 'd-m-yy' });
                $.datepicker.setDefaults($.datepicker.regional['nl']);

                $('#Schedule').change(function() {
                    $('#scheduleContainer').toggle('fast');
                });
            });
        });
    </script>
}