/* Generic */
body {
    background: #F0F0EE;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 8px 8px 0 8px;
    padding: 0;
    scrollbar-3dlight-color: #F0F0EE;
    scrollbar-arrow-color: #676662;
    scrollbar-base-color: #F0F0EE;
    scrollbar-darkshadow-color: #DDDDDD;
    scrollbar-face-color: #E0E0DD;
    scrollbar-highlight-color: #F0F0EE;
    scrollbar-shadow-color: #F0F0EE;
    scrollbar-track-color: #F5F5F5;
}

html { background: #F0F0EE; }

td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

textarea {
    outline: none;
    resize: none;
}

a:link, a:visited { color: black; }

a:hover { color: #2B6FB6; }

.nowrap { white-space: nowrap }

/* Forms */

fieldset {
    border: 1px solid #919B9C;
    font-family: Verdana, Arial;
    font-size: 10px;
    margin: 0;
    padding: 4px;
}

legend {
    color: #2B6FB6;
    font-weight: bold;
}

label.msg { display: none; }

label.invalid {
    color: #EE0000;
    display: inline;
}

input.invalid { border: 1px solid #EE0000; }

input {
    background: #FFF;
    border: 1px solid #CCC;
}

input, select, textarea {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

input, select, textarea { border: 1px solid #808080; }

input.radio {
    background: transparent;
    border: 1px none #000000;
    vertical-align: middle;
}

input.checkbox {
    background: transparent;
    border: 1px none #000000;
    vertical-align: middle;
}

.input_noborder { border: 0; }

/* Buttons */

#insert, #cancel, input.button, .updateButton {
    background: url(/Areas/Admin/Content/img/buttons.png) 0 -26px;
    border: 0;
    cursor: pointer;
    float: left;
    font-weight: bold;
    height: 26px;
    margin: 0;
    padding: 0;
    padding-bottom: 2px;
    width: 94px;
}

#insert { background: url(/Areas/Admin/Content/img/buttons.png) 0 -52px }

#cancel {
    background: url(/Areas/Admin/Content/img/buttons.png) 0 0;
    float: right
}

/* Browse */

a.pickcolor, a.browse { text-decoration: none }

a.browse span {
    background: url(/Areas/Admin/Content/img/icons.gif) -20px 0 no-repeat;
    border: 1px solid #FFF;
    display: block;
    height: 18px;
    margin-left: 1px;
    width: 20px;
}

.mceOldBoxModel a.browse span {
    height: 20px;
    width: 22px;
}

a.browse:hover span {
    background-color: #B2BBD0;
    border: 1px solid #0A246A;
}

a.browse span.disabled {
    -ms-filter: 'alpha(opacity=30)';
    border: 1px solid white;
    filter: alpha(opacity=30);
    opacity: 0.3;
}

a.browse:hover span.disabled {
    background-color: transparent;
    border: 1px solid white;
}

a.pickcolor span {
    background: url(/Areas/Admin/Content/img/icons.gif) 0 0;
    display: block;
    height: 16px;
    margin-left: 2px;
    width: 20px;
}

.mceOldBoxModel a.pickcolor span {
    height: 17px;
    width: 21px;
}

a.pickcolor:hover span { background-color: #B2BBD0; }

a.pickcolor:hover span.disabled { }

/* Charmap */

table.charmap {
    border: 1px solid #AAA;
    text-align: center
}

td.charmap, #charmap a {
    border: 1px solid #AAA;
    color: #000;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    width: 18px;
}

#charmap a {
    border: 0;
    color: #000;
    display: block;
    text-decoration: none;
}

#charmap a:hover {
    background: #CCC;
    color: #2B6FB6
}

#charmap #codeN {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center
}

#charmap #codeV {
    border: 1px solid #AAA;
    font-size: 40px;
    height: 80px;
    text-align: center
}

/* Source */

.wordWrapCode {
    background: transparent;
    border: 1px none #000000;
    vertical-align: middle;
}

.mceActionPanel { margin-top: 5px; }

/* Tabs classes */

.tabs {
    background: url(/Areas/Admin/Content/img/tabs.gif) repeat-x 0 -72px;
    height: 18px;
    line-height: normal;
    width: 100%;
}

.tabs ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tabs li {
    background: url(/Areas/Admin/Content/img/tabs.gif) no-repeat 0 0;
    display: block;
    float: left;
    height: 18px;
    line-height: 17px;
    margin: 0 2px 0 0;
    padding: 0 0 0 10px;
}

.tabs li.current {
    background: url(/Areas/Admin/Content/img/tabs.gif) no-repeat 0 -18px;
    margin-right: 2px;
}

.tabs span {
    background: url(/Areas/Admin/Content/img/tabs.gif) no-repeat right -36px;
    display: block;
    float: left;
    padding: 0px 10px 0 0;
}

.tabs .current span { background: url(/Areas/Admin/Content/img/tabs.gif) no-repeat right -54px; }

.tabs a {
    font-family: Verdana, Arial;
    font-size: 10px;
    text-decoration: none;
}

.tabs a:link, .tabs a:visited, .tabs a:hover { color: black; }

/* Panels */

.panel_wrapper div.panel { display: none; }

.panel_wrapper div.current {
    display: block;
    height: 300px;
    overflow: visible;
    width: 100%;
}

.panel_wrapper {
    background: white;
    border: 1px solid #919B9C;
    border-top: 0px;
    clear: both;
    padding: 10px;
    padding-top: 5px;
}

/* Columns */

.column { float: left; }

.properties { width: 100%; }

.properties .column1 { }

.properties .column2 { text-align: left; }

/* Titles */

h1, h2, h3, h4 {
    color: #2B6FB6;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

h3 { font-size: 14px; }

.title {
    color: #2B6FB6;
    font-size: 12px;
    font-weight: bold;
}

/* Dialog specific */

#link .panel_wrapper, #link div.current { height: 125px; }

#image .panel_wrapper, #image div.current { height: 200px; }

#plugintable thead {
    background: #DDD;
    font-weight: bold;
}

#plugintable, #about #plugintable td { border: 1px solid #919B9C; }

#plugintable {
    margin-top: 10px;
    width: 96%;
}

#pluginscontainer {
    height: 290px;
    overflow: auto;
}

#colorpicker #preview {
    border: 1px solid black;
    display: inline-block;
    height: 14px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 40px;
}

#colorpicker #previewblock {
    display: inline;
    padding-left: 5px;
    padding-top: 0px;
    position: relative;
    top: -3px;
}

#colorpicker #preview_wrapper {
    padding-top: 4px;
    text-align: center;
    white-space: nowrap
}

#colorpicker #colors {
    border: 1px solid gray;
    cursor: crosshair;
    float: left;
}

#colorpicker #light {
    border: 1px solid gray;
    cursor: crosshair;
    float: left;
    height: 150px;
    margin-left: 5px;
    width: 15px;
}

#colorpicker #light div { overflow: hidden; }

#colorpicker .panel_wrapper div.current { height: 175px; }

#colorpicker #namedcolors { width: 150px; }

#colorpicker #namedcolors a {
    display: block;
    float: left;
    height: 10px;
    margin: 1px 1px 0 0;
    overflow: hidden;
    width: 10px;
}

#colorpicker #colornamecontainer { margin-top: 5px; }

#colorpicker #picker_panel fieldset {
    margin: auto;
    width: 325px;
}