﻿@{
    Layout = null;
}

@model IEnumerable<Common.Models.Admin.ViewModel.SubNavigatieModel>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Alle navigatie links</div>
                    <ul class="nav panel-tabs">
                        <li>@Html.ActionLink("Submenu toevoegen", "Sub-Menu-Toevoegen", "Navigatie")</li>
                    </ul>
                </div>
                <div class="panel-body">
                      <div class="pull-right">
                        @Html.TextBox("datatableText", null, new { @class = "form-control", @placeholder="Zoeken.." })     
                    </div>
                   
                    <table id="datatable" class="table table-striped" data-filter="#datatableText" data-filter-minimum="1">
                        <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Status</th>
                                <th data-hide="phone, tablet">Wijzigen</th>
                                <th data-hide="phone, tablet">Verwijderen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var menu in Model)
                            {
                                <tr>
                                    <td>@menu.Naam</td>
                                    <td>@(menu.Status ? Html.Raw("<span class='label label-success'>Ingeschakeld</span>") : Html.Raw("<span class='label label-danger'>Uitgeschakeld</span>"))</td>
                                    <td>@Html.ActionLink("Wijzigen", "Sub-Menu-wijzigen", new {@id = menu.SubCategorieId}, new {@class = "btn btn-xs btn-warning btn-gradient"})</td>
                                    <td>@Html.ActionLink("Verwijder", "Sub-Menu-Verwijderen", new {@id = menu.SubCategorieId}, new {@class = "btn btn-xs btn-danger btn-gradient"})</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
