﻿@model Common.Models.Home.Widgets.BlogWidgetModel

@{
    Layout = null;
}

@*<div class="nextBlock">
    <div class="panel panel-primary">
        <div class="panel-heading">Artikel</div>
        <div class="panel-body">
          
        </div>
    </div>
</div>*@

<div id="widgetBlogArticles">
    @for (int counter = 0; Model.BlogArticles.Count > counter; counter++)
    {
        <div class="item">
            <h2 class="title">@Model.BlogArticles[counter].Title</h2>
            <small>Toegevoegd door <mark>@Model.BlogArticles[counter].Username</mark> op @string.Format("{0:d MMM yyyy}", Model.BlogArticles[counter].Date)</small>

            <p class="content">
                @Html.Raw(Model.BlogArticles[counter].Intro)
            </p>

            <p>
                Tags:
            
            @{
        var arrayTags = Model.BlogArticles[counter].Keywords.Trim().Split(',').ToList();

        for (int counterTags = 0; arrayTags.Count > counterTags; counterTags++)
        {
                @Html.ActionLink(arrayTags[counterTags], "Zoekkeywoord", "Blog", null, new { @Keyword = arrayTags[counterTags] })

            if (arrayTags.Count - counterTags != 1)
            {
                @Html.Raw(", ")
            }
        }
            }
            </p>

            @Html.ActionLink("Lees meer →", "Artikel", "Blog", new { @id = Model.BlogArticles[counter].BlogId, @title = Model.BlogArticles[counter].Url }, new { @class = "btn btn-default btn-sm" })

            @if (!Model.Slide)
            {
                if (Model.BlogArticles.Count - counter != 1)
                {<hr />}
            }
            else
            {
                <link href="@Url.Content("~/Content/css/owl.transitions.css")" rel="stylesheet" />
                <script src="@Url.Content("~/Content/js/owl.carousel.min.js")"></script>

                <script>
                    $(document).ready(function () {
                        $('#widgetBlogArticles').owlCarousel({

                            // Amount items to display
                            items: 1,

                            // Basic Speeds
                            slideSpeed: 200,
                            paginationSpeed: 1400,
                            rewindSpeed: 1000,

                            singleItem : true,
                            transitionStyle: "goDown",

                            // Autoplay
                            autoPlay: true,
                            stopOnHover: true,
                        });
                    });
                </script>
            }
        </div>
    }
</div>
