﻿@using Common.Providers.Files
@model Common.Models.Home.Widgets.BundleAlbumPhotoWidgetModel

@{
    Layout = null;
}


@if (!Model.Slide)
{
    <div id="widgetPhotoAlbum" class="clearfix">
        <div id="photoAlbumCarousel">
            @for (int counter = 0; Model.Photos.Count() > counter; counter++)
            {
                <div class="item col-md-3 col-sm-4 col-xs-6 @if (counter == 0)
                                 {
                                     @("active")
                                 }">
                    <div class="thumbnail has-ribbon has-ribbon-right" data-text="@Model.Photos.ElementAt(counter).Name">
                        <a href="@Url.Action("Album", "Fotoalbum", new {@id = Model.Photos.ElementAt(counter).AlbumId, @title = Model.Photos.ElementAt(counter).Name})">
                            <img src="@Url.Content(FileProvider.GetImagePath(Common.Providers.Files.FilePaths.PhotoAlbums, false) + Model.Photos.ElementAt(counter).AlbumId + "/" + Model.Photos.ElementAt(counter).Image)" alt="@Model.Photos.ElementAt(counter).Image" title="Ga naar het album: @Model.Photos.ElementAt(counter).Name" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{ 
    <div id="widgetPhotoAlbum" class="clearfix">
        <div id="photoAlbumCarousel" class="owl-carousel">
            @for (int counter = 0; Model.Photos.Count() > counter; counter++)
            {
                <div class="item @if (counter == 0){@("active")}">
                    <div class="thumbnail has-ribbon has-ribbon-right" data-text="@Model.Photos.ElementAt(counter).Name">
                        <a href="@Url.Action("Album", "Fotoalbum", new { @id = Model.Photos.ElementAt(counter).AlbumId, @title = Model.Photos.ElementAt(counter).Name })">
                            <img src="@Url.Content(FileProvider.GetImagePath(Common.Providers.Files.FilePaths.PhotoAlbums, false) + Model.Photos.ElementAt(counter).AlbumId + "/" + Model.Photos.ElementAt(counter).Image)" alt="@Model.Photos.ElementAt(counter).Image" title="Ga naar het album: @Model.Photos.ElementAt(counter).Name" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

    <script src="@Url.Content("~/Themes/Default/Content/js/owl.carousel.min.js")"></script>
    
        <script>
            $(document).ready(function () {
                $('#widgetPhotoAlbum #photoAlbumCarousel').owlCarousel({
                    items: 4,

                    // Basic Speeds
                    slideSpeed: 200,
                    paginationSpeed: 600,
                    rewindSpeed: 1000,

                    // Autoplay
                    autoPlay: true,
                    stopOnHover: true
                });
            });
        </script>
}

