﻿@model Common.Models.Home.Widgets.HtmlWidgetModel

@{
    Layout = null;
}

@*<div class="nextBlock">
    <div class="panel panel-primary">
        <div class="panel-heading">Artikel</div>
        <div class="panel-body">
          
        </div>
    </div>
</div>*@

@Html.Raw(Model.Text)

