﻿@model Common.Models.Home.Widgets.NewsWidgetModel

@{
    Layout = null;
}

<div id="widgetNewsArticles">
    @for (int counter = 0; Model.NewsArticles.Count > counter; counter++)
    {
        <div class="item">
            <h2 class="title">@Model.NewsArticles[counter].Title</h2>
            <small>Toegevoegd door <mark>@Model.NewsArticles[counter].Username</mark> op @string.Format("{0:d MMM yyyy}", Model.NewsArticles[counter].Date)</small>

            <p class="content">@Html.Raw(Model.NewsArticles[counter].Intro)</p>

            @Html.ActionLink("Lees meer →", "Artikel", "Nieuws", new { @id = Model.NewsArticles[counter].NewsId, @title = Model.NewsArticles[counter].Url }, new { @class = "btn btn-primary" })

            @if (Model.NewsArticles.Count - counter != 1)
            {<hr />}
        </div>
    }
</div>

@if (Model.Slide)
{
    <link href="@Url.Content("~/Content/css/owl.transitions.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Content/js/owl.carousel.min.js")"></script>

    <script>
        $(document).ready(function () {
            $('#widgetNewsArticles').owlCarousel({

                // Amount items to display
                items: 1,

                // Basic Speeds
                slideSpeed: 200,
                paginationSpeed: 1400,
                rewindSpeed: 1000,

                singleItem: true,
                transitionStyle: "goDown",

                // Autoplay
                autoPlay: true,
                stopOnHover: true,
            });
        });
    </script>
}
