﻿@model Common.ShareThisWidget

@{
    Layout = null;
}

<span class='st_sharethis_large' displayText='ShareThis'></span>
@if (Model.HasFacebook)
{
<span class='st_facebook_large' displayText='Facebook'></span>    
}

@if (Model.HasTwitter)
{
<span class='st_twitter_large' displayText='Tweet'></span>    
}

@if (Model.HasGooglePlus)
{
<span class='st_googleplus_large' displayText='Google +'></span>    
}

@if (Model.HasLinkedIn)
{
<span class='st_linkedin_large' displayText='LinkedIn'></span>    
}

@if (Model.HasPinterest)
{
    <span class='st_pinterest_large' displayText='Pinterest'></span>
}

@if (Model.HasEmail)
{
<span class='st_email_large' displayText='Email'></span>    
}

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "4e518568-5366-4b74-aa41-8b6104e98ebe", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

