﻿@model Common.Models.Home.Widgets.StatisticsWidgetModelcs

@{
    Layout = null;
}

@if (Model.ShowUsers)
{
    <span class="glyphicon glyphicon-user"></span> @Model.AmountUsers;
}

@if (Model.ShowBlogArticles)
{
    <span class="glyphicon glyphicon-globe"></span> @Model.AmountBlogArticles
}

@if (Model.ShowNewsArticles)
{
    <span class="glyphicon glyphicon-tags"></span> @Model.AmountNewsArticles
}

@if (Model.ShowPhotoAlbums)
{
    <span class="glyphicon glyphicon-camera"></span> @Model.AmountPhotoAlbums;
}

@if (Model.ShowPhotos)
{
    <span class="glyphicon glyphicon-picture"></span> @Model.AmountPhotos;
}

@if (Model.ShowUniqueVisitors)
{
    <span class="glyphicon glyphicon-signal"></span> @Model.AmountUniqueVisitors;
}

@if (Model.ShowHitsWebsite)
{
    <span class="glyphicon glyphicon-eye-open"></span> @Model.AmountHitsWebsite;
}


