﻿<div id="viewContent" data-url="@Url.Action("_Weergeven")"></div>

@section Styles{
    @Styles.Render("~/Areas/Admin/Content/css/select2.css")
    <link href="@Url.Content("~/Areas/Admin/Content/css/tree.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Admin/Content/css/ContextMenu/jquery.contextMenu.css")" rel="stylesheet" />
}

@section Scripts{
    @Scripts.Render("~/Areas/Admin/Content/select2")
    <script src="~/Areas/Admin/Content/js/fileButtonReplacer.js"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/FilesPage.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/contextMenu/jquery.contextMenu.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/contextMenu/jquery.ui.position.js")"></script>
}