﻿@model Common.Models.Admin.ViewModel.ConfiguratieModel

<div class="col-md-12" id="configuratie">
    <div class="row">
        <div class="col-md-12">

            <!-- Error -->
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    <h1>Error..</h1>
                    @Html.ValidationSummary()
                </div>
            }

            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Configuratie wijzigen</div>
                    <ul class="nav panel-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">SEO</a></li>
                        <li><a href="#tab2" data-toggle="tab">Email</a></li>
                        <li><a href="#tab3" data-toggle="tab">Registratie</a></li>
                        <li><a href="#tab4" data-toggle="tab">Reacties</a></li>
                        <li><a href="#tab5" data-toggle="tab">Optimalisatie</a></li>
                        <li><a href="#tab6" data-toggle="tab">Caching</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        <div class="tab-content padding-none border-none">

                            <div id="tab1" class="tab-pane active">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.HoofdTitel)
                                    @Html.TextBoxFor(m => m.HoofdTitel, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Titel)
                                    @Html.TextBoxFor(m => m.Titel, new { @class = "form-control" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Descriptie)
                                    @Html.TextAreaFor(m => m.Descriptie, new { @class = "form-control" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Keywoorden)
                                    @Html.TextAreaFor(m => m.Keywoorden, new { @class = "form-control" })
                                </div>

                            </div>

                            <div id="tab2" class="tab-pane">

                                <p>Met het no reply account kunnen gebruikers niet op de email reageren omdat dit account geen email inbox heeft.</p>
                                <p>U heeft twee email accounts, uw no reply email account wordt gebruikt bij bijvoorbeeld het versturen van een email. Het is niet de bedoeling dat mensen reageren op een nieuwsbrief email, daarom wordt er een no reply email account gebruikt. Het info account wordt gebruikt bij bijvoorbeeld het versturen van een contact formulier, nu kunt u makkelijk een email terug sturen.</p>

                                <ul class="nav well-tabs well-tabs-inverse margin-bottom">
                                    <li class="active"><a href="#tab25" data-toggle="tab">Info account</a></li>
                                    <li class=""><a href="#tab26" data-toggle="tab">No reply account</a></li>
                                </ul>

                                <div class="tab-content border-none padding-none">
                                    <div id="tab25" class="tab-pane active">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EmailInfoAccount)
                                            @Html.TextBoxFor(m => m.EmailInfoAccount, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EmailInfoWachtwoord)
                                            @Html.TextBoxFor(m => m.EmailInfoWachtwoord, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EmailInfoSmtpHost)
                                            @Html.TextBoxFor(m => m.EmailInfoSmtpHost, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EmailInfoSmtpPort)
                                            @Html.TextBoxFor(m => m.EmailInfoSmtpPort, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EmailInfoSmtpSecure)
                                            @Html.RadioButtonFor(m => m.EmailInfoSmtpSecure, Model.EmailInfoSmtpSecure)<span class="radioOption">Ja</span>
                                            @Html.RadioButtonFor(m => m.EmailInfoSmtpSecure, Model.EmailInfoSmtpSecure == false)<span class="radioOption">Nee</span>
                                        </div>
                                    </div>

                                    <div id="tab26" class="tab-pane">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EmailNoReplyAccount)
                                            @Html.TextBoxFor(m => m.EmailNoReplyAccount, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EmailNoReplyWachtwoord)
                                            @Html.TextBoxFor(m => m.EmailNoReplyWachtwoord, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EmailNoReplySmtpHost)
                                            @Html.TextBoxFor(m => m.EmailNoReplySmtpHost, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EmailNoReplySmtpPort)
                                            @Html.TextBoxFor(m => m.EmailNoReplySmtpPort, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EmailNoReplySmtpSecure)
                                            @Html.RadioButtonFor(m => m.EmailNoReplySmtpSecure, Model.EmailNoReplySmtpSecure)<span class="radioOption">Ja</span>
                                            @Html.RadioButtonFor(m => m.EmailNoReplySmtpSecure, Model.EmailNoReplySmtpSecure == false)<span class="radioOption">Nee</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div id="tab3" class="tab-pane">
                                <div class="form-group">
                                    <div class="fullWidth">
                                        <span class="info-icon tool-tip" data-toggle="tooltip" data-placement="right" title="Moeten gebruikers eerst goedgekeurd worden voordat zij kunnen inloggen na registratie?"></span>
                                        @Html.LabelFor(m => m.GebruikerVerificatie, new { @class = "tooltip-label" })
                                    </div>
                                    @Html.RadioButtonFor(m => m.GebruikerVerificatie, true, Model.GebruikerVerificatie ? new { @checked = "true" } : null) <span class="radioOption">Ja</span>
                                    @Html.RadioButtonFor(m => m.GebruikerVerificatie, false, Model.GebruikerVerificatie == false ? new { @checked = "true" } : null) <span class="radioOption">Nee</span>
                                </div>
                                <div class="form-group">
                                    <div class="fullWidth">
                                        <span class="info-icon tool-tip" data-toggle="tooltip" data-placement="right" title="Wanneer een gebruiker zich aanmeld mag er dan een welkom email naar de persoon gestuurd worden?"></span>
                                        @Html.LabelFor(m => m.WelkomEmail, new { @class = "tooltip-label" })
                                    </div>
                                    @Html.RadioButtonFor(m => m.WelkomEmail, true, Model.WelkomEmail ? new { @checked = "true" } : null) <span class="radioOption">Ja</span>
                                    @Html.RadioButtonFor(m => m.WelkomEmail, false, Model.WelkomEmail == false ? new { @checked = "true" } : null) <span class="radioOption">Nee</span>
                                </div>
                            </div>

                            <div id="tab4" class="tab-pane">
                                <div class="form-group">
                                    <div class="fullWidth">
                                        <span class="info-icon tool-tip" data-toggle="tooltip" data-placement="right" title="Moet een reactie op een blog eerst goed gekeurd worden voordat hij weergeven mag worden?"></span>
                                        @Html.LabelFor(m => m.ReactieBlog, new { @class = "tooltip-label" })
                                    </div>
                                    @Html.RadioButtonFor(m => m.ReactieBlog, true, Model.ReactieBlog ? new { @checked = "true" } : null) <span class="radioOption">Ja</span>
                                    @Html.RadioButtonFor(m => m.ReactieBlog, false, Model.ReactieBlog == false ? new { @checked = "true" } : null)<span class="radioOption">Nee</span>
                                </div>
                                <div class="form-group">
                                    <div class="fullWidth">
                                        <span class="info-icon tool-tip" data-toggle="tooltip" data-placement="right" title="Moet een reactie op een nieuwsartikel eerst goed gekeurd worden voordat hij weergeven mag worden?"></span>
                                        @Html.LabelFor(m => m.ReactieNieuws, new { @class = "tooltip-label" })
                                    </div>
                                    @Html.RadioButtonFor(m => m.ReactieNieuws, true, Model.ReactieNieuws ? new { @checked = "true" } : null)<span class="radioOption">Ja</span>
                                    @Html.RadioButtonFor(m => m.ReactieNieuws, false, Model.ReactieNieuws == false ? new { @checked = "true" } : null)<span class="radioOption">Nee</span>
                                </div>
                            </div>

                            <div id="tab5" class="tab-pane">
                                <div class="form-group">
                                    <div class="fullWidth">
                                        <span class="info-icon tool-tip" data-toggle="tooltip" data-placement="right" title="Wilt u een geuploade afbeelding automatisch optimaliseren? Dit kan lijden tot kwaliteitsverlies."></span>
                                        @Html.LabelFor(m => m.OptimizeImages, new { @class = "tooltip-label" })
                                    </div>
                                    @Html.CheckBoxFor(m => m.OptimizeImages) Afbeeldingen optimaliseren?
                                </div>
                            </div>

                            <div id="tab6" class="tab-pane">

                                <div class="form-group">
                                    <div class="fullWidth">
                                        <span class="info-icon tool-tip" data-toggle="tooltip" data-placement="right" title="Gegevens van de database die vaak worden gebruikt maar weinig wijzigen worden opgeslagen op de server. Wilt u deze gegevens verwijderen zodat ze opnieuw worden ingeladen?"></span>
                                        @Html.LabelFor(m => m.DeleteServerCache, new { @class = "tooltip-label" })
                                    </div>
                                    @Html.CheckBoxFor(m => m.DeleteServerCache) Server cache verwijderen?
                                </div>

                                <div class="form-group">
                                    <div class="fullWidth">
                                        <span class="info-icon tool-tip" data-toggle="tooltip" data-placement="right" title="Afbeeldingen en scripts worden automatisch opgeslagen op uw pc zodat de pagina sneller laad. Wilt u deze items verwijderen en opnieuw inladen?"></span>
                                        @Html.LabelFor(m => m.DeleteClientCache, new { @class = "tooltip-label" })
                                    </div>
                                    @Html.CheckBoxFor(m => m.DeleteClientCache) Client cache verwijderen?
                                </div>
                            </div>

                            <input type="submit" value="Wijzig alles!" class="btn btn-info btn-gradient" />
                        </div>
                    }
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
