﻿@model Common.Models.Admin.Configuration.BundleStatisticsModel

<div class="col-md-12" id="statistics">
    <div class="row">
        <div class="col-md-12">

            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Statistieken</div>
                </div>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-6">
                            <h4>Bezoekers</h4>
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th>Tijdperiode</th>
                                        <th>Aantal unieke bezoekers</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Deze week</td>
                                        <td>@Model.VisitsStats.VisitsThisWeek</td>
                                    </tr>
                                    <tr>
                                        <td>Deze maand</td>
                                        <td>@Model.VisitsStats.VisitsThisMonth</td>
                                    </tr>
                                    <tr>
                                        <td>Dit jaar</td>
                                        <td>@Model.VisitsStats.VisitsThisYear</td>
                                    </tr>
                                    <tr>
                                        <td>Totaal</td>
                                        <td>@Model.VisitsStats.VisitsAllTime</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-6">
                            <h4>Paginaweergaves</h4>
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th>Tijdperiode</th>
                                        <th>Aantal paginaweergaves</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Deze week</td>
                                        <td>@Model.VisitsStats.HitsThisWeek</td>
                                    </tr>
                                    <tr>
                                        <td>Deze maand</td>
                                        <td>@Model.VisitsStats.HitsThisMonth</td>
                                    </tr>
                                    <tr>
                                        <td>Dit jaar</td>
                                        <td>@Model.VisitsStats.HitsThisYear</td>
                                    </tr>
                                    <tr>
                                        <td>Totaal</td>
                                        <td>@Model.VisitsStats.HitsAllTime</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-12">
                            <hr />
                        </div>

                        <div class="col-md-6">
                            <h4>Gebruiker registraties</h4>
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th>Tijdperiode</th>
                                        <th>Aantal gebruikers registraties</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Deze week</td>
                                        <td>@Model.UserStats.UsersLastWeek</td>
                                    </tr>
                                    <tr>
                                        <td>Deze maand</td>
                                        <td>@Model.UserStats.UsersThisMonth</td>
                                    </tr>
                                    <tr>
                                        <td>Dit jaar</td>
                                        <td>@Model.UserStats.UsersThisYear</td>
                                    </tr>
                                    <tr>
                                        <td>Totaal</td>
                                        <td>@Model.UserStats.UsersAllTime</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-6">
                            <h4>Artikelen</h4>
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th>Soort</th>
                                        <th>Aantal artikelen</th>
                                        <th>Aantal Reacties</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Nieuws</td>
                                        <td>@Model.NewsStats.AmountArticles</td>
                                        <td>@Model.NewsStats.AmountComments</td>
                                    </tr>
                                    <tr>
                                        <td>Blog</td>
                                        <td>@Model.BlogStats.AmountArticles</td>
                                        <td>@Model.BlogStats.AmountComments</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-12">
                            <hr />
                        </div>

                        <div class="col-md-12">
                            <h4>Anders</h4>
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th>Soort</th>
                                        <th>Aantal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Nieuwsbrief</td>
                                        <td>@Model.AmountNewsletters</td>
                                    </tr>
                                    <tr>
                                        <td>Rollen</td>
                                        <td>@Model.AmountRoles</td>
                                    </tr>
                                    <tr>
                                        <td>Gastenboek</td>
                                        <td>@Model.AmountGuestbookComments</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="col-md-12">
                            <hr />
                        </div>

                        <div class="col-md-12">
                            <h4>Grafiek bezoekingen</h4>
                            <div id="chart_div" style="width: 100%;height:100%"></div>
                        </div>
                        
                         <div class="col-md-12">
                            <hr />
                        </div>
                        
                           <div class="col-md-12">
                            <h4>Server</h4>
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th>Soort</th>
                                        <th>Info</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Besturingssyteem</td>
                                        <td>@Model.ComputerInfo.WindowsVersion</td>
                                    </tr>
                                    <tr>
                                        <td>Processor</td>
                                        <td>@Model.ComputerInfo.ProcessorName</td>
                                    </tr>
                                    <tr>
                                        <td>Processor totale verbruik</td>
                                        <td>@Model.ComputerInfo.CpuUsage %</td>
                                    </tr>
                                    <tr>
                                        <td>Geheugen totaal geïnstalleerd:</td>
                                        <td>@Model.ComputerInfo.InstalledMemoryAmount Gb</td>
                                    </tr>
                                    <tr>
                                        <td>Geheugen applicatie verbruik:</td>
                                        <td>@Model.ComputerInfo.UsedMemoryAmount Mb</td>
                                    </tr>
                                      <tr>
                                        <td>Processor applicatie verbruik:</td>
                                        <td>@(Model.ComputerInfo.AppCpuUsage == -1 ? "Onbekend" : string.Format("{0} %", Model.ComputerInfo.CpuUsage))</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="https:/www.google.com/jsapi"></script>

    <script>
        google.load("visualization", "1", { packages: ["corechart"] });


     
        $(document).ready(function() {

            function drawChart() {

                $.get('/Configuratie/GetVisitorsJson', {},
                    function (data) {
                        var tdata = new google.visualization.DataTable();

                        tdata.addColumn('string', 'Datum');
                        tdata.addColumn('number', 'Hits');
                        tdata.addColumn('number', 'Bezoekers');

                        for (var i = 0; i < data.length; i++) {
                            tdata.addRow([data[i].Maand, data[i].PageViews, data[i].Visitors]);
                        }

                        var options = {
                            'width': '90%',
                            'height': '400',
                            'legend' : {
                                'position': 'bottom'
                            },
                            'chartArea' : {
                                'width': '90%',
                                'height': '300'
                            }
                        };

                        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                        chart.draw(tdata, options);
                    });

            }
                drawChart();
            });
        
    </script>
}
