﻿@model int
<div id="viewContent" data-url="@Url.Action("_ReactiesWeergeven", new {@id = Model})"></div>


@section Styles{
@Styles.Render("~/Areas/Admin/Content/css/datatables")
}

@section Scripts{
@Scripts.Render("~/Areas/Admin/Content/js/datatables")
<script type="text/javascript">
    $(function () {
        $('#datatable').footable();
    });
</script>
}