﻿@model Common.Models.Admin.ViewModel.BlogReactionModel

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Reactie wijzigen</div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.HiddenFor(m => m.BlogReactionId)

                        <div class="form-group">
                            @Html.LabelFor(m => m.Message)
                            @Html.TextAreaFor(m => m.Message, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Message)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Status)
                            @Html.CheckBoxFor(m=> m.Status, new {@class="make-switch"})
                            @Html.ValidationMessageFor(m => m.Status)
                        </div>

                        <input type="submit" value="Reactie wijzigen!" class="btn btn-info btn-gradient"/>
                    }
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Content/css/bootstrap-switch-min.css")" />
}

@section Scripts{
<script src="@Url.Content("~/Areas/Admin/Content/js/bootstrap-switch-min.js")"></script>
@Scripts.Render("~/Areas/Admin/Content/js/datatables")
@Scripts.Render("~/Areas/Admin/Content/tinymce")

    <script>
        tinyMCE.baseURL = "/Areas/Admin/Content/js/tinymce/";
        tinymce.init({
            selector: "textarea",
            language: 'nl',
            plugins: 'advlist autolink link image lists charmap print preview fullscreen table textcolor code paste template visualchars visualblocks'
        });
    </script>
}