﻿@using Widgets


<div id="indexContainer">
    <!-- Slider -->
    @{ Html.RenderPartial("~/Themes/Default/Views/Home/Slider/Slider.cshtml"); }

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <!-- Mogelijkheden -->
                    <div class="col-md-12 nextBlock">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Onze diensten
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 ">
                                        <div class="thumbnail">
                                            <img src="/Content/img/voorkant/voorkant1.png" alt="">
                                            <div class="caption">
                                                <h3>Haarkleuring</h3>
                                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                                <p><a href="#" class="btn btn-primary">Reserveren</a> <a href="#" class="btn btn-default">Bestellen</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 ">
                                        <div class="thumbnail">
                                            <img src="/Content/img/voorkant/voorkant3.png" alt="">
                                            <div class="caption">
                                                <h3>Föhnen</h3>
                                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                                <p><a href="#" class="btn btn-primary">Reserveren</a> <a href="#" class="btn btn-default">Bestellen</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 ">
                                        <div class="thumbnail">
                                            <img src="/Content/img/voorkant/voorkant2.png" alt="">
                                            <div class="caption">
                                                <h3>Knippen</h3>
                                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                                <p><a href="#" class="btn btn-primary">Reserveren</a> <a href="#" class="btn btn-default">Bestellen</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-footer"></div>
                        </div>

                    </div>

                    <!-- Prijslijst -->
                    <div class="col-md-12 nextBlock">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Prijslijst
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <ul class="text-center well list-unstyled">
                                            <li>
                                                <p>Sweat</p>
                                                <h1>€25</h1>
                                                <p class="muted"><i>per maand</i></p>
                                                <br>
                                            </li>
                                            <li><p>Haar extensies</p></li>
                                            <li><p>Knipbeurt</p></li>
                                            <li><p>2 haarverzorgende producten</p></li>
                                            <li><a href="#" class="btn btn-primary btn-block">Bestellen</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <!-- No br for featured plans -->
                                        <ul class="text-center well list-unstyled">
                                            <li>
                                                <p>Delicous</p>
                                                <h1>€50</h1>
                                                <p class="muted"><i>per maand</i></p>
                                                <br>
                                            </li>
                                            <li><p>Haar extensies</p></li>
                                            <li><p>Knipbeurt</p></li>
                                            <li><p>2 haarverzorgende producten</p></li>
                                            <li><a href="#" class="btn btn-primary btn-block">Bestellen</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <ul class="text-center well list-unstyled">
                                            <li>
                                                <p>Amazing</p>
                                                <h1>€75</h1>
                                                <p class="muted"><i>per maand</i></p>
                                                <br>
                                            </li>
                                            <li><p>Haar extensies</p></li>
                                            <li><p>Knipbeurt</p></li>
                                            <li><p>2 haarverzorgende producten</p></li>
                                            <li><a href="#" class="btn btn-primary btn-block">Bestellen</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>

                    <!-- Medewerkers -->
                    <div class="col-md-12 nextBlock">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Medewerkers
                            </div>
                            <div class="panel-body">
                                <div class="jcarousel-wrapper" id="medewerkersCarousel">
                                    <div class="gallery effect-1">
                                        <div class="jcarousel" data-jcarousel="true">
                                            <ul>
                                                <li>
                                                    <div class="thumbnail">
                                                        <a href="#">
                                                            <img src="/Content/img/voorkant/medewerker1.jpg">
                                                        </a>
                                                        <div class="caption clearfix">
                                                            <div class="pull-left">
                                                                <b>Medewerkers naam</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="thumbnail">
                                                        <a href="#">
                                                            <img src="/Content/img/voorkant/medewerker2.jpg">
                                                        </a>
                                                        <div class="caption clearfix">
                                                            <div class="pull-left">
                                                                <b>Medewerkers naam</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="thumbnail">
                                                        <a href="#">
                                                            <img src="/Content/img/voorkant/medewerker3.jpg">
                                                        </a>
                                                        <div class="caption clearfix">
                                                            <div class="pull-left">
                                                                <b>Medewerkers naam</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="thumbnail">
                                                        <a href="#">
                                                            <img src="/Content/img/voorkant/medewerker4.jpg">
                                                        </a>
                                                        <div class="caption clearfix">
                                                            <div class="pull-left">
                                                                <b>Medewerkers naam</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="thumbnail">
                                                        <a href="#">
                                                            <img src="/Content/img/voorkant/medewerker5.jpg">
                                                        </a>
                                                        <div class="caption clearfix">
                                                            <div class="pull-left">
                                                                <b>Medewerkers naam</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="pull-right nextBlock">
                                            <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true"></a>
                                            <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true"></a>
                                        </div>
                                        @*<p class="jcarousel-pagination" data-jcarouselpagination="true"><a href="#1" class="active">1</a><a href="#2">2</a><a href="#3">3</a><a href="#4">4</a><a href="#5">5</a><a href="#6">6</a></p>*@
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Plugins -->
            <div class="col-md-12">
                @{
                    Html.RenderWidgetSection("MiddleContent");
                }
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Content/js/jCarousel.js")"></script>

<script>
    $(document).ready(function() {
        $('#homeSlider').carousel();
        (function($) {
            $(function() {
                var jcarousel = $('.jcarousel');

                jcarousel
                    .on('jcarousel:reload jcarousel:create', function() {
                        var width = jcarousel.innerWidth();

                        if (width >= 600) {
                            width = width / 5;
                        } else if (width >= 350) {
                            width = width / 2;
                        }

                        jcarousel.jcarousel('items').css('width', width + 'px');
                    })
                    .jcarousel({
                        wrap: 'circular'
                    });

                $('.jcarousel-control-prev')
                    .jcarouselControl({
                        target: '-=1'
                    });

                $('.jcarousel-control-next')
                    .jcarouselControl({
                        target: '+=1'
                    });

                $('.jcarousel-pagination')
                    .on('jcarouselpagination:active', 'a', function() {
                        $(this).addClass('active');
                    })
                    .on('jcarouselpagination:inactive', 'a', function() {
                        $(this).removeClass('active');
                    })
                    .on('click', function(e) {
                        e.preventDefault();
                    })
                    .jcarouselPagination({
                        perPage: 1,
                        item: function(page) {
                            return '<a href="#' + page + '">' + page + '</a>';
                        }
                    });

                //var imageWidth = $('#medewerkersCarousel img').width();
                //var sliderItemWidth = $('#medewerkersCarousel li').width();
                //var sliderDifference = (sliderItemWidth - imageWidth);


//$('#medewerkersCarousel .thumbnail').css({ 'margin-left': sliderDifference / 2, 'margin-right': sliderDifference / 2 });
            });
        })(jQuery);
    });

</script>