﻿@model IEnumerable<Common.Models.Admin.ViewModel.ViewBannerSliderModel>

@{
    Layout = null;
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Alle afbeeldingen</div>
                </div>
                <div class="panel-body">
                   <div class="pull-right">
                        @Html.TextBox("datatableText", null, new { @class = "form-control", @placeholder="Zoeken.." })     
                    </div>
                   
                    <table id="datatable" class="table table-striped" data-filter="#datatableText" data-filter-minimum="1">
                        <thead>
                            <tr>
                                <th>Titel</th>
                                <th>Afbeelding</th>
                                <th data-hide="phone">Wijzigen</th>
                                <th data-hide="phone">Verwijderen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var image in Model)
                            {
                                <tr>
                                    <td>@image.Title</td>
                                    <td>@image.ImageName</td>
                                    <td>@Html.ActionLink("Wijzig", "Wijzig", new { @id = image.BannerSliderId }, new { @class = "btn btn-xs btn-warning btn-gradient" })</td>
                                    <td>@Html.ActionLink("Verwijder", "Verwijder", new { @id = image.BannerSliderId }, new { @class = "btn btn-xs btn-danger btn-gradient" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>