﻿@using Common.Providers.Date
@model IEnumerable<Common.Models.Admin.ViewModel.FotoAlbumModel>

@{
    Layout = null;
}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Alle fotoalbums</div>
                </div>
                <div class="panel-body">
                      <div class="pull-right">
                        @Html.TextBox("datatableText", null, new { @class = "form-control", @placeholder="Zoeken.." })     
                    </div>
                   
                    <table id="datatable" class="table table-striped" data-filter="#datatableText" data-filter-minimum="1">
                        <thead>
                            <tr>
                                <th>Titel</th>
                                <th data-hide="phone">Aantal foto's</th>
                                <th data-hide="phone">Status</th>
                                <th data-hide="phone, tablet">Wijzigen</th>
                                <th data-hide="phone, tablet">Verwijderen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var album in Model)
                            {
                                <tr>
                                    <td>@album.Titel</td>
                                    <td>@album.AantalFotos</td>
                                    <td>@(album.Status ? Html.Raw("<span class='label label-success'>Zichtbaar</span>") : Html.Raw("<span class='label label-danger'>Onzichtbaar</span>"))</td>
                                    <td>@Html.ActionLink("Wijzigen", "Wijzig", new { @id = album.AlbumId }, new { @class = "btn btn-xs btn-warning btn-gradient" })</td>
                                    <td>@Html.ActionLink("Verwijder", "Verwijder", new { @id = album.AlbumId }, new { @class = "btn btn-xs btn-danger btn-gradient" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>