﻿@model Common.Models.Admin.Widgets.BlogWidgetModel

@{
    Layout = null;
}

@using (Html.BeginForm("BlogSettings", "Widgets"))
{
    <div class="row">
        <div class="col-md-4">
            @Html.HiddenFor(m => m.BlogWidgetId)

            <div class="form-group">
                @Html.LabelFor(m => m.Amount)
                @Html.DropDownListFor(m => m.Amount, Model.ListAmount())
            </div>

            <div class="form-group">
                <div class="fullWidth">
                    <span class="info-icon tool-tip" data-toggle="tooltip" data-placement="right" title="Wilt u doormiddel van een slider een artikel per keer zien?"></span>
                    @Html.LabelFor(m => m.Slide, new { @class = "tooltip-label" })
                </div>
               
                @Html.CheckBoxFor(m => m.Slide) Artiken sliden?
            </div>

            <input type="submit" class="btn btn-default btn-gradient" value="Opslaan" />
        </div>
    </div>
}
