﻿@model Common.Models.Admin.Widgets.EditHtmlWidgetModel

@{
    Layout = null;
}

@using (Html.BeginForm("HtmlSettings", "Widgets"))
{
        @Html.HiddenFor(m => m.HtmlWidgetId)

        <div class="form-group">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m=> m.Title, new {@class="form-control"})
        </div>
            
        <div class="form-group">
            @Html.LabelFor(m => m.Html)
            @Html.TextAreaFor(m=> m.Html)
        </div>

        <input type="submit" class="btn btn-default btn-gradient" value="Opslaan" />
}

@Scripts.Render("~/Areas/Admin/Content/tinymce")

<script>

    $(document).on("InstalledWidgets", initHtmlWidget);

        function initHtmlWidget() {
            tinyMCE.baseURL = "/Areas/Admin/Content/js/tinymce/";
            tinymce.init({
                selector: "textarea",
                language: 'nl',
                plugins: 'advlist autolink link image lists charmap print preview fullscreen table textcolor code paste template visualchars visualblocks'
            });
        }
  
</script>
