﻿@model Common.Models.Admin.Widgets.EditPhotoWidget

@{
    Layout = null;
}

@using (Html.BeginForm("PhotoSettings", "Widgets"))
{
    <div class="row">
        <div class="col-md-12">
            
            <p>Wanneer u een afbeelding toevoegd of verwijderd dan wordt dit gelijk opgeslagen, de opslaan knop slaat alleen de aantal items en of de widget moet sliden op.</p>

            @Html.HiddenFor(m => m.PhotoWidgetId, new { @id = "PhotoWidgetId" })

            <div class="form-group">
                @Html.LabelFor(m => m.Albums)
                @Html.DropDownListFor(m => m.AlbumId, Model.Albums, new { @id = "selectedAlbum" })
            </div>

            <div id="photosContent">
                @{Html.RenderPartial("Shared/Photos", Model.Photos);}
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m=> m.AmountItems)
                @Html.TextBoxFor(m=> m.AmountItems, new {@class="form-control"})
            </div>

            <div class="form-group">
                <div class="fullWidth">
                    <span class="info-icon tool-tip" data-toggle="tooltip" data-placement="right" title="Wilt u doormiddel van een slider een foto per keer zien?"></span>
                    @Html.LabelFor(m => m.Slide, new { @class = "tooltip-label" })
                </div>

                @Html.CheckBoxFor(m => m.Slide) Foto sliden?
            </div>

            <input type="submit" class="btn btn-default btn-gradient" value="Opslaan" />
        </div>
    </div>
}

<script>
    $(document).ready(function () {

        $(document).on("InstalledWidgets", initializePhoto);

        function initializePhoto() {

            function getSelectedAlbum() {
                return $('#selectedAlbum').val();
            }

                function getSelectedPhotoId() {
                    return $('#select2Photos').val();
                }

            function getPhotoWidgetId() {
                return $('#PhotoWidgetId').val();
            }

            $('#selectedAlbum').select2({
                width: '100%'
            });

            $('.tool-tip').tooltip();

            $('#select2Photos').select2({
                width: '100%'
            });

            $('body').on('click', '#addPhoto', function () {

                $(this).text('Foto wordt toegevoegd..').attr('disabled', 'disabled');

                if (getSelectedAlbum() == "" || getSelectedAlbum() == undefined) {
                    alert('U heeft geen album gekozen.');
                    return;
                }

                if (getSelectedPhotoId() == "" || getSelectedPhotoId() == undefined) {
                    alert('U heeft geen afbeelding gekozen.');
                    return;
                }

                $.ajax({
                    url: 'AddPhotoAndRefreshPhotos',
                    data: {
                        photoId: getSelectedPhotoId(),
                        photoWidgetId: getPhotoWidgetId()
                    }
                }).done(function (data) {
                    $('#photosContent').html(data);
                    $('#select2Photos').select2({
                        width: '100%'
                    });

                }).fail(function () {
                    alert("Het is niet gelukt om de foto toe te voegen, probeer het later nog eens.");
                }).always(function() {
                    $(this).text('Foto toevoegen').attr('disabled', 'false');
                });
            });

            $('body').on('click', '#selectedPhotosContainer .removeIcon', function() {
                $.ajax({
                    url: 'DeleteAndReloadPhotos',
                    data: {
                        albumId: getSelectedAlbum(),
                        photoId: $(this).parent().find('#selectedPhotoId').val(),
                        photoWidgetId: getPhotoWidgetId()
                    }
                }).done(function(data) {
                    $('#photosContent').html(data);
                    $('#select2Photos').select2({
                        width: '100%'
                    });
                }).fail(function() {
                    alert('Het is niet gelukt om de afbeelding te verwijderen, probeer het later nog eens');
                });
            });

            $('#selectedAlbum').on('select2-selecting', function (e) {

                $.ajax({
                    url: 'GetPhotosByAlbumId',
                    data: {
                        albumId: e.object.id,
                        photoWidgetId: getPhotoWidgetId()
                    }
                }).done(function (data) {
                    $('#photosContent').html(data);
                    $('#select2Photos').select2({
                        width: '100%'
                    });
                }).fail(function () {
                    alert("Het is niet gelukt om de foto's op te halen van dit album, probeer het later nog eens");
                });

            });

            //$('#select2Photos').select2({
            //    data: function () {
            //        $.ajax({
            //            url: 'GetSelectedPhotos',
            //            dataType: 'json',
            //            data: {
            //                photoWidgetId: getPhotoWidgetId()
            //            }
            //        }).done(function (data) {
            //            return { results: data };
            //        });

            //    }
            //});

        }

    });
</script>