﻿@model Common.Models.Admin.Widgets.SettingsSocialShareWidgetModel

@{
    Layout = null;
}

@using (Html.BeginForm("SocialSettings", "Widgets"))
{
    <div class="row">
        <div class="col-md-4">
            @Html.HiddenFor(m => m.ShareId)

            <div class="form-group">
                @Html.LabelFor(m => m.HasFacebook)
                @Html.CheckBoxFor(m=> m.HasFacebook) Facebook inschakelen?
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.HasTwitter)
                @Html.CheckBoxFor(m=> m.HasTwitter) Twitter inschakelen?
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.HasGooglePlus)
                @Html.CheckBoxFor(m=> m.HasGooglePlus) Google+ Inschakelen?
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.HasLinkedIn)
                @Html.CheckBoxFor(m=> m.HasLinkedIn) LinkedIn inschakelen?
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.HasPinterest)
                @Html.CheckBoxFor(m=> m.HasPinterest) Pinterest inschakelen?
            </div>

            <input type="submit" class="btn btn-default btn-gradient" value="Opslaan" />
        </div>
    </div>
}
