﻿@model Common.Models.Admin.Widgets.EditTwitterModule

@{
    Layout = null;
}

@using (Html.BeginForm("TwitterSettings", "Widgets"))
{
    <div class="row">
        <div class="col-md-4">
            @Html.HiddenFor(m => m.TwitterWidgetId)

            <div class="form-group">
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConsumerKey)
                @Html.TextBoxFor(m => m.ConsumerKey, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConsumerSecret)
                @Html.TextBoxFor(m => m.ConsumerSecret, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ReturnUrl)
                @Html.TextBoxFor(m => m.ReturnUrl, new {@class= "form-control"})
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.AmountTweets)
                @Html.DropDownListFor(m => m.AmountTweets, Model.ListAmount())
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.IncludeReplies)
                @Html.CheckBoxFor(m => m.IncludeReplies) Wilt u uw reacties weergeven op een tweet?
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.IncludeRetweets)
                @Html.CheckBoxFor(m => m.IncludeRetweets) Wilt u geretweete tweets weergeven?
            </div>

            <input type="submit" value="Opslaan" class="btn btn-default btn-gradient" />
        </div>
    </div>
}
