﻿<div id="viewContent" data-url="@Url.Action("_Weergeven")"></div>


@section Styles{
    @Styles.Render("~/Areas/Admin/Content/css/select2.css")
}

@section Scripts{

    @Scripts.Render("~/Areas/Admin/Content/select2")

    <script>
        $(document).ready(function() {

            var currentRemovedActiveWidgetId;

            $(document).on("AjaxLoadingComplete", startDraggable);

            function getNewIndex() {
                var savedValue = 0;
                var indexCounter = 0;
                $('.installedWidgetsList').each(function() {

                    $(this).find('* > div').each(function() {
                        if ($(this).attr('class').indexOf('well') >= 0) {
                            savedValue = indexCounter;
                            return false;
                        }
                        indexCounter++;
                    });

                    indexCounter = 0;
                });

                return savedValue;
            }

            function startDraggable() {

                $(".installedWidgetsList").sortable({
                    dropOnEmpty: true,
                    forcePlaceholderSize: true,
                    tolerance: "intersect",
                    connectWith: ".installedWidgetsList",
                    items: '.installedWidget',
                    receive: function(event, ui) {

                        // Add widget
                        if (this.id != "deleteList") {

                            console.log("Toevoegen");

                            showLoadingScreen();

                            var _widgetId = $(this).find('#widgetId').val();
                            var _pageId = getSelectedPageId();
                            var _sectionId = $(this).find('#themeSectionId').val();
                            var _order = getNewIndex();

                            //  Add widget to this seo page
                            $.ajax({
                                url: 'AddWidgetToPage',
                                async: false,
                                cache: false,
                                data: {
                                    pageId: _pageId,
                                    kindWidget: _widgetId,
                                    sectionId: _sectionId,
                                    order: _order,
                                }
                            }).done(function(data) {
                                if (data == "True") {
                                    refreshInstalledWidgets();
                                }

                            }).error(function() {
                                alert('Het is niet gelukt om de widget toe te voegen aan deze pagina, probeer het later nog eens.');
                            });
                        }
                        // Delete - If this is the delete list and it isn't an available widget
                        else if (this.id == "deleteList" && ui.sender.parent().parent().parent().parent().attr('id') != "availableWidgets") {
                            var confirmMessage = confirm("Weet u zeker dat u deze widget wilt verwijderen, alle gegevens van deze widget zullen definitief verloren gaan.");

                            if (confirmMessage) {
                                showLoadingScreen();
                                var activeWidgetId = $(this).find('#activeWidgetId').val();
                                var kindWidgetId = $(this).find('#kindWidgetId').val();

                                currentRemovedActiveWidgetId = activeWidgetId;

                                $.ajax({
                                    url: 'DeleteActiveWidget',
                                    data: {
                                        activeWidgetId: activeWidgetId,
                                        kindWidgetId: kindWidgetId
                                    }
                                }).fail(function() {
                                    alert('Het is helaas niet gelukt om deze widget te verwijderen, probeer het later nog eens');
                                }).done(function(data) {
                                    if (data == "True") {
                                        console.log("Klaar met verwijderen");
                                        refreshInstalledWidgets();
                                    }
                                });
                            }
                        } else {
                            alert('U kunt geen beschikbare widgets hier naar toe slepen.');
                            refreshInstalledWidgets();
                        }
                    },
                    update:
                        function(event, ui) {

                            var activeWidgetId = $(this).find('#activeWidgetId').val();

                            if (currentRemovedActiveWidgetId != activeWidgetId) {

                                console.log("Update");

                                showLoadingScreen();

                                var jsonInstalledWidgetsArray = [];

                                var sectionId = $(this).attr('id');

                                $('#' + sectionId + ' li').each(function(index) {
                                    var jsonInstalledWidget = {};

                                    jsonInstalledWidget["ActiveWidgetId"] = $(this).find('#activeWidgetId').val();
                                    jsonInstalledWidget["WidgetOrder"] = index;

                                    jsonInstalledWidgetsArray.push(jsonInstalledWidget);
                                });

                                $.ajax({
                                    url: 'UpdateOrderWidgets',
                                    data: {
                                        json: JSON.stringify(jsonInstalledWidgetsArray)
                                    }
                                }).done(function(data) {

                                    if (data == "True") {
                                        refreshInstalledWidgets();
                                    }

                                }).error(function() {
                                    alert('Het is niet gelukt om de order van de geïnstalleerde widgets te wijzigen.');
                                });
                            }
                        }
                });

                $("#availableWidgets li .well").draggable({
                    connectToSortable: ".installedWidgetsList",
                    helper: "clone",
                    revert: "invalid"
                });

                $("ul, li").disableSelection();
            }

            // On page change event
            $('body').on('change', '#SeoPageId', function() {

                // Refresh widgets
                refreshInstalledWidgets();
            });

            function getSelectedPageId() {
                // Get selected page id
                return $('#SeoPageId').val();
            }

            function refreshInstalledWidgets() {

                // Show loading screen
                showLoadingScreen();

                // Perform ajax request
                $.ajax({
                    url: 'GetActiveWidgetsView/' + parseInt(getSelectedPageId())
                }).fail(function () {

                    alert('Het is niet gelukt om de active widgets op te halen, probeer het later nog eens.');

        }).done(function(data) {

            // Set content
            $('#activeWidgetsContent').html(data);

            // Initialize draggable & sortable jquery again
            startDraggable();

            // Trigger event
            $.event.trigger({
                type: "InstalledWidgets",
            });

            // Hide loading screen
            hideLoadingScreen();

        });
        }

        $('body').on('click', '.editIcon', function() {
            $(this).parent().parent().parent().find('.modal').modal('show');
        });

    });
    </script>
}