﻿@model Common.Models.Admin.Themes.Edit.FileTabModel[]

<ul id="filesTab" class="nav tabs-left">
    @for (int counterFiles = 0; Model.Length > counterFiles; counterFiles++)
    {
        <li @if(counterFiles == 0){@Html.Raw("class='active'")}>
            @using (Html.BeginForm())
            {   @Html.Hidden("selectedPath")
                @Html.HiddenFor(m=> m[counterFiles].SelectedPath, new {@Value = Model[counterFiles].FilePath})
            }
            <a href="#">@Model[counterFiles].Name</a>
        </li>
    }

</ul>
