﻿@using Common.Providers.Routes
@model Common.Models.Admin.Themes.Edit.BundleEditFileModel
<div class="tab-content">

    <div id="tab0" class="tab-pane active">
        @if (Model.FileModel != null)
        {
            <p><b>Laatst gewijzigd: @string.Format("{0: d MMM yyyy HHH:mm}", Model.FileModel.LastEdited)</b></p>


            using (Html.BeginForm("EditFile", "Themes", FormMethod.Post, new {enctype = "multipart/form-data", @id = "editFileForm" }))
            {
                @Html.HiddenFor(m => m.EditFileModel.FilePath)
                @Html.HiddenFor(m=> m.EditFileModel.IsImage)
            
                if (RouteProvider.GetAction().Equals("Afbeeldingen", StringComparison.CurrentCultureIgnoreCase))
                {
                    <div class="fullWidth">
                        <img src="/@Model.EditFileModel.DisplayFilePath" alt="Afbeelding" />
                    </div>

                    @Html.TextBoxFor(m=> m.EditFileModel.UploadedImage, new {@type = "file", @class="margin-top"})
                }
                else
                {
                    @Html.TextAreaFor(m => m.EditFileModel.FileContent)
                }
            }
        }
        else
        {
            <p>Geen bestanden gevonden om te weergeven!</p>
        }
    </div>
</div>
