﻿@{
    Layout = null;
}

@using Theme
@model Common.Models.Admin.Themes.ViewThemesModel

<div class="col-md-12" id="themes">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Alle thema's</div>
                    <ul class="nav panel-tabs">
                        <li>
                            @Html.ActionLink("Thema toevoegen", "Toevoegen", "Themes")
                        </li>
                    </ul>
                </div>
                <div class="panel-body">

                    <div id="themesListContainer" class="row">
                        
                        @foreach (var themeSection in Model.Themes)
                        {
                            <div class="col-md-3 col-sm-6">
                                <div class="media-content">
                                    <img src="@Url.Content("~/Themes/" + themeSection.Location + "/" + themeSection.Image)" class="img-responsive" />

                                    <h4 class="media-heading">@themeSection.Name</h4>
                                    <p>@themeSection.Description</p>

                                    <hr />
                                    
                                    @if (Model.ActiveThemeId != themeSection.ThemeId)
                                    {
                                        @Html.ActionLink("Activeren", "Activate", new {id = themeSection.ThemeId}, new {@class = "btn btn-default btn-block"})
                                    }
                                    else
                                    {
                                        <button disabled class="btn btn-default btn-block">Ge-activeerd</button>
                                    }
                                    
                                    @if (ThemeConfiguration.HasThemeCookie() && themeSection.Name.Equals(ThemeConfiguration.GetThemeCookie()))
                                    {
                                        @Html.ActionLink("Proberen stoppen", "DisableTryTheme", new {@name = themeSection.Name}, new {@class = "btn btn-primary btn-block"})
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Proberen", "EnableTryTheme", null, new {@name = themeSection.Name}, new {@class = "btn btn-primary btn-block tool-tip", @data_toggle="tooltip", @data_placement="right", @title="Deze thema wordt alleen weergeven voor u."})
                                    }

                                </div>

                                <!-- Modal Info -->
                                <div class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Thema informatie</h4>
                                            </div>

                                            <div class="modal-body">


                                                <div class="row">

                                                    <div class="col-md-12">
                                                        <img src="@Url.Content("~/Themes/" + themeSection.Location + "/" + themeSection.Image)" class="img-responsive" />
                                                        <h4>@themeSection.Name</h4>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                Informatie
                                                            </div>
                                                            <div class="col-md-8">
                                                                @themeSection.Description
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                Auteur
                                                            </div>
                                                            <div class="col-md-8">
                                                                @themeSection.Author
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                Auteur website
                                                            </div>
                                                            <div class="col-md-8">
                                                                <a href="@themeSection.AuthorWebsite" target="_blank">Bezoek auteur website</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                Thema website
                                                            </div>
                                                            <div class="col-md-8">
                                                                <a href="@themeSection.ThemeWebsite" target="_blank">Bezoek thema website</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                Versie
                                                            </div>
                                                            <div class="col-md-8">
                                                                @themeSection.Version
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- End modal info -->

                            </div>
                        }
                    </div>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
