﻿@model IEnumerable<Common.Models.Admin.Data.RolePermissionModel>

<div id="viewContent" data-url="@Url.Action("_EasyWeergave")"></div>

@section Styles{
    <link href="@Url.Content("~/Areas/Admin/Content/css/tree.css")" rel="stylesheet" />
}
@section Scripts{
    <script src="@Url.Content("~/Areas/Admin/Content/js/bootstrap-tree.js")"></script>
}