﻿@model Common.Models.Admin.ViewModel.RightsModel

@{
    ViewBag.Title = "Groep toevoegen";
}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Rol toevoegen</div>
                </div>
                <div class="panel-body">

                    <!-- Groepen Tabs -->
                    @using (Html.BeginForm())
                    {
                        @Html.LabelFor(m => m.RoleName)
                        @Html.TextBoxFor(m => m.RoleName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.RoleName)

                        <table class="table table-widget table-striped">
                            <thead>
                                <tr>
                                    <th>Recht</th>
                                    <th>Machtiging</th>
                                </tr>
                            </thead>
                            <tbody>

                                @for (var counter = 0; Model.Rights.Count > counter; counter++)
                                {
                                    <tr>
                                        <td>@Model.Rights[counter].RightName</td>
                                        <td>@Html.CheckBoxFor(m => m.Rights[counter].Selected)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <input type="submit" value="Groep toevoegen" class="btn btn-info btn-gradient" />
                    }
                </div>
                <div class="panel-footer"></div>
            </div>



        </div>

    </div>
</div>