﻿@model IEnumerable<Common.Models.Home.Guestbook.GuestBookModel>

@foreach (var subGuestbook in Model)
{
    <div class="col-md-11 col-md-push-1">
        <div class="media">
            <div class="media-body">
                <h2 class="media-heading"><a href="#">@subGuestbook.Author</a></h2>
                <p class="date">@string.Format("{0:d-M-yyyy}", subGuestbook.Date)</p>
                <p class="comment">@subGuestbook.Comment</p>
            </div>
        </div>
    </div>
}