﻿@model Common.Models.Admin.ViewModel.BannerSliderModel

@{
    ViewBag.Title = "Afbeelding toevoegen";
}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Afbeelding toevoegen</div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Toevoegen", "BannerSlider", FormMethod.Post, new {enctype = "multipart/form-data", id = "form"}))
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Title)
                            @Html.TextBoxFor(m => m.Title, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Title)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Description)
                            @Html.TextAreaFor(m => m.Description, new {@class = "form-control", @rows = "3"})
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Image)
                            @Html.TextBoxFor(m => m.Image, new {@type = "file", @multiple = "true"})
                            @Html.ValidationMessageFor(m => m.Image)
                        </div>

                        <input type="submit" value="Afbeelding toevoegen!" class="btn btn-info btn-gradient" />
                    }
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@Url.Content("~/Areas/Admin/Content/js/fileButtonReplacer.js")"></script>
}