﻿@model Common.Models.Admin.ViewModel.BannerSliderModel

<div class="col-md-12" id="bannerSlider">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Afbeelding wijzigen</div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Toevoegen", "BannerSlider", FormMethod.Post, new {enctype = "multipart/form-data", id = "form"}))
                    {
                        @Html.HiddenFor(m => m.BannerSliderId)

                        <div class="form-group">
                            @Html.LabelFor(m => m.Title)
                            @Html.TextBoxFor(m => m.Title, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Title)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Description)
                            @Html.TextAreaFor(m => m.Description, new {@class = "form-control", @rows = "3"})
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>

                        <div class="form-group">
                            <div class="fullWidth">
                                <span class="info-icon tool-tip" data-toggle="tooltip" data-placement="right" title="Als u een nieuwe afbeelding kiest dan wordt de vorige verwijderd."></span>
                                @Html.LabelFor(m => m.Image, new { @class = "tooltip-label" })
                            </div>
                            @Html.TextBoxFor(m => m.Image, new {@type = "file"})
                            @Html.ValidationMessageFor(m => m.Image)
                        </div>

                        <input type="submit" value="Afbeelding toevoegen!" class="btn btn-info btn-gradient" />
                    }
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@Url.Content("~/Areas/Admin/Content/js/fileButtonReplacer.js")"></script>
}