﻿@model Common.Models.Home.Account.BundleAccountModel

<div id="accountContainer" class="container">


    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Account gegevens</li>
    </ul>



    <div class="nextBlock">
        <div class="panel panel-primary">
            <div class="panel-heading">Account</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="tabbable tabs-left">
                                    <ul class="nav nav-tabs">
                                        <li class="@if (Model.ActiveTab == 1)
                                                   {
                                                       @Html.Raw("active")
                                                   }"><a href="#tab1" data-toggle="tab">Gegevens</a></li>
                                        <li class="@if (Model.ActiveTab == 2)
                                                   {
                                                       @Html.Raw("active")
                                                   }"><a href="#tab2" data-toggle="tab">Wachtwoord</a></li>
                                        <li class="@if (Model.ActiveTab == 3)
                                                   {
                                                       @Html.Raw("active")
                                                   }"><a href="#tab3" data-toggle="tab">Beveiliging</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="tab-content">
                                    <div class="tab-pane @if (Model.ActiveTab == 1)
                                                         {
                                                             @Html.Raw("active")
                                                         }" id="tab1">
                                        <div class="row">
                                            <div class="col-md-9">
                                                @using (Html.BeginForm("Index", "Account", FormMethod.Post, new {enctype = "multipart/form-data"}))
                                                {
                                                    @Html.AntiForgeryToken()

                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.AccountModel.Voornaam)
                                                        @Html.TextBoxFor(m => m.AccountModel.Voornaam, new {@class = "form-control"})
                                                        @Html.ValidationMessageFor(m => m.AccountModel.Voornaam)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.AccountModel.Achternaam)
                                                        @Html.TextBoxFor(m => m.AccountModel.Achternaam, new {@class = "form-control"})
                                                        @Html.ValidationMessageFor(m => m.AccountModel.Achternaam)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.AccountModel.Email)
                                                        @Html.TextBoxFor(m => m.AccountModel.Email, new {@class = "form-control"})
                                                        @Html.ValidationMessageFor(m => m.AccountModel.Email)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.AccountModel.Woonplaats)
                                                        @Html.TextBoxFor(m => m.AccountModel.Woonplaats, new {@class = "form-control"})
                                                        @Html.ValidationMessageFor(m => m.AccountModel.Woonplaats)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.AccountModel.Postcode)
                                                        @Html.TextBoxFor(m => m.AccountModel.Postcode, new {@class = "form-control"})
                                                        @Html.ValidationMessageFor(m => m.AccountModel.Postcode)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.AccountModel.Straat)
                                                        @Html.TextBoxFor(m => m.AccountModel.Straat, new {@class = "form-control"})
                                                        @Html.ValidationMessageFor(m => m.AccountModel.Straat)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.AccountModel.Huisnummer)
                                                        @Html.TextBoxFor(m => m.AccountModel.Huisnummer, new {@class = "form-control"})
                                                        @Html.ValidationMessageFor(m => m.AccountModel.Huisnummer)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.AccountModel.AdresToevoeging)
                                                        @Html.TextBoxFor(m => m.AccountModel.AdresToevoeging, new {@class = "form-control"})
                                                        @Html.ValidationMessageFor(m => m.AccountModel.AdresToevoeging)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.AccountModel.SubscriptionNewsletter)
                                                        <div class="checkbox">
                                                            <label>
                                                                @Html.CheckBoxFor(m => m.AccountModel.SubscriptionNewsletter) Wilt u zich abboneren op onze nieuwsbrief?
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.AccountModel.ProfilePhoto)
                                                        <small>Het is niet verplicht om een profielfoto te kiezen.</small>
                                                        @Html.TextBoxFor(m => m.AccountModel.ProfilePhoto, new {@type = "file"})
                                                        <input type="button" value="Profielfoto kiezen" class="btn btn-default" id="choseProfileImage" />
                                                        @Html.ValidationMessageFor(m => m.AccountModel.ProfilePhoto)
                                                    </div>

                                                    <input type="submit" class="btn btn-info btn-gradient" value="Account wijzigen!" />
                                                }
                                            </div>
                                            @if (Model.AccountModel.HasAvatar)
                                            {
                                                <div class="col-md-3">
                                                    <div class="well">
                                                        <img src="@Url.Content("~/Shared/ProfilePhotos/" + User.Identity.Name + ".png")" alt="Uw profielfoto" title="Uw huidige profielfoto" class="img-responsive" />
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                    <div class="tab-pane @if (Model.ActiveTab == 3)
                                                         {
                                                             @Html.Raw("active")
                                                         }" id="tab3">
                                        <div class="row">
                                            <div class="col-md-12">
                                                @using (Html.BeginForm("Security", "Account"))
                                                {
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.SecurityModel.Wachtwoord)
                                                        @Html.PasswordFor(m => m.SecurityModel.Wachtwoord, new {@class = "form-control"})
                                                        @Html.ValidationMessageFor(m => m.SecurityModel.Wachtwoord)
                                                    </div>

                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.SecurityModel.BeveilingsVraagId)
                                                        @Html.DropDownListFor(m => m.SecurityModel.BeveilingsVraagId, Model.SecurityModel.BeveilingsVragenList, new {@class = "form-control"})
                                                        @Html.ValidationMessageFor(m => m.SecurityModel.BeveilingsVraagId)
                                                    </div>

                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.SecurityModel.BeveilingsAntwoord)
                                                        @Html.TextBoxFor(m => m.SecurityModel.BeveilingsAntwoord, new {@class = "form-control"})
                                                        @Html.ValidationMessageFor(m => m.SecurityModel.BeveilingsAntwoord)
                                                    </div>

                                                    <input type="submit" class="btn btn-primary" value="Beveiling wijzigen" />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="tab-pane @if (Model.ActiveTab == 2)
                                                         {
                                                             @Html.Raw("active")
                                                         }" id="tab2">
                                        <div class="row">
                                            <div class="col-md-12">
                                                @using (Html.BeginForm("Wachtwoord", "Account"))
                                                {
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.PasswordModel.OldPassword)
                                                        @Html.PasswordFor(m => m.PasswordModel.OldPassword, new {@class = "form-control"})
                                                        @Html.ValidationMessageFor(m => m.PasswordModel.OldPassword)
                                                    </div>

                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.PasswordModel.Password)
                                                        @Html.PasswordFor(m => m.PasswordModel.Password, new {@class = "form-control"})
                                                        @Html.ValidationMessageFor(m => m.PasswordModel.Password)
                                                    </div>

                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.PasswordModel.RepeatPassword)
                                                        @Html.PasswordFor(m => m.PasswordModel.RepeatPassword, new {@class = "form-control"})
                                                        @Html.ValidationMessageFor(m => m.PasswordModel.RepeatPassword)
                                                    </div>

                                                    <input type="submit" class="btn btn-primary" value="Wachtwoord wijzigen" />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer"></div>
</div>

<script>
    $('#choseProfileImage').click(function() {
        // simulate click event
        $('#ProfilePhoto').click();
    });
</script>