﻿@model IEnumerable<Common.Models.Home.Navigation.NavigationModel>

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">In/uit klappen</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Kapsters</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            @{
                var leftNavigationItems = Model.Where(x => x.Side == 0);
                var rightNavigationItems = Model.Where(x => x.Side == 1);
            }
            <ul class="nav navbar-nav onhover">
                @{ Html.RenderPartial("~/Themes/Default/Views/Shared/Navigation/NavigationItems.cshtml", leftNavigationItems); }
            </ul>

            <ul class="nav navbar-nav onhover navbar-right">
                @{ Html.RenderPartial("~/Themes/Default/Views/Shared/Navigation/NavigationItems.cshtml", rightNavigationItems); }
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>