﻿@model Common.Models.Admin.ViewModel.EmailTemplateModel

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Template wijzigen</div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Titel)
                            @Html.TextBoxFor(m => m.Titel, new {@class = "form-control"})
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Bericht)
                            @Html.EditorFor(m => m.Bericht, new {@class = "form-control"})
                        </div>

                        <input type="submit" value="Template wijzigen!" class="btn btn-info btn-gradient"/>
                    }
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>