﻿@model Common.Models.Admin.Pages.SeoPageModel

@{
    ViewBag.Title = "Seo Pagina wijzigen";
}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Pagina wijzigen</div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group">

                            @Html.HiddenFor(m => m.Id)

                            @Html.LabelFor(m => m.Titel)
                            @Html.TextBoxFor(m => m.Titel, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Titel)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.SeoDescription)
                            @Html.TextAreaFor(m => m.SeoDescription, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.SeoDescription)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.SeoKeywords)
                            @Html.TextAreaFor(m => m.SeoKeywords, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.SeoKeywords)
                        </div>
                                
                                
                        <div class="form-group">
                            <div class="fullWidth">
                                <span class="info-icon tool-tip" data-toggle="tooltip" data-placement="right" title="Mag deze pagina gevonden worden door een zoekmachine?"></span>
                                @Html.LabelFor(m => m.Hide, new { @class = "tooltip-label" })
                            </div>
                            @Html.CheckBoxFor(m => m.Hide) Ja
                        </div>

                        <input type="submit" value="Pagina wijzigen!" class="btn btn-info btn-gradient" />
                    }
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
