﻿@model Common.Models.Admin.ViewModel.PaginaModel

@{
    ViewBag.Title = "Pagina toevoegen";
}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Pagina toevoegen</div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">Pagina</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Titel)
                                    @Html.TextBoxFor(m => m.Titel, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.Titel)
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Informatie)
                                    @Html.TextAreaFor(m => m.Informatie, new {@class = "form-control Informatie"})
                                    @Html.ValidationMessageFor(m => m.Informatie)
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Linknaam)
                                    <small>Dit wordt de naam van uw pagina in de url, als u bijvoorbeeld de naam: <b>medewerkers</b> intypt dan wordt url van de pagina: http://uwdomeinnaam.nl/Pagina/<b>medewerkers</b></small>
                                    @Html.TextBoxFor(m => m.Linknaam, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.Linknaam)
                                </div>
                                
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Status)
                                   @Html.CheckBoxFor(m => m.Status, new { @class = "make-switch", @checked = "checked" })
                                    @Html.ValidationMessageFor(m => m.Status)
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">SEO gegevens - gegevens die zoekmachines gebruiken</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SeoTitel)
                                    @Html.TextBoxFor(m => m.SeoTitel, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.SeoTitel)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SeoDescriptie)
                                    @Html.TextAreaFor(m => m.SeoDescriptie, new {@class = "form-control", @rows = "3"})
                                    @Html.ValidationMessageFor(m => m.SeoDescriptie)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SeoKeywoorden)
                                    @Html.TextBoxFor(m => m.SeoKeywoorden, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.SeoKeywoorden)
                                </div>
                            </div>
                        </div>

                        <input type="submit" value="Pagina toevoegen!" class="btn btn-info btn-gradient" />
                    }
                </div>

                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Content/css/bootstrap-switch-min.css")" />
}

@section Scripts{
    <script src="@Url.Content("~/Areas/Admin/Content/js/bootstrap-switch-min.js")"></script>
    <script>
        tinyMCE.baseURL = "/Areas/Admin/Content/js/tinymce/";
        tinymce.init({
            mode: "specific_textareas",
            editor_selector: "Informatie",
            language: 'nl',
            plugins: 'advlist autolink link image lists charmap print preview fullscreen table textcolor code paste template visualchars visualblocks'
        });
    </script>
}