﻿<div id="viewContent" data-url="@Url.Action("_Weergeven")"></div>


@section Scripts{
    <script>
            $('body').on('click', '#themesListContainer .showInfo', function () {
                $($(this).parent().parent().find('.modal')).modal('show');
            });

    </script>
}
