﻿@model Common.Models.Admin.Themes.Edit.BundleViewModel

<div class="col-md-12" id="editTheme">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Thema wijzigen</div>
                    <ul class="nav panel-tabs">
                        @foreach (var tab in Model.ArrayTabModels)
                        {
                            <li class = "@(Model.IsActiveTab(tab.Action) ? "active" : "")">
                                @Html.ActionLink(tab.Name, tab.Action, "Themes", null, new { @id = tab.Name })
                            </li>
                        }
                    </ul>
                </div>
                <div class="panel-body">

                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button id="btnSave" class="btn btn-default btn-gradient">Opslaan</button>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="tab-block margin-bottom-lg">
                                @{Html.RenderPartial("Shared/_Files", Model.ArrayFileTabs);}

                                @{Html.RenderPartial("Shared/_Info", Model.BundleEditFileModel);}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Areas/Admin/Content/js/EditTheme.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/fileButtonReplacer.js")"></script>
}
