﻿/* Navigation */
.navbar-default .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a {
    font-weight: normal;
    text-transform: none;
}

.navbar-default .navbar-brand { font-weight: 700; }

.navbar { margin-bottom: 0px; }

/* News container */
#newsContainer .media-object {
    min-height: 200px;
}
#newsContainer #searchWords .btn-sm {
    margin-right: 5px;
}

/* Widget PhotoAlbums */
#widgetPhotoAlbum .item img {
height: auto;
max-height: 200px;
min-height: 200px;
opacity: .8;
width: 100%;
}
#widgetPhotoAlbum .item {
    padding: 0px 5px;
}
#widgetPhotoAlbum {
    margin: 0px -5px;
}
#widgetPhotoAlbum .item  .has-ribbon:after{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width:60%;
}
#widgetPhotoAlbum .owl-item {
    float: left;
}

/* Widget News articles */
#widgetNewsArticles h2.title {
    color: #f16022;
    font-size: 15px;
}
#widgetNewsArticles .content {
    margin-top: 5px;
}

/* Widget Blog articles */
#widgetBlogArticles h2.title {
    color: #f16022;
    font-size: 15px;
}
#widgetBlogArticles .content {
    margin-top: 5px;
}

/* Owl Carousel */
/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-carousel .owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.owl-carousel .owl-pagination {
    text-align: center;
}
/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/* Styling Next and Prev buttons */

.owl-carousel  .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-carousel .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-carousel  .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-carousel  .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-carousel .owl-controls .owl-page.active span,
.owl-carousel  .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* Guestbook Container */

#GuestbookContainer .input-validation-error {
    background-color: inherit;
    border: 0px;
}

#GuestbookContainer .media {
    border-top: 1px solid #f16022;
    margin-top: 15px;
    padding-top: 15px;
}

#GuestbookContainer .media > .media-body > .media-heading {
    font-size: 15px;
    font-weight: bold;
}

#GuestbookContainer .media > .media-body > .date {
    color: #7d7d7d;
    font-size: 12px;
    font-weight: bold;
}

#GuestbookContainer .media > .media-body > .comment { margin-bottom: 0px; }

#GuestbookContainer .row:first-of-type > .col-md-12 > .row > .col-md-12 > .media {
    border-top: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

#GuestbookContainer .media > .media-body > .row > .col-md-12 > .pull-right > .addComment {
    color: #888888;
    font-size: 10px;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
    text-align: right;
}

#GuestbookContainer .media > .media-body > .row > .col-md-12 > .pull-right > .addComment:hover {
    cursor: pointer;
    text-decoration: underline;
}

#GuestbookContainer .media > .media-body > .row > .col-md-12 > .pull-right { width: 100%; }

#GuestbookContainer .media > .media-body > .row > .col-md-12 > .pull-right > .row > .col-md-6 > .commentContainer {
    display: none;
    margin-top: 15px;
}

/* Page container */

#PageContainer .articleInfo {
    float: left;
    margin-top: -2px;
}

#PageContainer #articleInfoContainer { float: right; }

/* Photoalbum Container */

#photoAlbumContainer #searchContainer input[type='text'] {
    width: auto;
    font-size: 14px;
    color: #7d7d7d;
    font-weight: normal;
}

#photoAlbumContainer #articleName {
    padding-top: 6px;
}

#photoAlbumContainer .albumContainer {
    border: 1px solid #BB6100;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#photoAlbumContainer .albumContainer .overlayImage {
    bottom: 0px;
    left: 0px;
    position: absolute;
}

#photoAlbumContainer .albumContainer img {
    border-top: 1px solid #fff;
    height: auto;
    max-height: 200px;
    min-height: 200px;
    opacity: 0.8;
    width: 100%;
}

#photoAlbumContainer .col-md-3 { margin-top: 15px; }

#photoAlbumContainer .panel-body { padding-top: 0px; }

#photoAlbumContainer .albumContainer img:last-of-type { opacity: 1; }

#photoAlbumContainer .albumContainer > .captionPhoto {
    background-color: rgba(0, 0, 0, 0.75);
    border-top: 1px solid rgba(204, 204, 204, 0.40);
    bottom: 0px;
    color: #fff;
    left: 0px;
    padding: 5px 5px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 999;
}

    #photoAlbumContainer .albumContainer > .captionPhoto span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 992px) {
    #photoAlbumContainer .albumContainer { margin-top: 10px; }
}

/* Photos in Album Container   */

#PhotosinAlbumContainer #images > .col-md-3 { overflow: hidden; }

#PhotosinAlbumContainer #images > .col-md-3 > a > img {
    height: 100%;
    max-height: 175px;
    min-height: 175px;
    width: 100%;
}

@media (max-width: 992px) {
    #PhotosinAlbumContainer .albumContainer { margin-top: 10px; }
}



/* Error */

#errorContainer .col-md-12 > .row { text-align: center; }

/* Account container */

#accountContainer .col-md-3 > .well > img {
    border-radius: 6px;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 150px;
    overflow: hidden;
}

#accountContainer #choseProfileImage { display: block; }

#accountContainer #AccountModel_ProfilePhoto { display: none; }

#accountContainer .tabs-left > .nav-tabs { width: 100%; }

/* Register container */

#RegisterContainer #choseProfileImage { display: block; }

#RegisterContainer #ProfilePhoto { display: none; }

/* Alerts */

.alert { margin: 15px 0px; }

.alert h3 { margin-top: 0px; }
.alert .field-validation-error {
    color: #7d7d7d;
}

/* Carousel */

.carousel { width: 100%; }

/* Well */

.well-light {
    background-color: #F5F5F5;
    border: 1px solid #E9E9E9;
    border-radius: 3px;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}

/* Media */

.media:first-child, .media:first-of-type { padding-top: 0px; }

/* About */

.about { margin: 0px; }

.about img {
    float: left;
    height: 75px;
    margin-right: 20px;
}

.about p { margin-bottom: 0px; }

.about h4, #newsArticleContainer .about p { display: inline; }

/* Index */

#indexContainer #homeSlider { height: 350px; }

#indexContainer #homeSlider .item { height: 350px; }

/* Login Container */

#loginContainer a { display: block; }

/* Blog */

#BlogContainer #searchContainer input[type='text'] {
    width: auto;
    font-size: 14px;
    color: #7d7d7d;
    font-weight: normal;
}

#BlogContainer #blogsArticleName {
    padding-top: 6px;
}

#BlogContainer .date {
    background-color: #F16022;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    text-align: center;
}

#BlogContainer .information li:after {
    content: "//";
    margin-left: 30px;
    margin-right: 30px;
}

#BlogContainer .information {
    color: #858585;
    font-size: 12px;
}

#BlogContainer .information .fa { color: #7d7d7d; }

#BlogContainer .information li:last-of-type:after { content: ""; }

#BlogContainer .spaceIcon {
    padding-left: 5px;
}

#BlogContainer .media ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#BlogContainer .information li { float: left; }

#BlogContainer .date strong {
    display: block;
    font-size: 19px;
}

#BlogContainer .title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

#BlogContainer .col-md-11 > .image {
    max-height: 200px;
    overflow: hidden;
}

#BlogContainer .col-md-11 > .image > img {
    height: auto;
    width: 100%;
}

#BlogContainer .thumbnail:hover { border: 1px solid #f16022; }

/* News article */
#newsArticleContainer .delete-Icon, #newsArticleContainer .edit-Icon {
    opacity: 0.7;
    cursor: pointer;
}
#newsArticleContainer .delete-Icon:hover, #newsArticleContainer .edit-Icon:hover {
    opacity: 1.0;
}
#newsArticleContainer .delete-Icon {
    margin-left: 5px;
}

#newsArticleContainer .thumbnail:hover { border: 1px solid #f16022; }

#newsArticleContainer h2 { margin-top: 0px; }

#newsArticleContainer .articleInfo {
    float: left;
    margin-top: -2px;
}

#newsArticleContainer #articleInfoContainer { float: right; }

#newsArticleContainer .media-list > .media { margin-top: 15px; }

#newsArticleContainer .media-list > .media .info .name { margin: 0px; }

#newsArticleContainer .media-list > .media .info { float: right; }

#newsArticleContainer .media-list > .media .info .date {
    color: #7d7d7d;
    font-size: 10px;
    margin-bottom: 0px;
    margin-top: 1px;
}


/* Blog Article */

#blogArticleContainer .delete-Icon, #blogArticleContainer .edit-Icon {
    opacity: 0.7;
    cursor: pointer;
}
#blogArticleContainer .delete-Icon:hover, #blogArticleContainer .edit-Icon:hover {
    opacity: 1.0;
}
#blogArticleContainer .delete-Icon {
    margin-left: 5px;
}

#blogArticleContainer .col-md-12 > img { width: 100%; }

#blogArticleContainer .information {
    color: #858585;
    font-size: 12px;
}

#blogArticleContainer .information .fa { color: #7d7d7d; }

#blogArticleContainer .information li:after {
    content: "//";
    margin-left: 30px;
    margin-right: 30px;
}

#blogArticleContainer .information li:last-of-type:after { content: ""; }

#blogArticleContainer .fa-tags, #blogArticleContainer .fa-user { padding-right: 2px; }

#blogArticleContainer .media ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#blogArticleContainer .information li { float: left; }

#blogArticleContainer .title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

#blogArticleContainer .col-md-12 > .image {
    max-height: 200px;
    overflow: hidden;
}

#blogArticleContainer .col-md-12 > .image > img {
    height: auto;
    width: 100%;
}

#blogArticleContainer .articleInfo {
    float: left;
    margin-top: -2px;
}

#blogArticleContainer #articleInfoContainer { float: right; }

#blogArticleContainer .media-list > .media { margin-top: 15px; }

#blogArticleContainer .media-list > .media .info .name { margin: 0px; }

#blogArticleContainer .media-list > .media .info { float: right; }

#blogArticleContainer .media-list > .media .info .date {
    color: #7d7d7d;
    font-size: 10px;
    margin-bottom: 0px;
    margin-top: 1px;
}

/* JCarousel */

.jcarousel-wrapper .jcarousel-control-prev {
    background-image: url(/Themes/Default/Content/img/arrowLeft2.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
}

.jcarousel-wrapper .jcarousel-control-prev:hover { background-image: url(/Themes/Default/Content/img/arrowLeft2-hover.png); }

.jcarousel-wrapper .jcarousel-control-next:hover { background-image: url(/Themes/Default/Content/img/arrowRight2-hover.png); }

.jcarousel-wrapper .jcarousel-control-next {
    background-image: url(/Themes/Default/Content/img/arrowRight2.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
}

.jcarousel-wrapper a.jcarousel-control-next:hover, .jcarousel-wrapper a.jcarousel-control-prev:hover {
    color: transparent;
    text-decoration: none;
}

.jcarousel-wrapper .gallery .thumbnail { padding: 10px; }

.jcarousel-wrapper .caption { margin: 10px; }

.jcarousel-wrapper img { width: 100%; }

.jcarousel {
    overflow: hidden;
    position: relative;
}

.jcarousel ul {
    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 20000em;
}

.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}

/* Icons */

.twitter-login {
    background-color: transparent;
    background-image: url('/Themes/Default/Content/img/register/twitterLogin.png');
    border: 0px;
    height: 33px;
    text-indent: -9999999999px;
    width: 180px;
}

.twitter-login:hover { background-image: url('/Themes/Default/Content/img/register/twitterLogin-hover.png'); }

.facebook-login {
    background-color: transparent;
    background-image: url('/Themes/Default/Content/img/register/facebookLogin.png');
    border: 0px;
    height: 33px;
    text-indent: -9999999999px;
    width: 180px;
}

.edit-Icon {
    background-image: url(/Themes/Default/Content/img/page_edit.png);
    width: 16px;
    height: 16px;
    display: inline-block;
}
.delete-Icon {
    background-image: url(/Themes/Default/Content/img/page_delete.png);
    width: 16px;
    height: 16px;
    display: inline-block;
}
.facebook-login:hover { background-image: url('/Themes/Default/Content/img/register/facebookLogin-hover.png'); }

/* Other */

.breadcrumb { margin-top: 10px; }

.nextBlock { margin-top: 15px; }

.gallery .caption { background-color: #F16022; }

.gallery .thumbnail { margin-bottom: 0px; }

.label {
    color: #7d7d7d;
    font-size: 13px;
}

.checkbox > .label {
    bottom: 1px;
    padding-left: 0px;
    position: relative;
}

input[type="checkbox"] { cursor: pointer; }

h2, .h2 {
font-size: 22px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error { color: #ff0000; }

.field-validation-valid { display: none; }

.input-validation-error {
    background-color: #ffeeee;
    border: 1px solid #ff0000;
}

.validation-summary-errors {
    color: #ff0000;
    font-weight: bold;
}

.validation-summary-valid { display: none; }